{% extends 'pc_base.html' %}
{% from 'macros/pc_partial.html' import sidebar %}
{% block main_content %}

{{ sidebar(active = 'product') }}

<div class="contents">
	<div class="contents-header">
		<div class="contents-header-img"><img class="full-img" src="/static/images/product.png" /></div>
		<p class="contents-header-p">产品属性</p>
		<p class="contents-header-p text-sm">product features</p>
		<a class="new-one" href="{{ url_for('product.feature_new') }}"><span class="glyphicon glyphicon-plus"></span></a>
	</div>
	<div class="separator"><span></span></div>
	<div class="widget">
		<div class="widget_header">
			<h4 class="widget_header_title"><span class="glyphicon glyphicon-th-large"></span>
				&nbsp;&nbsp;&nbsp;<a href="{{ url_for('product.category_index') }}" class="text-muted">产品目录列表</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
				<a class="text-success">产品属性管理</a>
			</h4>
		</div>
		<div class="widget_contents padding-0">
			<table class="tables">
				<thead>
					<tr>
						<th>属性名称</th>
						<th>属性值</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
				{% for feature in features %}
					<tr>
						<td>
							<span style="display:inline-block; word-break: break-word;" class="hover-attr">
								&nbsp;&nbsp;{{ feature.get('feature_name') }}
								<a class="text-primary glyphicon glyphicon-edit" href="{{ url_for('product.feature_edit', id = feature.get('feature_id')) }}"></a>
								<a class="text-danger glyphicon glyphicon-remove-circle"></a>
							</span>
						</td>
						<td class="text-left-i too-long-td">
							{% for option in feature.get('options') %}
								<span style="display:inline-block; word-break: break-word;" class="hover-attr">
									&nbsp;&nbsp;{{ option.get('option_name') }}
									<a class="text-primary glyphicon glyphicon-edit" href="{{ url_for('product.option_edit', id = option.get('option_id'), feature_id = feature.get('feature_id')) }}"></a>
									<a class="text-danger glyphicon glyphicon-remove-circle"></a>
								</span>				
							{% endfor %}
						</td>
						<td>
							<a href="{{ url_for('product.option_new', feature_id = feature.get('feature_id')) }}" class="table-edit text-success"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;添加属性值</a>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock %}