{% extends 'pc_base.html' %}
{% from 'macros/pc_partial.html' import sidebar with context %}
{% block main_content %}

{{ sidebar(active = 'product') }}
<div class="contents">
	<div class="contents-header">
		<div class="contents-header-img"><img class="full-img" src="/static/images/product.png" /></div>
		<p class="contents-header-p">库存</p>
		<p class="contents-header-p text-sm">Inventory</p>
	</div>
	<div class="separator"><span></span></div>
	<div class="widget">
		<div class="widget_header">
			<h4 class="widget_header_title"><span class="glyphicon glyphicon-th-large"></span>&nbsp;&nbsp;&nbsp;库存列表</h4>
		</div>
		<div class="widget_contents padding-0">
			<table class="tables noPadding">
				<thead>
					<tr>
						<th>产品目录</th>
						<th>产品</th>
						<th>Sku</th>
						<th>正常库存(㎡)</th>
                        <th>尾货库存(㎡)</th>
                        <th>已下单数量(㎡)</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
				
				{% for sku in skus %}
                    <tr>
                        <td>{{ sku.get('category_info').get('category_name') }}</td>
                        <td>{{ sku.get('product_info').get('name') }}</td>
                        <td>
                            {% for option in sku.get('options') %}
                                    {% for key, value in option.items() %}
                                            {{ value }}
                                    {% endfor %}
                            {% endfor %}
                        </td>
                        <td>{{ sku.get('normal_stocks') }}</td>
                        <td>{{ sku.get('tailory_stock') }}</td>
                        <td>{{ sku.get('stocks_for_order') }}</td>
                        <td>
                                <a class="table-edit text-info" href="{{ url_for('inventory.list_invs', id = sku.get('sku_id')) }}"><span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;查看详情</a>
                                <a href="{{ url_for('inventory.new', id = sku.get('sku_id')) }}" class="table-del text-success"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;新增库存</a>
                        </td>
                    </tr>

				{% endfor %}

				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock %}