{% extends 'pc_base.html' %}
{% from 'macros/pc_partial.html' import sidebar %}
{% block main_content %}

{{ sidebar(active = 'product') }}
<div class="contents">
	<div class="contents-header">
		<div class="contents-header-img"><img class="full-img" src="/static/images/product.png" /></div>
		<p class="contents-header-p">库存</p>
		<p class="contents-header-p text-sm">Inventory</p>
	</div>
	<div class="separator"><span></span></div>
	<div class="widget">
		<div class="widget_header">
			<h4 class="widget_header_title"><span class="glyphicon glyphicon-th-large"></span>&nbsp;&nbsp;&nbsp;库存列表</h4>
		</div>
		<div class="widget_contents padding-0">
			<table class="tables noPadding">
				<thead>
					<tr>
						<th width="15%">产品目录</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				{% for category in categories %}
					<tr>
						<td>{{ category.get('category_name') }}</td>
						<td>
                            {% with products_json = load_products(category.get('category_id')) %}
                                {% if len(products_json) > 0 %}
                                    <table class="tables noPadding">
                                        <thead>
                                            <tr>
                                                <th width="20%">产品</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for product_json in products_json %}
                                                <tr>
                                                    <td>{{ product_json.get('name') }}</td>
                                                    <td>{% with skus_json = load_skus(product_json.get('product_id')) %}
                                                            {% if len(skus_json.get('skus')) > 0 %}
                                                                <table class="tables noPadding">
                                                                    <thead>
                                                                        <tr>
                                                                            <th width="40%">Sku</th>
                                                                            <th width="15%">库存</th>
                                                                            <th>操作</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        {% for sku in skus_json.get('skus') %}
                                                                            <tr>
                                                                                <td>
                                                                                    {% for option in sku.get('options') %}
                                                                                        {% for key, value in option.items() %}
                                                                                            {{ value }}
                                                                                        {% endfor %}
                                                                                    {% endfor %}
                                                                                </td>
                                                                                <td>{{ sku.get('stocks') }}</td>
                                                                                <td>
                                                                                    <a class="table-edit text-info" href="{{ url_for('inventory.list_invs', id = sku.get('sku_id')) }}"><span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;查看详情</a>
                                                                                    <a href="{{ url_for('inventory.new', id = sku.get('sku_id')) }}" class="table-del text-success"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;新增库存</a>
                                                                                </td>
                                                                            </tr>
                                                                        {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            {% endif %}
                                                        {% endwith %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                {% endif %}
                            {% endwith %}
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock %}