{% extends 'pc_base.html' %}
{% from 'macros/pc_partial.html' import sidebar %}
{% block main_content %}

{{ sidebar(active = 'product') }}
<div class="contents">
	<div class="contents-header">
		<div class="contents-header-img"><img class="full-img" src="/static/images/product.png" /></div>
		<p class="contents-header-p">库存列表</p>
		<p class="contents-header-p text-sm">Inventory</p>
	</div>
	<div class="separator"><span></span></div>
	<div class="widget">
		<div class="widget_header">
			<h4 class="widget_header_title"><span class="glyphicon glyphicon-th-large"></span>&nbsp;&nbsp;&nbsp;库存批次列表</h4>
		</div>
		<div class="widget_contents padding-0">
			<table class="tables">
				<thead>
					<tr>
						<th width="15%">经销商</th>
						<th width="10%">库存量</th>
                        <th>详情</th>
					</tr>
				</thead>
				<tbody>
				{% for inv in invs %}
					<tr>
						<td>{{ inv.get('user_name') }}</td>
						<td>{{ inv.get('total') }}</td>
                        <td>
                            <table class="tables">
                                <thead>
                                    <tr>
                                        <th width="15%">批次号</th>
                                        <th width="15%">创建日期</th>
                                        <th width="15%">生产日期</th>
                                        <th width="10%">库存量</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for batch in inv.get('batches') %}
                                        <tr>
                                            <td>{{ batch.get('batch_no') }}</td>
                                            <td>{{ batch.get('created_at') }}</td>
                                            <td>{{ batch.get('production_date') }}</td>
                                            <td>{{ batch.get('stocks') }}</td>
                                            <td>
                                                <a class="table-edit text-info" href="{{ url_for('inventory.edit', id = batch.get('inv_id')) }}"><span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;修改</a>
                                                <form action="{{ url_for('inventory.delete', id = batch.get('inv_id')) }}" method="post" style="display: inline;">
                                                    <button type="submit" data-confirm="Are you sure?" class="btn-link table-del" style="color: #843534; text-decoration: none; "><span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;删除该批次</button>
                                                </form>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
        <div class="text-right top-gap-1">
            <a class="btn btn-default my-btn right-gap-1" href="javascript:history.go(-1);">返回</a>
        </div>
	</div>
</div>

{% endblock %}