{% extends 'pc_base.html' %}
{% from 'macros/pc_partial.html' import sidebar %}
{% block main_content %}

{{ sidebar(active = 'dealer') }}
<div class="contents">
	<div class="contents-header">
		<div class="contents-header-img"><img class="full-img" src="/static/images/product.png" /></div>
		<p class="contents-header-p">库存</p>
		<p class="contents-header-p text-sm">Inventory</p>
	</div>
	<div class="separator"><span></span></div>
	<div class="widget">
		<div class="widget_header">
			<h4 class="widget_header_title"><span class="glyphicon glyphicon-th-large"></span>&nbsp;&nbsp;&nbsp;库存列表</h4>
		</div>
		<div class="widget_contents padding-0">
            <table class="tables noPadding">
                <thead>
                    <tr>
                        <th>产品目录</th>
                        <th>产品-sku</th>
                        <th>经销商</th>
                        <th>批次号</th>
                        <th>创建日期</th>
                        <th>生产日期</th>
                        <th>库存量</th>
                        <th>共享库存量</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
				{% for category in categories %}
                    {% with products_json = load_products(category.get('category_id')) %}
                        {% if len(products_json) > 0 %}
                            {% for product_json in products_json %}
                                {% with skus_json = load_skus(product_json.get('product_id')) %}
                                    {% if len(skus_json.get('skus')) > 0 %}
                                        {% for sku in skus_json.get('skus') %}
                                            {% with invs = load_user_inventories(user_id,sku.get('sku_id'), "2") %}
                                                {% for inv in invs %}
                                                    {% for batch in inv.get('batches') %}
                                                        <tr>
                                                            <td>{{ category.get('category_name') }}</td>
                                                            <td>
                                                                {{ product_json.get('name') }}--
                                                                {% for option in sku.get('options') %}
                                                                    {% for key, value in option.items() %}
                                                                        {{ value }}
                                                                    {% endfor %}
                                                                {% endfor %}
                                                            </td>
                                                            <td>{{ inv.get('user_name') }}</td>
                                                            <td>{{ batch.get('batch_no') }}</td>
                                                            <td>{{ batch.get('created_at') }}</td>
                                                            <td>{{ batch.get('production_date') }}</td>
                                                            <td>{{ batch.get('stocks') }}</td>
                                                            <td>
                                                                {{ 0 if batch.get('share_stocks') == None else batch.get('share_stocks') }}
                                                            </td>
                                                            <td>
                                                                <a class="table-edit text-info" href="{{ url_for('inventory.edit', id = batch.get('inv_id'), from = 'dealer') }}"><span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;修改</a>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                {% endfor %}
                                            {% endwith %}
                                        {% endfor %}
                                    {% endif %}
                                {% endwith %}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock %}