{% extends 'pc_base.html' %}
{% from 'macros/pc_partial.html' import sidebar %}
{% block main_content %}

{{ sidebar(active = 'sale') }}
<div class="contents">
    <div class="contents-header">
        <div class="contents-header-img"><img class="full-img" src="/static/images/product.png" /></div>
        <p class="contents-header-p">工程剩余库存申请详情</p>
        <p class="contents-header-p text-sm">details of inventories</p>
        <a class="new-one" href="{{ url_for('inventory.show_share_inventory', id=si.id) }}"><span class="glyphicon glyphicon-envelope"></span></a>
    </div>
    <div class="separator"><span></span></div>


    <div class="widget">
        <div class="widget_header">
            <h4 class="widget_header_title"><span class="glyphicon glyphicon-th-large"></span>&nbsp;&nbsp;&nbsp;工程剩余库存申请详情</h4>
        </div>
        <div class="widget_contents padding-0 bot-gap-3">
            <div class="form-item inline-2">
                <span class="form-label">申请编号(批次号)</span>
                <input class="form-input form-control" value="{{ si.batch_no }}" disabled/>
                <span class="form-label">申请日期</span>
                <input class="form-input form-control" value="{{ si.created_at.strftime('%Y-%m-%d') }}" disabled/>
                <span class="form-label">状态</span>
                <input class="form-input form-control" value="{{ si.status }}" disabled/>
            </div>
        </div>
				<div class="widget_header">
            <h4 class="widget_header_title"><span class="glyphicon glyphicon-th-large"></span>&nbsp;&nbsp;&nbsp;详情列表</h4>
        </div>


        <div class="widget_contents padding-0 bot-gap-3">
						<div class="title-style">
							<span>DETAILS</span>
							<i class="pull-right	glyphicon glyphicon-list-alt"></i>
						</div>
            <div class="form-item">
								<div class="sub-form-item">
									<span>产品名称:</span>
									<span>{{ si.product_name }}</span>
								</div>
								<div class="sub-form-item">
									<span>规格:</span>
									<span>{{ si.sku_option }}</span>
								</div>
								<div class="sub-form-item">
									<span>生产日期:</span>
									<span>{{ si.production_date }}</span>
								</div>
            </div>
            <div class="form-item">
								<div class="sub-form-item">
									<span>申请经销商:</span>
									<span>{{ si.app_user.nickname }}</span>
								</div>
								<div class="sub-form-item">
									<span>联系人:</span>
									<span>{{ si.app_user.user_infos[0].name }}</span>
								</div>
								<div class="sub-form-item">
									<span>联系电话:</span>
									<span>{{ si.app_user.user_infos[0].telephone }}</span>
								</div>
            </div>
						<div class="form-item">
								<div class="sub-form-item">
									<span>库存量:</span>
									<span>{{ si.stocks }}</span>
								</div>
								<div class="sub-form-item">
									<span>价格:</span>
									<span>{{ si.price }}</span>
								</div>
            </div>
						<div class="form-item">
                            {% for file in si.pic_files %}
                            <div class="sub-form-item">
                                <img src="{{ file }}">
                            </div>
                            {% endfor %}

            </div>
        </div>


        {% if si.status=="新申请待审核" %}
            <div class="text-right top-gap-3">
                <a class="btn btn-default my-btn right-gap-2" href="{{ url_for('inventory.audit_share_inventory', id=si.id) }}">审核</a>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}
