{% extends 'mobile_base.html' %}
{% from 'macros/mobile_header.html' import mobile_header %}
{% block content %}
{{ mobile_header('库存共享') }}

<div class="main-content">
	<div class="text">
		<p class="text-title">库存列表</p>
	</div>
	
	<div class="wrapper">		
			<div class="col-6-gap bot-gap-1 storage-link"><a href="/mobile_share_storage_upload" class="text-md btn btn-default btn-block">北京库存</a></div>
			<div class="col-6-gap bot-gap-1 storage-link"><a class="text-md btn btn-default btn-block">上海库存</a></div>
		
		
			<div class="col-6-gap bot-gap-1 storage-link"><a class="text-md btn btn-default btn-block">江苏库存</a></div>
			<div class="col-6-gap bot-gap-1 storage-link"><a class="text-md btn btn-default btn-block">浙江库存</a></div>
		
		
			<div class="col-6-gap bot-gap-1 storage-link"><a class="text-md btn btn-default btn-block">安徽库存</a></div>
			<div class="col-6-gap bot-gap-1 storage-link"><a class="text-md btn btn-default btn-block">湖北库存</a></div>
		
		
			<div class="col-6-gap bot-gap-1 storage-link"><a class="text-md btn btn-default btn-block">湖南库存</a></div>
			<div class="col-6-gap bot-gap-1 storage-link"><a class="text-md btn btn-default btn-block">广东库存</a></div>
		
		
			<div class="col-6-gap bot-gap-1 storage-link"><a class="text-md btn btn-default btn-block">广西库存</a></div>
			<div class="col-6-gap bot-gap-1 storage-link"><a class="text-md btn btn-default btn-block">河南库存</a></div>
		
		
			<div class="col-6-gap bot-gap-1 storage-link"><a class="text-md btn btn-default btn-block">河北库存</a></div>
			<div class="col-6-gap bot-gap-1 storage-link"><a class="text-md btn btn-default btn-block">山东库存</a></div>
		
		
			<div class="col-6-gap bot-gap-1 storage-link"><a class="text-md btn btn-default btn-block">甘肃库存</a></div>
			<div class="col-6-gap bot-gap-1 storage-link"><a class="text-md btn btn-default btn-block">四川库存</a></div>
		
		
			<div class="col-6-gap bot-gap-1 storage-link"><a class="text-md btn btn-default btn-block">辽宁库存</a></div>
			<div class="col-6-gap bot-gap-1 storage-link"><a class="text-md btn btn-default btn-block">吉林库存</a></div>
		
		
			<div class="col-6-gap bot-gap-1 storage-link"><a class="text-md btn btn-default btn-block">新疆库存</a></div>
			<div class="col-6-gap bot-gap-1 storage-link"><a class="text-md btn btn-default btn-block">西藏库存</a></div>
	</div>
		
</div>

{% endblock %}