{% extends 'mobile_base.html' %}
{% from 'macros/mobile_header.html' import mobile_header %}
{% block content %}
{{ mobile_header('物料需要') }}

		<div class="main-content">
			<div class="text bot-gap-2">
				<p class="text-title bot-gap-1">门头设计下载</p>				
			</div>
			<div class="modal fade full-modal" id="modal_1">
				<div class="modal-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-content  top-gap-2">
								<div class="modal-body"><img src="/static/images/sport1.jpg" class="full-img"></div>
						</div><!-- /.modal-content -->
				</div><!-- /.modal -->
			</div>
			
			<div class="top-gap-2 thumbnail img_modal_1">
				<img src="/static/images/sport1.jpg" class="full-img">
			</div>
			
			<div class="top-gap-2">
				<input class="form-control" placeholder="输入邮箱"/>
			</div>
			
			<div class="fixed-bot">
				<a class="orange">一键下载</a>
			</div>
		</div>
		<script>
			$(".img_modal_1").on("click",function(){
				$("#modal_1").modal("show");
			})		
		</script>

{% endblock %}
