{% extends 'mobile_base.html' %}
{% from 'macros/mobile_header.html' import mobile_header %}
{% block content %}
{{ mobile_header('物流追踪') }}

<div class="main-content">
	<div class="text">
		<p class="text-title">物流状态</p>
	</div>
	<div class="divider3" style="width:100%;background:#eee;margin-top:0px"></div>
	<div class="tracking-block passed">
		<p class="tracking-detail text-md">合同日期 ： 2017.6.7</p>
	</div>
	<div class="tracking-block active">
		<p class="tracking-detail text-md">项目联系人 ：王卢卡</p>
	</div>
	<div class="tracking-block">
		<p class="tracking-detail text-md">生产日期 ： </p>
	</div>
	<div class="tracking-block">
		<p class="tracking-detail text-md">发货日期 ： </p>
	</div>
	<div class="tracking-block">
		<p class="tracking-detail text-md">司机日期 ： </p>
	</div>
</div>

{% endblock %}
