<html>
	<head>
		<!---inilization-->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0;">
		<!--公用的css-->
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/init.css">
		<!--公用的javascript-->
		<script type="text/javascript" src="js/jquery.min.js"></script> 
		<script type="text/javascript" src="js/bootstrap.min.js"></script> 
		<!--mobile的js-->
		<script type="text/javascript" src="js/mobile_general.js"></script>
		<!--mobile的css-->
		<link rel="stylesheet" href="css/mobile_style.css">
	</head>
	<body>
		<header class="header">
			<div class="header-logo"><a href="index.html"><img class="img-responsive" src="images/logo.png"></a></div>
			<div class="header-title">公司简介</div>
		</header>
		<div class="main-content">
			<div class="profile-banner"><img src="images/floor1.jpg" class="full-img"></div>
			<div class="text">
				<p class="text-title">世界技术 中国制造</p>
				<p class="text-content">赛尚地材是专注于弹性地材系统的国际品牌,拥有先进的大型生产基地和产品自主开发的创新团队</p>
			</div>
			<div class="divider"></div>
			<div class="text">
				<p class="text-title">企业介绍</p>
				<p class="text-content">公司始终专注"地面科技、安全赛尚"的核心理念，引进世界一流设备与技术，成立国内第一家PVC地板检测权威实验室，攻克技术与生产难关 。成功打破国外品牌垄断，成为国内第一家真正立足于高端弹性地材行业的企业 。</p>
				<p class="text-content">作为北京、伦敦、里约奥运会弹性地板供应商，可谓世界技术，中国制造，在地面建材行业里独领风骚。</p>
			</div>
		</div>
	</body>
</html>
