<html>
	<head>
		<!---inilization-->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0;">
		<!--公用的css-->
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/init.css">
		<!--公用的javascript-->
		<script type="text/javascript" src="js/jquery.min.js"></script> 
		<script type="text/javascript" src="js/bootstrap.min.js"></script> 
		<!--mobile的js-->
		<script type="text/javascript" src="js/mobile_general.js"></script>
		<!--mobile的css-->
		<link rel="stylesheet" href="css/mobile_style.css">
	</head>
	<body>
		<header class="header">
			<div class="header-logo"><a href="index.html"><img class="img-responsive" src="images/logo.png"></a></div>
			<div class="header-title">经销政策</div>
		</header>
		<div class="main-content">
			<div class="profile-banner"><img src="images/floor1.jpg" class="full-img"></div>
			<div class="text">
				<p class="text-title">Policy 1.</p>
				<p class="text-content">赛尚地材是专注于弹性地材系统的国际品牌,拥有先进的大型生产基地和产品自主开发的创新团队</p>
			</div>
			<div class="text">
				<p class="text-title">Policy 2.</p>
				<p class="text-content">赛尚地材是专注于弹性地材系统的国际品牌,拥有先进的大型生产基地和产品自主开发的创新团队</p>
			</div>
			<div class="text">
				<p class="text-title">Policy 3.</p>
				<p class="text-content">赛尚地材是专注于弹性地材系统的国际品牌,拥有先进的大型生产基地和产品自主开发的创新团队</p>
			</div>
		</div>
	</body>
</html>
