{% extends 'mobile_base.html' %}
{% from 'macros/mobile_header.html' import mobile_header %}
{% block content %}
{{ mobile_header('施工指导') }}

		<div class="main-content">
			<div class="text">
				<p class="text-title">施工材料指导</p>
			</div>
			<div class="text">
				<p class="text-content text-sm">1、界面剂：涂表面气孔</p>
				<p class="text-content text-sm">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;解释内容：************************</p>
				<div class="top-gap-1 thumbnail img"><img src="/static/images/sport1.jpg"></div>
				<div class="top-gap-1 thumbnail img"><img src="/static/images/sport1.jpg"></div>
			</div>
			<div class="divider4"></div>
			<div class="text">
				<p class="text-content text-sm">2、胶水：粘合</p>
				<p class="text-content text-sm">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;解释内容：************************</p>
				<div class="top-gap-1 thumbnail img"><img src="/static/images/sport1.jpg"></div>
			</div>
		</div>

{% endblock %}