{% extends 'mobile_base.html' %}
{% from 'macros/mobile_header.html' import mobile_header %}
{% block content %}
{{ mobile_header('产品设计') }}

<div class="main-content">
	<div class="center-wrappper" style="top:100px;">
		<a class="btn btn-default btn-block text-lg">输入报备编号</a>
		<a class="btn btn-default btn-block top-gap-3 text-lg">上传设计图纸</a>
		<a class="btn btn-default btn-block top-gap-3 text-lg">申请设计</a>
		<a class="btn btn-default btn-block top-gap-3 text-lg">查看申请结果</a>
		<a class="btn btn-default btn-block top-gap-3 text-lg">下载设计文件</a>
	</div>
</div>
		
{% endblock %}