{% extends 'mobile_base.html' %}
{% from 'macros/mobile_header.html' import mobile_header %}
{% block content %}
{{ mobile_header('售后服务') }}

		<div class="main-content">
			<div class="text text-style-1">
				<p class="text-title title-style-1">全国统一热线</p>
				<p class="phone-number">400-880-888</p>
			</div>
			<div class="divider4 top-gap-3"></div>
			<div class="text text-style-1">
				<p class="text-title title-style-1">各地区热线</p>
			</div>
			<div class="text col-6-gap top-gap-0">
				<p class="text-content phone-title text-sm">上海</p>
				<p class="phone-number sub-number text-sm">13333333333</p>
			</div>
			<div class="text col-6-gap top-gap-0">
				<p class="text-content phone-title text-sm">北京</p>
				<p class="phone-number sub-number text-sm">13333333333</p>
			</div>
			<div class="text col-6-gap top-gap-1">
				<p class="text-content phone-title text-sm">武汉</p>
				<p class="phone-number sub-number text-sm">13333333333</p>
			</div>
			<div class="text col-6-gap top-gap-1">
				<p class="text-content phone-title text-sm">福建</p>
				<p class="phone-number sub-number text-sm">13333333333</p>
			</div>
			<div class="text col-6-gap top-gap-1">
				<p class="text-content phone-title text-sm">广州</p>
				<p class="phone-number sub-number text-sm">13333333333</p>
			</div>
			<div class="text col-6-gap top-gap-1">
				<p class="text-content phone-title text-sm">甘肃</p>
				<p class="phone-number sub-number text-sm">13333333333</p>
			</div>
			<div class="text col-6-gap top-gap-1">
				<p class="text-content phone-title text-sm">深圳</p>
				<p class="phone-number sub-number text-sm">13333333333</p>
			</div>
			<div class="clearfix"></div>
		</div>

{% endblock %}