{% extends 'pc_base.html' %}
{% from 'macros/pc_partial.html' import sidebar with context %}
{% block main_content %}

{{ sidebar(active = 'design') }}
<div class="contents">
    <div class="contents-header">
        <div class="contents-header-img"><img class="full-img" src="/static/images/product.png" /></div>
        <p class="contents-header-p">产品设计申请详情</p>
        <p class="contents-header-p text-sm">details of design application</p>
    </div>
    <div class="separator"><span></span></div>

    <div class="widget">
        <div class="widget_header">
            <h4 class="widget_header_title"><span class="glyphicon glyphicon-th-large"></span>&nbsp;&nbsp;&nbsp;项目报备详情</h4>
        </div>
        <div class="widget_contents padding-0 bot-gap-2">
            <div class="form-item inline-2">
                <span class="form-label">报备编号</span>
                <input class="form-input form-control" value="{{ project_report.report_no }}" disabled/>
                <span class="form-label">创建日期</span>
                <input class="form-input form-control" value="{{ project_report.created_at.strftime('%Y-%m-%d') }}" disabled/>
                <span class="form-label">状态</span>
                <input class="form-input form-control" value="{{ project_report.status }}" disabled/>
            </div>
        </div>
        <div class="widget_contents padding-0">
            <table class="tables">
                <thead>
                    <tr>
                        <th>申请公司名称</th>
                        <th>项目跟进人</th>
                        <th>联系电话</th>
                        <th>联系传真</th>
                        <th>项目名称</th>
                        <th>项目报备日期</th>
                        <th>项目地址</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ project_report.report_content.get('app_company') }}</td>
                        <td>{{ project_report.report_content.get('project_follower') }}</td>
                        <td>{{ project_report.report_content.get('contract_phone') }}</td>
                        <td>{{ project_report.report_content.get('contract_fax') }}</td>
                        <td>{{ project_report.report_content.get('project_name') }}</td>
                        <td>{{ project_report.report_content.get('report_date') }}</td>
                        <td>{{ project_report.report_content.get('project_address') }}</td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th>项目面积</th>
                        <th>产品使用场所</th>
                        <th>推荐产品系列</th>
                        <th>推荐产品颜色</th>
                        <th>项目完工时间</th>
                        <th>预计订购产品时间</th>
                        <th>竞争品牌情况</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ project_report.report_content.get('project_area') }}</td>
                        <td>{{ project_report.report_content.get('product_place') }}</td>
                        <td>{{ project_report.report_content.get('recommended_product_line') }}</td>
                        <td>{{ project_report.report_content.get('recommended_product_color') }}</td>
                        <td>{{ project_report.report_content.get('project_completion_time') }}</td>
                        <td>{{ project_report.report_content.get('expected_order_time') }}</td>
                        <td>{{ project_report.report_content.get('competitive_brand_situation') }}</td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th>项目业主</th>
                        <th>项目装饰总包</th>
                        <th>项目设计公司</th>
                        <th>是否需要授权书</th>
                        <th>授权预计开具日期</th>
                        <th>需授权公司名称</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ project_report.report_content.get('project_owner') }}</td>
                        <td>{{ project_report.report_content.get('project_decoration_total') }}</td>
                        <td>{{ project_report.report_content.get('project_design_company') }}</td>
                        <td>{{ project_report.report_content.get('is_authorization_needed') }}</td>
                        <td>{{ project_report.report_content.get('expected_authorization_date') }}</td>
                        <td>{{ project_report.report_content.get('authorize_company_name') }}</td>
                        <td></td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th>销售代表</th>
                        <th>销售主管</th>
                        <th>销售总监</th>
                        <th>是否开具授权</th>
                        <th>授权书日期</th>
                        <th>授权书编号</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ project_report.audit_content.get('sales_representative') }}</td>
                        <td>{{ project_report.audit_content.get('sales_executive') }}</td>
                        <td>{{ project_report.audit_content.get('sales_director') }}</td>
                        <td>{{ project_report.audit_content.get('is_authorized') }}</td>
                        <td>{{ project_report.audit_content.get('authorization_date') }}</td>
                        <td>{{ project_report.audit_content.get('authorization_no') }}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="widget top-gap-2">
        <div class="widget_header">
            <h4 class="widget_header_title"><span class="glyphicon glyphicon-th-large"></span>&nbsp;&nbsp;&nbsp;产品设计申请详情</h4>
        </div>
        <div class="widget_contents padding-0 bot-gap-3">
            <div class="form-item inline-2">
                <span class="form-label">申请日期</span>
                <input class="form-input form-control" value="{{ application.created_at.strftime('%F') }}" disabled/>
                <span class="form-label">经销商</span>
                <input class="form-input form-control" value="{{ application.applicant.nickname }}" disabled/>
                <span class="form-label">经销商所属区域</span>
                <input class="form-input form-control" value="{{ application.applicant.sales_areas.all()[0].name }}" disabled/>
            </div>
            <div class="form-item">
                <span class="form-label">设计图纸<br>(微信端上传)</span>
                <a href="{{ url_for('design_application.ul_file', id = application.id) }}" class="btn btn-info">点击下载</a>
            </div>
        </div>

        <div class="widget_header">
            <h4 class="widget_header_title"><span class="glyphicon glyphicon-th-large"></span>&nbsp;&nbsp;&nbsp;申请审批</h4>
        </div>
        
        <form action="{{ url_for('design_application.edit', id = application.id) }}" enctype="multipart/form-data" method="post">
            <div class="widget_contents padding-0">
                <div class="form-item">
                    <span class="form-label">申请状态</span>
                    {{ form.status(class='form-input form-control')}}
                </div>
                <div class="form-item">
                    <span class="form-label">上传设计文件<br>(微信端下载)</span>
                    <input name="dl_file" class="form-input form-control" type="file"/>
                </div>
            </div>
            <div class="text-right top-gap-1">
                <a href="{{ url_for('design_application.index') }}" class="btn btn-default my-btn">返回</a>
                <button type="submit" class="btn btn-default my-btn" data-disable-with="Please wait...">提交</button>     
            </div>
        </form>

    </div>
</div>

{% endblock %}
