{% extends 'base.html' %}
{% block extra_styles %}
	<link rel="stylesheet" href="{{ url_for('static', filename = 'stylesheets/pc_style.css') }}">
	{% block custome_styles %}
	{% endblock %}
{% endblock %}

{% block extra_scripts %}
	{% block custom_scripts %}
	{% endblock %}
	<script src="{{ url_for('static', filename = 'javascripts/pc_general.js') }}"></script>
	<script src="{{ url_for('static', filename = 'javascripts/metisMenu.js') }}"></script>
	<script src="{{ url_for('static', filename = 'javascripts/nicescroll.js') }}"></script>
	<script src="{{ url_for('static', filename = 'javascripts/vue.min.js') }}"></script>
{% endblock %}

{% block content %}
<div class="body-content">
	<header class="my-header">
		<div class="logo"><img src="/static/images/logo.png" alt="logo"class="full-img"><span> CRM</span></div>
		{% if current_user.is_authenticated %}
			<ul class="header-notify">
				<li><a class="notify-icon glyphicon glyphicon-envelope"><span class="notify-badge green">1</a></span></li>
				<li><a class="notify-icon glyphicon glyphicon-calendar"><span class="notify-badge red">3</a></span></li>
				<li><a class="notify-icon glyphicon glyphicon-bell"><span class="notify-badge yellow">5</a></span></li>
				<span>用户 {{ current_user.nickname }}</span>
			</ul>

			<a href="{{url_for('organization.user_logout')}}" class="logout glyphicon glyphicon-log-out" title="注销"></a>
		{% else %}
			<a href="{{url_for('organization.user_login')}}"class="login glyphicon glyphicon-log-in" title="登录"></a>
		{% endif %}
	</header>
	<div class="my-main">
		<div class="main-content clearfix">
			{% block main_content %}{% endblock %}
		</div>
	</div>
	<footer class="my-footer">
		苏ICP备15012574号-1 
		&nbsp;|&nbsp; 
		江苏赛尚新材料科技有限公司
	</footer>
</div>
{% endblock %}