{% extends 'pc_base.html' %}
{% from 'macros/pc_partial.html' import sidebar %}
{% from 'macros/pc_pagination.html' import render_pagination %}
{% block main_content %}

{{ sidebar(active = 'organization') }}

<div class="contents">
	<div class="contents-header">
		<div class="contents-header-img"><img class="full-img" src="/static/images/product.png" /></div>
		<p class="contents-header-p">区域管理和销售团队</p>
		<p class="contents-header-p text-sm">regional_and_team management</p>
	</div>
	<div class="separator"><span></span></div>
	<form class="form form-horizontal" url="{{url_for('organization.regional_manage_team',sah_id=sah_id,leader_id=leader_id,region_province_id=region_province_id)}}" role="form" method="post">
	    <div class="form-style form-default">
	        <div class="widget_contents padding-0">
	        	<table class="tables">
	        		<tr>
	        			<th colspan=2>销售团队选择</th>
	        		</tr>
					{% for u in user_infos %}
						<tr>
							<td>
								{% if user_infos[u]['choose'] ==1 %}
				        			<input type="radio" name="user_id" value="{{u}}" checked="{{user_infos[u]['choose']}}" />
				        		{% else %}	        			
				        			<input type="radio" name="user_id" value="{{u}}" />
				        		{% endif %}
				        	</td>
				        	<td>{{user_infos[u]['name']}}</td>
						</tr>
					{% endfor %}	
				</table>
	        </div>

	        <div class="text-right top-gap-2 right-gap-3">
	            <button class="btn btn-default my-btn">提交</button>
	        </div>
	    </div>
	</form>
</div>

{% endblock %}