{% extends 'pc_base.html' %}
{% from 'macros/pc_partial.html' import sidebar %}
{% from 'macros/pc_form_field_error.html' import render_form_field_error %}
{% block main_content %}

{{ sidebar(active = 'organization') }}

<div class="contents">
    <div class="contents-header">
        <div class="contents-header-img"><img class="full-img" src="/static/images/product.png" /></div>
	<p class="contents-header-p">用户管理</p>
	<p class="contents-header-p text-sm">user management</p>
    </div>
    <div class="separator"><span></span></div>
    <form class="form form-horizontal" method="post" url="{{ url_for('organization.user_new') }}" role="form">
        <div class="widget_contents padding-0 item-wrapper">
            <div class="form-item item-template">
                <div class="form-item-2 col-3">
                    <span>{{ form.user_type.label }}</span>
                    {{ form.user_type(class = 'form-input form-control',id="select_user_type") }}
                    {{ render_form_field_error(form.user_type) }}
                </div>
                 <div class="form-item-2 col-3">
                    <span>* {{ form.email.label }}</span>
                    {{ form.email(class = 'form-input form-control',placeholder="请输入email") }}
                    {{ render_form_field_error(form.email) }}
                </div>
                 <div class="form-item-2 col-3">
                    <span>* {{ form.name.label }}</span>
                    {{ form.name(class = 'form-input form-control',placeholder="请输入姓名") }}
                    {{ render_form_field_error(form.name) }}
                </div>
                 <div class="form-item-2 col-3">
                    <span>{{ form.nickname.label }}</span>
                    {{ form.nickname(class = 'form-input form-control',placeholder="请输入昵称") }}
                    {{ render_form_field_error(form.nickname) }}
                </div>
                 <div class="form-item-2 col-3">
                    <span>* {{ form.password.label }}</span>
                    {{ form.password(class = 'form-input form-control',placeholder="请输入密码") }}
                    {{ render_form_field_error(form.password) }}
                </div>
                 <div class="form-item-2 col-3">
                    <span style="vertical-align:middle">* {{ form.password_confirm.label }}</span>
                    {{ form.password_confirm(class = 'form-input form-control',placeholder="请再次输入密码") }}
                    {{ render_form_field_error(form.password_confirm) }}
                </div>
                 <div class="form-item-2 col-3">
                    <span>* {{ form.address.label }}</span>
                    {{ form.address(class = 'form-input form-control',placeholder="请输入地址") }}
                    {{ render_form_field_error(form.address) }}
                </div>
                 <div class="form-item-2 col-3">
                    <span>* {{ form.phone.label }}</span>
                    {{ form.phone(class = 'form-input form-control',placeholder="请输入电话") }}
                    {{ render_form_field_error(form.phone) }}
                </div>
                 <div class="form-item-2 col-3">
                    <span>{{ form.title.label }}</span>
                    {{ form.title(class = 'form-input form-control',placeholder="请输入title") }}
                    {{ render_form_field_error(form.title) }}
                </div>
                 <div class="form-item-2 col-3" id="search_user_dept_ranges">
                    <span style="vertical-align:middle">* {{ form.dept_ranges.label }}</span>
                    {{ form.dept_ranges(class = 'form-input form-control') }}
                    {{ render_form_field_error(form.dept_ranges) }}
                </div>
                <div class="form-item-2 col-3" id="search_user_sale_range_province" style="display:none">
                    <span>{{ form.sale_range.label }}</span>
                    {{ form.sale_range_province(class="form-input form-control",id="select_sale_range_province") }}
                </div>
                <div class="form-item-2 col-3" id="search_user_sale_range" style="display:none">
                    <span>* {{ form.sale_range.label }}</span>
                    {{ form.sale_range(class="form-input form-control",id="select_sale_range") }}
                    {{ render_form_field_error(form.sale_range) }}
                </div>

                <div class="text-right top-gap-1">
                    <button type="submit" class="btn btn-default my-btn">新增</button>
                </div>
                <div id="loading" style="display:none">加载中,请稍候</div>
            </div>
        </div>
    </form>
</div>

<script>
$(function(){  
	$("#select_user_type").change()
});
</script>

{% endblock %}