{% extends 'mobile_base.html' %}
{% from 'macros/mobile_partial.html' import header %}
{% from 'macros/mobile_form_field_error.html' import render_form_field_error %}
{% block content %}
{{ header('经销商管理') }}

<div class="main-content">
	<div class="wrappper top-gap-3">
		<form action="{{ url_for('mobile_users_dealers_edit',user_id=user_id) }}" method="post">
			{{ form.email(class="form-control",placeholder="请输入email",readonly="readonly") }}
			{{ render_form_field_error(form.email) }}

			{{ form.name(class="form-control top-gap-3",placeholder="请输入姓名") }}
			{{ render_form_field_error(form.name) }}

			{{ form.nickname(class="form-control top-gap-3",placeholder="请输入昵称") }}
			{{ render_form_field_error(form.nickname) }}

			{{ form.address(class="form-control top-gap-3",placeholder="请输入地址") }}
			{{ render_form_field_error(form.address) }}

			{{ form.phone(class="form-control top-gap-3",placeholder="请输入电话") }}
			{{ render_form_field_error(form.phone) }}

			{{ form.title(class="form-control top-gap-3",placeholder="请输入title") }}
			{{ render_form_field_error(form.title) }}


			{{ form.existed_sales_range(class="form-control top-gap-3",readonly="readonly") }}

			{{ form.sales_range(class="form-control top-gap-3",placeholder="选择销售范围") }}
			{{ render_form_field_error(form.sales_range) }}
			
			<input type="submit" class="btn btn-block btn-warning top-gap-3" value="修改">
		</form>
	</div>
</div>

{% endblock %}