{% extends 'pc_base.html' %}
{% from 'macros/pc_form_field_error.html' import render_form_field_error %}
{% block custome_styles %}
	<link rel="stylesheet" href="{{ url_for('static', filename = 'stylesheets/login.css') }}">
{% endblock %}
{% block main_content %}
<div>
	<form id="bm_login_page" method="post" url="{{ url_for('organization.user_index') }}" role="form">
		<div class="login_title text-center">LOGIN IN</div>
		<div class="login_border">
			<div class="login_panel">
				<h2>USERNAME</h2>
				<div style="width:100%; position:relative">
					{{ form.email(class="form-input form-control",placeholder="请输入email") }}
					{{ render_form_field_error(form.email) }}
				</div>
				<h2>PASSWORD</h2>
				<div style="width:100%; position:relative">
					{{ form.password(class="form-input form-control",placeholder="请输入密码") }}
					{{ render_form_field_error(form.password) }}
				</div>
				<p class="forgot"><a id="iforget" href="javascript:void(0);">忘记密码?</a></p>
				<div class="rem_me">
					<input type="checkbox" name="checkbox" id="save_me">
					<label for="checkbox">记住我</label>
				</div>
				<input type="submit" name="button" id="button" value="登入" style="opacity: 0.7;">
			</div>
		</div>
	</form>
</div>

{% endblock %}