{% extends 'pc_base.html' %}
{% from 'macros/pc_partial.html' import sidebar %}
{% block main_content %}

{{ sidebar(active = 'sale') }}
<div class="contents">
    <div class="contents-header">
        <div class="contents-header-img"><img class="full-img" src="/static/images/product.png" /></div>
        <p class="contents-header-p">物料申请详情</p>
        <p class="contents-header-p text-sm">details of material application</p>
    </div>
    <div class="separator"><span></span></div>

    <div class="widget">
        <div class="widget_header">
            <h4 class="widget_header_title"><span class="glyphicon glyphicon-th-large"></span>&nbsp;&nbsp;&nbsp;物料申请详情</h4>
        </div>
        <div class="widget_contents padding-0 bot-gap-3">
            <div class="form-item inline-2">
                <span class="form-label">申请号</span>
                <input class="form-input form-control" value="{{ application.app_no }}" disabled/>
                <span class="form-label">申请日期</span>
                <input class="form-input form-control" value="{{ application.created_at.strftime('%F') }}" disabled/>
                <span class="form-label">申请状态</span>
                <input class="form-input form-control" value="{{ application.status }}" disabled/>
            </div>
            <div class="form-item inline-2">
                <span class="form-label">经销商</span>
                <input class="form-input form-control" value="{{ application.user.nickname }}" disabled/>
            </div>
            <div class="form-item inline-2">
                <span class="form-label">经销商所属区域</span>
                <input class="form-input form-control" value="{{ application.user.sales_areas.all()[0].name }}" disabled/>
            </div>
        </div>

        <form action="{{ url_for('content.material_application_edit', id=application.id) }}" method="post">
            <div class="widget_contents padding-0">
                <table class="tables">
                    <thead>
                        <tr>
                            <th>物料名称</th>
                            <th>申请数量</th>
                            <th>可提供数量</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for content in application.application_contents %}
                        <tr>
                            <td>{{ content.material_name }}</td>
                            <td>{{ content.number }}</td>
                            <td><input class="form-control" name="content_{{ content.id }}" value="{{ content.available_number or content.number }}" type="number" step="1" min="0" max="{{ content.number }}" {{ 'disabled' if content.available_number else '' }}></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="widget_contents padding-0 top-gap-3">
                {% if application.status == '新申请' %}
                <div class="form-item inline-2">
                    <span class="form-label">审核意见</span>
                    {{ form.status(class='form-input form-control') }}
                </div>
                {% endif %}
                <div class="form-item inline-2">
                    <span class="form-label">审核备注</span>
                    {{ form.memo(class='form-input form-control', placeholder='如果不能按申请数量提供物料, 需返回经销商再次确认的, 可填写此备注') }}
                </div>
            </div>
            {% if application.status=="新申请" %}
                <div class="text-right top-gap-3">
                    <button type="submit" class="btn btn-default my-btn">提交</button>
                </div>
            {% endif %}
        </form>

    </div>
</div>

{% endblock %}
