{% extends 'pc_base.html' %}
{% from 'macros/pc_partial.html' import sidebar %}
{% block main_content %}

{{ sidebar(active = 'sale') }}
<div class="contents">
    <div class="contents-header">
        <div class="contents-header-img"><img class="full-img" src="/static/images/product.png" /></div>
        <p class="contents-header-p">物料申请详情</p>
        <p class="contents-header-p text-sm">details of material application</p>
    </div>
    <div class="separator"><span></span></div>

    <div class="widget">
        <div class="widget_header">
            <h4 class="widget_header_title"><span class="glyphicon glyphicon-th-large"></span>&nbsp;&nbsp;&nbsp;物料申请详情</h4>
        </div>
        <div class="widget_contents padding-0 bot-gap-3">
            <div class="form-item inline-2">
                <span class="form-label">申请号</span>
                <input class="form-input form-control" value="{{ application.app_no }}" disabled/>
                <span class="form-label">申请日期</span>
                <input class="form-input form-control" value="{{ application.created_at.strftime('%F') }}" disabled/>
                <span class="form-label">申请状态</span>
                <input class="form-input form-control" value="{{ application.status }}" disabled/>
            </div>
            <div class="form-item inline-2">
                <span class="form-label">经销商</span>
                <input class="form-input form-control" value="{{ application.user.nickname }}" disabled/>
            </div>
            <div class="form-item inline-2">
                <span class="form-label">经销商所属区域</span>
                <input class="form-input form-control" value="{{ application.user.sales_areas.all()[0].name }}" disabled/>
            </div>
        </div>
        <div class="widget_contents padding-0">
            <table class="tables">
                <thead>
                    <tr>
                        <th>物料名称</th>
                        <th>物料数量</th>
                    </tr>
                </thead>
                <tbody>
                    {% for content in application.application_contents %}
                    <tr>
                        <td>{{ content.material.name }}</a></td>
                        <td>{{ content.number }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if application.status=="新申请" %}
            <div class="text-right top-gap-3">
                <a href="{{ url_for('content.material_application_reject', id = application.id) }}" class="btn btn-default my-btn">拒绝申请</a>
                <a href="{{ url_for('content.material_application_approve', id = application.id) }}" class="btn btn-default my-btn right-gap-2">同意申请</a>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}
