{% extends 'pc_base.html' %}
{% from 'macros/pc_partial.html' import sidebar %}
{% block extra_scripts %}
	<script src="{{ url_for('static', filename = 'ckeditor/ckeditor.js') }}"></script>
	<script src="{{ url_for('static', filename = 'javascripts/metisMenu.js') }}"></script>
	<script src="{{ url_for('static', filename = 'javascripts/nicescroll.js') }}"></script>
	<script src="{{ url_for('static', filename = 'javascripts/pc_general.js') }}"></script>
{% endblock %}
{% block main_content %}

{{ sidebar(active = 'file') }}
<div class="contents">
	<div class="contents-header">
		<div class="contents-header-img"><img class="full-img" src="/static/images/product.png" /></div>
		<p class="contents-header-p">新增内容</p>
		<p class="contents-header-p text-sm">new content</p>
	</div>
	<div class="separator"><span></span></div>
	<div class="widget">
		<div class="widget_header">
			<h4 class="widget_header_title"><span class="glyphicon glyphicon-off"></span>&nbsp;&nbsp;&nbsp;<a href="{{ url_for('content.category_index') }}">目录列表</a> > 
			<a href="{{ url_for('content.index', category_id = category.id) }}">{{ category.name }}</a> > 新增内容</h4>
		</div>

		<form action="{{ url_for('content.new', category_id = category.id) }}" enctype="multipart/form-data" method="post">
			<div class="widget_contents padding-0">
				<div class="form-item">
					<span class="form-label">{{ form.name.label }}</span>{{ form.name(class = 'form-input form-control') }}
				</div>
				<div class="form-item">
					<span class="form-label">{{ form.description.label }}</span>
					{{ form.description(class = 'form-input form-control ckeditor') }}
				</div>

				<div class="form-item small-pic">
					<span class="form-label">内容图片</span>
					<div class="pic-upload top-gap-1 left-gap-28">
						<input type="file" name="image_file_0" id="image_file_0" class="inbox-file">
						<img class="full-img" src="/static/images/alt.jpg">
					</div>
					<div class="pic-upload top-gap-1">
						<input type="file" name="image_file_1" id="image_file_1" class="inbox-file">
						<img class="full-img" src="/static/images/alt.jpg">
					</div>
					<div class="pic-upload top-gap-1">
						<input type="file" name="image_file_2" id="image_file_2" class="inbox-file">
						<img class="full-img" src="/static/images/alt.jpg">
					</div>					
				</div>

				<div class="form-item">
					<span class="form-label">选择标签</span>
					<div class="label-block">
					{% for option in options %}
					<div class="label-item">
						<input id="option_{{ option.id }}" name="option_ids[]" value="{{ option.id }}" type="checkbox" class="chk_1"> 
						<label for="option_{{ option.id }}">{{ option.name }}</label> 
					</div>
					{% endfor %}
					</div>
				</div>
				
			</div>

			<div class="text-right top-gap-1">
				<a href="{{ url_for('content.index', category_id = category.id) }}" class="btn btn-default my-btn">返回</a>	
				<button type="submit" class="btn btn-default my-btn">提交</button>	
			</div>

		</form>

	</div>
</div>

{% endblock %}


