{% extends 'pc_base.html' %}
{% from 'macros/pc_partial.html' import sidebar with context %}
{% block main_content %}

{{ sidebar(active = 'file') }}

<div class="contents">
	<div class="contents-header">
		<div class="contents-header-img"><img class="full-img" src="/static/images/product.png" /></div>
		<p class="contents-header-p">案例内容</p>
		<p class="contents-header-p text-sm">content</p>
		<a class="new-one" href="{{ url_for('content.edit', id = content.id) }}"><span class="glyphicon glyphicon-edit"></span></a>
	</div>
	<div class="separator"><span></span></div>
	<div class="widget">
		<div class="widget_header">
			<h4 class="widget_header_title"><span class="glyphicon glyphicon-th-large"></span>
				&nbsp;&nbsp;&nbsp;<a href="{{ url_for('content.category_index') }}" class="text-muted">目录列表</a> >
				<a href="{{ url_for('content.index', category_id = content.category_id) }}" class="text-muted">{{ content.category.name }}</a> >
				<a>{{ content.name }}</a>
			</h4>
			<span class="text-muted" style="position: absolute; right: 12px; top: 9px;">{{ content.created_at.strftime('%F %T') }}</span>
		</div>
		<!-- 这部分版面需要优化下 -->
		<div class="widget_contents padding-0">
			<div class="form-item">
				<span class="form-label"><label>内容标签</label></span>
				<div class="label-block">
				{% for option in content.options %}
					<a href="{{ url_for('content.option_show', id = option.id) }}">
						<input type="checkbox" id="option_{{ option.id }}" class="chk_1" disabled/> 
						<label for="option">{{ option.name }}</label>
					</a>
				{% endfor %}
				</div>
			</div>
			<div class="form-item">
				<span class="form-label"><label>内容描述</label></span>
				{{ content.description|safe }}
			</div>
			<div class="form-item">
				<span class="form-label"><label>内容图片</label></span>	
				{% for image in content.image_links %}
					<img src="{{ image }}" class="right-gap-1 top-gap-1"/>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

{% endblock %}