{% extends 'mobile_base.html' %}
{% from 'macros/mobile_partial.html' import header %}
{% block content %}
{{ header('售后服务') }}

<div class="main-content">
	<div class="text text-style-1">
		<p class="text-title title-style-1">售后服务</p>
		<p class="phone-number">400-101-3060</p>
	</div>
	<div class="divider4 top-gap-3"></div>
	<div class="text text-style-1">
		<p class="text-title title-style-1">市场</p>
	</div>
	<div class="text top-gap-1">
		<p class="text-content phone-title text-sm">董芸</p>
		<p class="phone-number sub-number text-md">18351575679</p>
	</div>
	<div class="text top-gap-1">
		<p class="text-content phone-title text-sm">何花花</p>
		<p class="phone-number sub-number text-md">18351571639</p>
	</div>
	<!--
	<div class="text top-gap-1">
		<p class="text-content phone-title text-sm">张霄骊</p>
		<p class="phone-number sub-number text-md">13585005020</p>
	</div>
	-->
	<div class="clearfix"></div>
</div>

{% endblock %}