{% extends 'mobile_base.html' %}
{% from 'macros/mobile_partial.html' import header %}
{% block content %}
{{ header('购物车') }}
<div class="main-content">
  <form action="{{ url_for('mobile_create_order') }}" method="get">
		<div class="text bot-gap-2">
			<p class="text-title bot-gap-2">购物车</p>
			<div class="bot-gap-2">
				<a href="{{ url_for('mobile_created_orders') }}" class="btn btn-style-1 text-sm">订单列表</a>
				<a href="{{ url_for('mobile_storage') }}" class="btn btn-style-1 text-sm">库存查询</a>
			</div>
			
			<div class="wrapper-style top-gap-3">
				<div class="wrapper-header"><span class="wrapper-header-title">FIRST STEP</span><span class="wrapper-header-icon glyphicon glyphicon-bookmark pull-right"></span></div>
				<div class="wrapper-inner">
					<p class="text-content text-sm"><input class="form-control" name="buyer" placeholder="要约方(买方)"></p>
					<div class="light-divider"></div>
					<p class="text-content text-sm"><input class="form-control" name="buyer_company" placeholder="收货单位"></p>
					<div class="light-divider"></div>
					<p class="text-content text-sm"><input class="form-control" name="buyer_address" placeholder="收货地址"></p>
					<div class="light-divider"></div>
					<p class="text-content text-sm"><input class="form-control" name="project_name" placeholder="项目名称"></p>
					<div class="light-divider"></div>
				</div>
			</div>

			<div class="wrapper-style top-gap-3">
				<div class="wrapper-header"><span class="wrapper-header-title">SECOND STEP</span><span class="wrapper-header-icon glyphicon glyphicon-bookmark pull-right"></span></div>
				<div class="wrapper-inner">
            <p class="text-content text-sm"><input class="form-control" name="dealer_name" value="{{ current_user.nickname }}" readonly="readonly"></p>
						<div class="light-divider"></div>
            <p class="text-content text-sm"><input class="form-control" name="contact_phone" value="{{ current_user.user_infos[0].telephone }}"></p>
						<div class="light-divider"></div>
            <p class="text-content text-sm"><input class="form-control" name="contact_name" value="{{ current_user.user_infos[0].name }}"></p>
						<div class="light-divider"></div>
            <p class="text-content text-sm"><input class="form-control" name="order_memo" placeholder="备注："></p>
						<div class="light-divider"></div>
					</div>
			</div>
		</div>

	
		{% for order_content in order %}
			<div class="wrapper-style rect top-gap-2">
				<div class="wrapper-header"><span class="wrapper-header-title">{{ order_content.get('product_name') }}</span><span class="wrapper-header-icon glyphicon glyphicon-shopping-cart pull-right"></span></div>
				<div class="wrapper-inner clearfix">
					<div class="wrapper-inner-img"><img class="full-img" src="/static/images/doc.png"></div>
					<div class="wrapper-inner-content clearfix">
						<div class="wrapper-row">
							<p class="set-1">Sku Code :<span class="text-gray inline-display">{{ order_content.get('sku_code') }}</span></p>
						</div>
						<div class="wrapper-row">
							<p class="set-1">Specification :<span class="text-gray inline-display">{{ order_content.get('sku_specification') }}</span></p>
						</div>
						<div class="wrapper-row">
							<p class="set-2">&nbsp;<!--Number :<span class="text-dark inline-display"><span class="glyphicon glyphicon-tint text-gray"></span> {# { order_content.get('number') } #} </span>--></p>
							<p class="set-2">Square Num :<span class="text-dark inline-display"><span class="glyphicon glyphicon-leaf text-gray"></span> {{ order_content.get('number') }}㎡</span></p>
						</div>
					</div>
				</div>
				<div class="wrapper-footer text-right">
						<a href="{{ url_for('cart_delete', sku_id=order_content.get('sku_id')) }}" class="text-danger"><span class="glyphicon glyphicon-remove"></span>删除</a>
				</div>
			</div>
		{% endfor %}
	
		<div class="fixed-bot">
					<button type="submit" class="col-12 orange">一键下单(生成订单)</button>
		</div>
  </form>
</div>

{% endblock %}
