{% extends 'mobile_base.html' %}
{% from 'macros/mobile_partial.html' import header %}
{% block content %}
{{ header('购物车') }}
<div class="main-content">
	<div class="text bot-gap-2">
		<p class="text-title bot-gap-1">购物车</p>
		<p class="text-content text-sm">企业名称：阿里巴巴</p>
		<div class="light-divider"></div>
		<p class="text-content text-sm">项目地址：上海市宝山区古村公园</p>
		<div class="light-divider"></div>
		<p class="text-content text-sm">联系电话：12390876678</p>
		<div class="light-divider"></div>
		<p class="text-content text-sm">联系姓名：阿里</p>
		<div class="light-divider"></div>
	</div>
	<div class="bot-gap-2">
		<a href="/static/pages/order_list_mobile.html" class="btn btn-style-1 text-sm">订单列表</a>
	</div>
	<div class="expanded-table table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
				  <th>Product Name</th>
				  <th>Sku Code</th>
				  <th>Specification</th>
				  <th>Number</th>
				  <th>Square Num</th>
				</tr>
			</thead>
			<tbody>
			{% for order_content in order %}
				<tr>
				  <td>{{ order_content.get('product_name') }}</td>
				  <td>{{ order_content.get('sku_code') }}</td>
				  <td>{{ order_content.get('sku_specification') }}</td>
				  <td>{{ order_content.get('number') }}</td>
				  <td>{{ order_content.get('square_num') }}</td>
				</tr>
			{% endfor %}			
			</tbody>
		</table>
	</div>
	
	<div class="fixed-bot">
		<a href="{{ url_for('mobile_create_order') }}" class="orange">一键下单(生成订单)</a>
	</div>
</div>

{% endblock %}
