{% extends 'mobile_base.html' %}
{% from 'macros/mobile_partial.html' import header %}
{% block content %}
{{ header('案例展示') }}

<div class="main-content">
	
	<nav class="navbar navbar-default" role="navigation" style="background:#fff">
		<div class="container-fluid"> 
			<div>
				<ul class="nav navbar-nav">
						<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
										案例分类 
										<b class="caret"></b>
										<span class="glyphicon glyphicon-cog pull-right" ></span>
								</a>
								<ul class="dropdown-menu" style="background:#fff">
										{% for option in classification.options %}
											<li><a href="#option_{{ option.id }}">{{ option.name }}</a></li>
											{{ '' if loop.last else '<li class="divider5"></li>' | safe }}
										{% endfor %}
								</ul>
						</li>
				</ul>
			</div>
		</div>
	</nav>
	
	<div class="module-1">
		{% for option in classification.options %}
		<div class="sub-module-1" id="option_{{ option.id }}">
			<p class="module-title">{{ option.name }}</p>
			<div class="divider2"></div>
			{% for content in option.contents %}
				<div class="module-row clearfix">
					<a href="{{ url_for('mobile_case_content_show', id = content.id) }}" class="col-6-gap product">
						<img class="full-img" src="{{ content.image_links[0] }}">
						<p>{{ content.name }}</p>
						<div class="product-divider"></div>
					</a>
				<div class="module-row clearfix"></div>
			{% endfor %}
			<div class="clearfix"></div>
		</div>
		{% endfor %}		
	</div>
</div>

{% endblock %}