{% extends 'mobile_base.html' %}
{% from 'macros/mobile_partial.html' import header %}
{% block content %}
{{ header('案例展示') }}

<div class="main-content">
	
	<nav class="navbar navbar-default" role="navigation" style="background:#fff">
		<div class="container-fluid"> 
			<div>
				<ul class="nav navbar-nav" style="margin-top: 0px;">
						<li class="dropdown">
								<a href="#" class="dropdown-toggle text-center" data-toggle="dropdown" style="line-height: 40px;">
										案例分类 
										<b class="caret"></b>
										<span class="glyphicon glyphicon-cog pull-right" style="line-height: 40px;"></span>
								</a>
								<ul class="dropdown-menu" style="background:#656d78;box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.25);">
										{% for option in classification.options %}
											<li><a href="#option_{{ option.id }}">{{ option.name }}<span class="glyphicon glyphicon-star-empty pull-right" style="padding-right:0.5rem"></span></a></li>
											{{ '' if loop.last else '<li class="divider5"></li>' | safe }}
										{% endfor %}
								</ul>
						</li>
				</ul>
			</div>
		</div>
	</nav>
	
	<div class="module-1">
		{% for option in classification.options %}
		<div class="sub-module-1 clearfix" id="option_{{ option.id }}">
			<p class="module-title">{{ option.name }}</p>
			<div class="divider2"></div>
			{% for content in option.contents %}
					<a href="{{ url_for('mobile_case_content_show', id = content.id) }}" class="col-6-gap product">
						<img class="full-img" src="{{ content.image_links[0] }}">
						<p class="text-center">{{ content.name }}</p>
						<div class="product-divider"></div>
					</a>
			{% endfor %}
		</div>
		{% endfor %}		
	</div>
</div>

{% endblock %}