{% extends 'mobile_base.html' %}
{% from 'macros/mobile_partial.html' import header with context %}
{% block content %}
{{ header('案例展示') }}

<div class="main-content">
	<div class="center-wrappper">
		<!--
		<a class="btn btn-warning btn-block top-gap-3 text-lg" href="{{ url_for('mobile_product_cases') }}">按产品选择案例</a>
		-->
	{% for classification in classifications %}
		<a class="btn btn-default btn-block top-gap-3 text-lg" href="{{ url_for('mobile_case_classification_show', id = classification.id) }}">{{ classification.name }}</a>
	{% endfor %}
	</div>
</div>

{% endblock %}
