{% extends 'mobile_base.html' %}
{% from 'macros/mobile_partial.html' import header %}
{% block content %}
{{ header('案例展示') }}

<div class="main-content">
	<div class="nav-tab clearfix">
	{% for option in classification.options %}
		<a href="#option_{{ option.id }}">{{ option.name }}</a>
	{% endfor %}
	</div>

	<div class="module-1">
		{% for option in classification.options %}
		<div class="sub-module-1" id="option_{{ option.id }}">
			<p class="module-title">{{ option.name }}</p>
			<div class="divider2"></div>
			{% for content in option.contents %}
				<a href="{{ url_for('mobile_case_content_show', id = content.id) }}" class="col-6-gap product">
				<img class="full-img" src="{{ content.image_links[0] }}">
				<p>{{ content.name }}</p>
				<div class="product-divider"></div>
				</a>
			{% endfor %}
			<div class="clearfix"></div>
		</div>
		{% endfor %}		
	</div>
</div>

{% endblock %}