{% extends 'mobile_base.html' %}
{% from 'macros/mobile_partial.html' import header %}
{% block content %}
{{ header('合同') }}

<div class="main-content">
	<div class="text">
		<p class="text-title">合同</p>
		<p class="text-content bot-gap-1">　1、企业留人的一种方式，表示企业对员工的忠诚度和能力的肯定</p>
		<p class="text-content bot-gap-1">　2、对于工作保密性强、技术复杂、工作又需要保持人员稳定的岗位，无固定期限劳动合同有利于维护企业经济利益，减少频繁更换关键岗位的关键人员而带来的损失。</p>
		<p class="text-content bot-gap-1">　3、签订无固定期限劳动合同意味着企业在未来任何时间解除或终止合同，都面临给予员工补偿。</p>
		<p class="text-content bot-gap-1">　4、一定程度上降低了员工的流动性。</p>
	</div>
					
	<div class="fixed-bot">
		<a class="col-6 orange">发送</a>
		<a class="col-6 gray">查看</a>
	</div>
</div>

{% endblock %}
