{% extends 'mobile_base.html' %}
{% from 'macros/mobile_partial.html' import header %}
{% block content %}
{{ header('产品设计') }}

<div class="main-content">
	<div class="wrapper top-gap-2">
        <p class="text-title bot-gap-1">设计文件</p>
        {% if application.dl_file_memo %}
        <p class="text-content text-sm bot-gap-1"><i class="glyphicon glyphicon-exclamation-sign" style="top:2px"></i> {{ application.dl_file_memo }} </p>
        {% endif %}
        {% if application.dl_file %}
            {% if application.dl_file.endswith('jpg') %}
                <a href="{{ application.dl_file }}"><img src="{{ application.dl_file }}" style="width: 100%;"></a>
            {% else %}
                <div class="file bot-gap-2">
                    <a href="{{ application.dl_file }}">
                        <img src="/static/images/doc.png" style="width: 96px;">
                        <label>设计文件.{{ application.dl_file.rsplit('.', 1)[1] }}</label>
                    </a>
                </div>
            {% endif %}
        {% else %}

        {% endif %}
	</div>
</div>

{% endblock %}
