{% extends 'mobile_base.html' %}
{% block html_class %}index-html{% endblock %}
{% block body_class %}index-body{% endblock %}
{% block content %}

<header class="header">
	<div class="header-logo">
		<a href="{{ url_for('mobile_users') }}"><img class="img-responsive" src="/static/images/logo.png"></a>
	</div>
</header>
<div class="main-content">
	<div id="indexCarousel" class="carousel slide" style="background:#ddd">
		<div class="carousel-inner" style="padding-bottom:10px">
			<div class="item active box-style-1">
				<div id="banner">
					<a style="display: block; ">
						<img src="/static/images/index-banner-1.jpg" class="full-img" />
					</a>
				</div>
			</div>
			<div class="item box-style-1">
				<div id="banner">
					<a style="display: block; ">
						<img src="/static/images/index-banner-2.jpg" class="full-img" />
					</a>
				</div>
			</div>			
		</div>
	</div>
	
	<div class="menu">
		<div class="menu-row clearfix">
			<div class="col-4 menu-ele flipInY">
				<a href="{{ url_for('mobile_product') }}" ><img src="/static/images/3/8.png"></a>
				<p>产品展示</p>
			</div>
			<div class="col-4 menu-ele flipInY">
				<a href="{{ url_for('mobile_storage') }}"><img src="/static/images/3/2.png"></a>
				<p>库存查询</p>
			</div>
			<div class="col-4 menu-ele flipInY">
				<a href="{{ url_for('mobile_share') }}"><img src="/static/images/3/3.png"></a>
				<p>库存共享</p>
			</div>
		</div>
		<div class="menu-row clearfix">
			<div class="col-4 menu-ele flipInY">
				<a href="{{ url_for('mobile_case_show') }}"><img src="/static/images/3/4.png"></a>
				<p>案例展示</p>
			</div>
			<div class="col-4 menu-ele flipInY">
				<a href="{{ url_for('mobile_project_lvl1') }}"><img src="/static/images/3/5.png"></a>
				<p>项目报备</p>
			</div>
			<div class="col-4 menu-ele flipInY">
				<a href="{{ url_for('mobile_design') }}"><img src="/static/images/3/10.png"></a>
				<p>产品设计</p>
			</div>
		</div>
		<div class="menu-row clearfix">
			<div class="col-4 menu-ele flipInY">
				<a href="{{ url_for('mobile_material_need') }}"><img src="/static/images/3/7.png"></a>
				<p>物料需要</p>
			</div>
			<div class="col-4 menu-ele flipInY">
				<a href="{{ url_for('mobile_orders') }}"><img src="/static/images/3/1.png"></a>
				<p>一键下单</p>
			</div>
			<div class="col-4 menu-ele flipInY">
				<a href="{{ url_for('mobile_tracking') }}"><img src="/static/images/3/9.png"></a>
				<p>物流状态</p>
			</div>
		</div>
		<div class="menu-row clearfix">
			<div class="col-4 menu-ele flipInY">
				<a href="{{ url_for('mobile_verification') }}"><img src="/static/images/3/6.png"></a>
				<p>检验真伪</p>
			</div>
			<div class="col-4 menu-ele flipInY">
				<a href="{{ url_for('mobile_construction_guide') }}"><img src="/static/images/3/11.png"></a>
				<p>施工指导</p>
			</div>
			<div class="col-4 menu-ele flipInY">
				<a href="{{ url_for('mobile_after_service') }}"><img src="/static/images/3/12.png"></a>
				<p>售后服务</p>
			</div>
		</div>
	</div>
	
</div>
<script>
	$('#indexCarousel').carousel({
		interval:5000
	});
</script>

{% endblock %}