{% extends 'mobile_base.html' %}
{% from 'macros/mobile_partial.html' import header %}
{% block content %}
{{ header('物料申请') }}

<div class="main-content">


	<form action="{{ url_for('mobile_material_application_new') }}" method="post">
		<div class="wrapper-style top-gap-3 bot-gap-2">
			<div class="wrapper-header"><span class="wrapper-header-title">FIRST STEP</span><span class="wrapper-header-icon glyphicon glyphicon-bookmark pull-right"></span></div>
			<div class="wrapper-inner">
            	<p class="text-content text-sm">
					<span class="wrapper-header-title">收件人：</span>
					<input class="form-control" name="receiver" value="{{ current_user.user_infos[0].name or '' }}" required="required">
				</p>
				<div class="light-divider top-gap-1 bot-gap-1"></div>
				<p class="text-content text-sm">
					<span class="wrapper-header-title">收件人电话：</span>
					<input class="form-control" name="receiver_tel" value="{{ current_user.user_infos[0].telephone or '' }}" required="required">
				</p>
				<div class="light-divider top-gap-1 bot-gap-1"></div>
				<p class="text-content text-sm">
					<span class="wrapper-header-title">收件人地址：</span>
					<input class="form-control" name="receive_address" value="{{ current_user.user_infos[0].address or '' }}" required="required">
				</p>
				<div class="light-divider top-gap-1 bot-gap-1"></div>
				<p class="text-content text-sm">
					<span class="wrapper-header-title">收件人公司：</span>
					<input class="form-control" name="receiver_company" required="required">
				</p>
				<div class="light-divider top-gap-1 bot-gap-1"></div>
				<p class="text-content text-sm">
					<span class="wrapper-header-title">备注：</span>
					<textarea class="form-control" name="app_memo" placeholder="如申请物料不在列表中,如产品样块,请在此填写备注"></textarea>
				</p>
			</div>
		</div>
		<div class="top-gap-2 table-responsive" style="border:none">
			<table class="table table-striped">
				<thead>
					<tr>
					  <th class="text-md">物料名称</th>
					  <th class="text-md">物料数量</th>
					</tr>
				</thead>
			</table>
		</div>
		{% for material in materials %}
		<div class="wrapper">
			<div class="col-6-gap line-height-34 text-md text-center">{{ material.name }}</div>
			<div class="col-6-gap">
				<div class="input-group material-group">
					<span class="input-group-btn del-btn ">
						<button type="button" class="btn btn-default btn-padding">
							<span class="glyphicon glyphicon-minus"></span>
						</button>
					</span>
					<input name="material_{{ material.id }}" type="text" class="text-center form-control padding-0 input-number" value="0">
					<span class="input-group-btn add-btn ">
						<button type="button" class="btn btn-default btn-padding">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
					</span>
				</div>
			</div>
		</div>
		
		<div class="divider4 top-gap-1 bot-gap-1"></div>
		{% endfor %}
	
		<div class="fixed-bot">
			<button type="submit" class="col-6 orange">提交申请</button>
			<a href="{{ url_for('mobile_material_applications') }}" class="col-6 gray">查看结果</a>
		</div>
	</form>
	
</div>

{% endblock %}