{% extends 'mobile_base.html' %}
{% from 'macros/mobile_partial.html' import header %}
{% block content %}
{{ header('物料申请') }}

<div class="main-content">
	<div class="text bot-gap-2">
		<p class="text-title bot-gap-1">物料申请列表</p>
		{% for application in applications %}
			<div class="wrapper-style rect top-gap-2">
				<div class="wrapper-header"><span class="wrapper-header-title">{{ application.app_no }}</span><span class="wrapper-header-icon glyphicon glyphicon-cloud-upload pull-right"></span></div>
				<div class="wrapper-inner clearfix">
					<div class="wrapper-inner-content full clearfix">
						<div class="wrapper-row">
							<p class="set-2">申请日期 :<span class="text-dark inline-display">{{ application.created_at.strftime('%F') }}</span></p>
							<p class="set-2">区域负责人 :<span class="text-dark inline-display">{{ application.user.sales_areas.all()[0].name }}</span></p>
						</div>
						<div class="wrapper-row">
							<p class="set-2">经销商 :<span class="text-dark inline-display">{{ application.user.nickname }}</span></p>
							<p class="set-2">申请状态 :<span class="text-dark inline-display"> {{ application.status }}</span></p>
						</div>
					</div>
				</div>
				<div class="wrapper-footer text-center">
					<a href="{{ url_for('mobile_material_application_show', id = application.id) }}" class="text-success">查看详情</a>
				</div>
			</div>
		{% endfor %}
	</div>
</div>

{% endblock %}