{% extends 'mobile_base.html' %}
{% from 'macros/mobile_partial.html' import header %}
{% block content %}
{{ header('物料申请') }}

<div class="main-content">
	<div class="text bot-gap-2">
		<p class="text-title bot-gap-1">物料申请详情</p>
		<div class="contract-block top-gap-3">
			<div class="contract-header">
				<p class="text-md text-center">{{ application.app_no }}</p>
				<p class="text-sm text-center">{{ application.user.sales_areas.all()[0].name }} - {{ application.user.nickname }}</p>
			</div>
            {% for content in application.application_contents %}
                <div class="contract-item">
                    <div class="contract-table">
                        <p class="text-sm">物料名称：{{ content.material_name }}</p>
                        <p class="text-sm">物料数量：{{ content.number }}</p>
                    </div>
					<div class="contract-table">
						{% if content.available_number %}
							<p class="text-sm">可用数量：{{ content.available_number }}</p>
						{% endif %}
					</div>
                </div>
            {% endfor %}
			{% if application.app_memo %}
				<div class="contract-item">
					<div class="contract-table">
						<p class="text-sm">申请备注：{{ application.app_memo }}</p>
					</div>
				</div>
			{% endif %}
			<div class="contract-footer">
				<div class="contract-table">
					<p class="text-sm">申请日期： {{ application.created_at.strftime('%F') }}</p>
				</div>
				<div class="contract-table">
					<p class="text-sm">申请状态： {{ application.status }}</p>
				</div>
				{% if application.memo %}
				<div class="contract-table">
					<p class="text-sm">审核备注： {{ application.memo }}</p>
				</div>
				{% endif %}
			</div>
			{% if application.status == '等待经销商再次确认' %}
			<a class="btn btn-warning btn-block text-lg top-gap-1" href="{{ url_for('mobile_material_application_reconfirm_accept', id=application.id) }}">确认审核结果</a>
			<a class="btn btn-default btn-block text-lg" href="{{ url_for('mobile_material_application_cancel', id=application.id) }}">取消申请</a>
			{% endif %}
		</div>
	</div>

</div>

{% endblock %}