{% extends 'mobile_base.html' %}
{% from 'macros/mobile_partial.html' import header %}
{% block content %}
{{ header('共享库存') }}
<div class="file form-item bot-gap-2 hidden pic-template" style="float:left; width:50%;position:relative">
	<div class="pic-del"><i class="glyphicon glyphicon-remove"></i></div>
	<a href="javascript:;">
		<img src="/static/images/upload-cloud.png" style="display: block; margin: 0px auto; width: 96px; height:96px">
		<label>上传图片</label>
		<input type="file" name="pic_files[]" class="form-control" multiple="multiple" id="test">
	</a>
</div>
<div class="main-content">
    <form action="{{ url_for('new_share_inventory', sku_id=sku_id, product_name=product_name) }}"  enctype="multipart/form-data" method="post">
	<div class="text bot-gap-2">
		<p class="text-title bot-gap-1">填写工程剩余库存信息</p>

		<div class="wrapper-style">
			<div class="wrapper-header"><span class="wrapper-header-title"></span><span class="wrapper-header-icon glyphicon glyphicon-bookmark pull-right"></span></div>
			<div class="wrapper-inner">
                <p class="text-content text-sm"><input class="form-control datetimePicker" name="production_date" placeholder="生产日期" value="{{ params.get('production_date', '') }}" readonly="readonly"></p>
				<div class="light-divider top-gap-1 bot-gap-1"></div>
				<p class="text-content text-sm"><input class="form-control" name="stocks" placeholder="库存数量" value="{{ params.get('stocks', '') }}"></p>
			    <div class="light-divider top-gap-1 bot-gap-1"></div>
				<p class="text-content text-sm"><input class="form-control" name="price" placeholder="价格" value="{{ params.get('price', '') }}"></p>
            </div>
						
      		<div class="file form-item bot-gap-2" style="float:left; width:50%;position:relative">
				<a href="javascript:;">
					<img src="/static/images/upload-cloud.png" style="display: block; margin: 0px auto; width: 96px; height:96px">
					<label>上传图片</label>
					<input type="file" name="pic_files[]" class="form-control" multiple="multiple" id="test">
				</a>
			</div>
			
			<div class="file form-item bot-gap-2 pic-add" style="float:left; width:50%">
				<a href="javascript:;">
					<img src="/static/images/pic-add-1.png" style="display: block; margin: 0px auto; width: 96px;">
					<label>添加图片</label>
				</a>
			</div>
        
			<div class="clearfix"></div>
		</div>

	</div>


	<div class="fixed-bot">
        <button type="submit" class="col-12 orange">提交</button>
	</div>
    </form>
</div>

{% endblock %}
