{% extends 'mobile_base.html' %}
{% from 'macros/mobile_partial.html' import header %}
{% block content %}
{{ header('订单列表') }}
<div class="main-content">
    <br/>
    <div class="bot-gap-2">
		<a href="{{ url_for('mobile_storage') }}" class="btn btn-style-1 text-sm">我要下单</a>
	</div>
	<div class="text bot-gap-2">
		<p class="text-title bot-gap-1">订单列表</p>
		
		{% for order in orders %}
			<div class="wrapper-style rect top-gap-2">
				<div class="wrapper-header"><span class="wrapper-header-title">{{ order.order_no }}</span><span class="wrapper-header-icon glyphicon glyphicon-list-alt pull-right"></span></div>
				<div class="wrapper-inner clearfix">
					<div class="wrapper-inner-content full clearfix">
						<p class="set-1">合同号 :<span class="inline-display">
								{% if not order.contracts.all() == [] %}
										{{ order.contracts[0].contract_no }}
								{% endif %}
							</span>
						</p>
						<div class="wrapper-row">
							<p class="set-2">订单日期 :<span class="text-dark inline-display">{{ order.created_at.strftime('%Y-%m-%d') }}</span></p>
							<p class="set-2">经销商 :<span class="text-dark inline-display">{{ order.user.nickname }}</span></p>
                            <p class="set-2">区域负责人 :<span class="text-dark inline-display">{{ order.user.sales_areas.all()[0].name }}</span></p>
							<p class="set-2">订单状态 :<span class="text-dark inline-display"> {{ order.order_status }}</span></p>
						</div>
						<div class="wrapper-row">
							<p class="set-2">企业名称 :<span class="text-dark inline-display">{{ order.buyer_info['company_name'] }}</span></p>
                            <p class="set-2">项目地址 :<span class="text-dark inline-display">{{ order.buyer_info['project_address'] }}</span></p>
                            <p class="set-2">联系电话 :<span class="text-dark inline-display">{{ order.buyer_info['contact_phone'] }}</span></p>
                            <p class="set-2">联系姓名 :<span class="text-dark inline-display">{{ order.buyer_info['contact_name'] }}</span></p>
						</div>
					</div>
				</div>
				<div class="wrapper-footer text-center">
					{% if order.order_status != '新订单' and order.order_status !='订单取消' %}
							<a href="{{ url_for('mobile_contract_show', id=order.id) }}" class="text-success">查看合同详情</a>
					{% else %}
					<a  class="text-danger">暂无合同详情</a>
					{% endif %}
				</div>
			</div>
		{% endfor %}

	</div>
</div>

{% endblock %}
