{% extends 'mobile_base.html' %}
{% from 'macros/mobile_partial.html' import header %}
{% block content %}
{{ header('订单列表') }}
<div class="main-content">
    <br/>
    <div class="bot-gap-2">
		<a href="{{ url_for('mobile_storage') }}" class="btn btn-style-1 text-sm">我要下单</a>
	</div>
	<div class="text bot-gap-2">
		<p class="text-title bot-gap-1">订单列表</p>
		
		{% for order in orders_page.items %}
			<div class="wrapper-style rect top-gap-2">
				<div class="wrapper-header"><span class="wrapper-header-title">{{ order.order_no }}</span><span class="wrapper-header-icon glyphicon glyphicon-list-alt pull-right"></span></div>
				<div class="wrapper-inner clearfix">
					<div class="wrapper-inner-content full clearfix">
						<p class="set-1">合同号 :<span class="inline-display">
								{% if not order.contracts.all() == [] %}
										{{ order.contracts[0].contract_no }}
								{% endif %}
							</span>
						</p>
						<div class="wrapper-row">
							<p class="set-2">订单日期 :<span class="text-dark inline-display">{{ order.created_at.strftime('%Y-%m-%d') }}</span></p>
							<p class="set-2">经销商 :<span class="text-dark inline-display">{{ order.user.nickname }}</span></p>
              <p class="set-2">区域负责人 :<span class="text-dark inline-display">{{ order.user.sales_areas.all()[0].name }}</span></p>
							<p class="set-2">订单状态 :
								<span class="text-dark inline-display">
									{% if order.order_status != '新订单' and order.order_status !='订单取消' %}
											<a  class="text-success">{{ order.order_status }}</a>
									{% else %}
											<a  class="text-danger">{{ order.order_status }}</a>
									{% endif %}
								</span>
							</p>
						</div>
						<div class="wrapper-row">
							<p class="set-2">项目名称 :<span class="text-dark inline-display">{{ order.buyer_info['project_name'] }}</span></p>
                            <p class="set-2">联系电话 :<span class="text-dark inline-display">{{ order.buyer_info['contact_phone'] }}</span></p>
                            <p class="set-2">联系姓名 :<span class="text-dark inline-display">{{ order.buyer_info['contact_name'] }}</span></p>
                            <p class="set-2">销售联系人 :<span class="text-dark inline-display">{{ order.sale_contract }}</span></p>
                        </div>
                        {% if not order.contracts.all() == [] %}
                            <div class="wrapper-row">
                                <p class="set-2">总金额 :<span class="text-dark inline-display">{{ order.contracts[0].contract_content.get('amount') }}</span></p>
                                <p class="set-2">物流费用 :<span class="text-dark inline-display">{{ order.contracts[0].contract_content.get('logistics_costs') }}</span></p>
                                <p class="set-2">原料损耗 :<span class="text-dark inline-display">{{ order.contracts[0].contract_content.get('material_loss') }}</span></p>
                                {% if not order.contracts[0].contract_content.get('tax_costs') == None %}
                                    <p class="set-2">税点 :<span class="text-dark inline-display">{{ order.contracts[0].contract_content.get('tax_costs') }}</span></p>
                                {% endif %}
                                {% if not order.contracts[0].contract_content.get('live_floor_costs') == None %}
                                    <p class="set-2">活铺费用 :<span class="text-dark inline-display">{{ order.contracts[0].contract_content.get('live_floor_costs') }}</span></p>
                                {% endif %}
                                {% if not order.contracts[0].contract_content.get('self_leveling_costs') == None %}
                                    <p class="set-2">自流平费用 :<span class="text-dark inline-display">{{ order.contracts[0].contract_content.get('self_leveling_costs') }}</span></p>
                                {% endif %}
                                {% if not order.contracts[0].contract_content.get('crossed_line_costs') == None %}
                                    <p class="set-2">划线费用 :<span class="text-dark inline-display">{{ order.contracts[0].contract_content.get('crossed_line_costs') }}</span></p>
                                {% endif %}
                                {% if not order.contracts[0].contract_content.get('sticky_costs') == None %}
                                    <p class="set-2">点粘费用 :<span class="text-dark inline-display">{{ order.contracts[0].contract_content.get('sticky_costs') }}</span></p>
                                {% endif %}
                                {% if not order.contracts[0].contract_content.get('full_adhesive_costs') == None %}
                                    <p class="set-2">全胶粘费用 :<span class="text-dark inline-display">{{ order.contracts[0].contract_content.get('full_adhesive_costs') }}</span></p>
                                {% endif %}
                                {% if not order.contracts[0].contract_content.get('other_costs') == None %}
                                    <p class="set-2">其他费用 :<span class="text-dark inline-display">{{ order.contracts[0].contract_content.get('other_costs') }}</span></p>
                                {% endif %}
                            </div>
                        {% endif %}
					</div>
				</div>
				<div class="wrapper-footer text-center">
					{% if order.order_status != '新订单' and order.order_status !='订单取消' %}
							<a href="{{ url_for('mobile_contract_show', id=order.id) }}" class="text-success">查看合同详情</a>
					{% else %}
					<a  class="text-danger">暂无合同详情</a>
					{% endif %}
				</div>
			</div>
		{% endfor %}

	</div>
    <ul class="pagination">
	    <li>
	        {% if orders_page.has_prev %}
	            <a href="{{ url_for('mobile_created_orders', page = orders_page.prev_num) }}">上一页</a>
	        {% endif %}
        </li>

        {%- for page in orders_page.iter_pages() %}
          <li>
              {% if page %}
                {% if page != orders_page.page %}
                  <a href="{{ url_for('mobile_created_orders', page=page) }}">{{ page }}</a>
                {% else %}
                  <span class="page-number current">{{ page }}</span>
                {% endif %}
              {% else %}
                <span class=ellipsis>…</span>
              {% endif %}
          </li>
        {%- endfor %}
         <li>
            {% if orders_page.has_next %}
                <a href="{{ url_for('mobile_created_orders', page = orders_page.next_num) }}">下一页 </a>
            {% endif %}
        </li>
	</ul>
</div>

{% endblock %}
