{% extends 'mobile_base.html' %}
{% from 'macros/mobile_partial.html' import header %}
{% block content %}
{{ header('产品展示') }}

<div class="main-content">

	<div id="myCarousel" class="carousel slide">
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
		</ol>   
		<div class="carousel-inner">
		{% for image in product.get('images') %}
			<div class="item active">
				<div id="banner">
					<a style="display: block; ">
						<img src="{{ image }}" class="full-img" />
					</a>
				</div>
			</div>
		{% endfor %}			
		</div>
	</div>
	
	<div class="wrapper">
		<div class="text">
			<p class="text-title">{{ product.get('name') }}</p>
		</div>
	</div>

	<div class="wrapper">product description area: {{ product.get('description')|safe }}</div>
	
	<div class="wrapper">
		<div class="text">
			<p class="text-title">案例</p>
		</div>
		<div class="case-block">
		{% for content in contents %}
			<div class="col-6-gap case">
				<a href="{{ url_for('mobile_case_content_show', id = content.id) }}" style="display:block"><img src="{{ content.image_links[0] }}" class="full-img"></a>
				<p class="text-center light-font-md">{{ content.name }}</p>
			</div>
		{% endfor %}
		</div>
	</div>

</div>
<script>
	$(".texture-block").on("click",function(){
		$(this).next('.modal').modal("show");
	})		
</script>

{% endblock %}