{% extends 'mobile_base.html' %}
{% from 'macros/mobile_partial.html' import header %}
{% block content %}
{{ header('产品展示') }}

<div class="main-content">

	<div id="myCarousel" class="carousel slide">
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
		</ol>   
		<div class="carousel-inner">
		{% for image in product.get('images') %}
			<div class="item {% if product.get('images').index(image) == 0 %}active{% endif %}">
				<div id="banner">
					<a style="display: block; ">
						<img src="{{ image }}" class="full-img" />
					</a>
				</div>
			</div>
		{% endfor %}			
		</div>
	</div>
	
	<div class="wrapper">
		<div class="text">
			<p class="text-title">{{ product.get('name') }}</p>
		</div>

		<!-- sku thumbnails display area -->
		<div class="clearfix texture">
		{% for sku in skus.get('skus') %}
			{% if not sku.get('isvalid') == 'NO' %}
			<div class="col-3-gap texture-block">
				<img src="{{ sku.get('thumbnail') }}" class="full-img">
				<p class="text-center light-font-sm">{{ sku.get('code') }}</p>
			</div>
			<div class="modal fade" id="texture1">
				<div class="modal-dialog texture-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-content">
						<div class="modal-body"><img src="{{ sku.get('thumbnail') }}" class="full-img"></div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal -->
			</div>
			{% endif %}
		{% endfor %}
		</div>
		<p class="text-content text-sm"><i class="glyphicon glyphicon-exclamation-sign" style="top:2px"></i> 展示图片可能存在色差，实物以样册为准 </p>
	</div>

	<div class="wrapper">
		<div class="text">
			<p class="text-title">产品属性</p>
			<p class="text-content text-indent-1 text-sm">卷长： {{ product.get('length') }} m</p>
			<p class="text-content text-indent-1 text-sm">卷宽： {{ product.get('width') }} m</p>
			{% for options in option_sorted %}
				<p class="text-content text-indent-1 text-sm">
					{{ options[0].get('feature_name') }}：
					{% for option in options %}{{ '' if loop.first else '/' }}{{ option.get('option_name') }}{% endfor %}
				</p>
			{% endfor %}
		</div>
 	</div>


	<div class="wrapper">
		<div class="text">
			<p class="text-title">产品描述</p>
		</div>
		<div class="ck-wrapper">
			{{ product.get('description')|safe }}
		</div>
 	</div>
	
	<div class="wrapper">
		<div class="text">
			<p class="text-title">相关案例</p>
		</div>
		<div class="case-block">
		{% for content in contents %}
			<div class="col-6-gap case">
				<a href="{{ url_for('mobile_case_content_show', id = content.id) }}" style="display:block"><img src="{{ content.title_image }}" class="full-img"></a>
				<p class="text-center light-font-md">{{ content.name }}</p>
			</div>
		{% endfor %}
		</div>
	</div>

</div>
<script>
	$(".texture-block").on("click",function(){
		$(this).next('.modal').modal("show");
	})		
</script>

{% endblock %}