{% extends 'mobile_base.html' %}
{% from 'macros/mobile_partial.html' import header %}
{% block content %}
{{ header('产品展示') }}

<div class="main-content">
	<div class="nav-tab clearfix">
	{% for category in categories %}
		<a id="category_{{ category.get('category_id') }}" href="#p_category_{{ category.get('category_id') }}">{{ category.get('category_name') }}</a>
	{% endfor %}
	</div>
	<div class="module-1">
	{% for category in categories %}
		<div class="sub-module-1 clearfix" id="p_category_{{ category.get('category_id') }}">
			<p class="module-title">{{ category.get('category_name') }}</p>
			<div class="divider2"></div>
			{% for product in products_hash.get(category.get('category_id')) %}
                {% if not product.get('isvalid')=="NO" %}
				<a href="{{ url_for('mobile_product_show', id = product.get('product_id')) }}" class="col-6-gap product top-gap-1">
					<img class="full-img" src="{{ product.get('images')[0] }}">
					<p class="text-center">{{ product.get('name') }}</p>
					<div class="product-divider"></div>
				</a>
                {% endif %}
			{% endfor %}
			<div class="text-center pull-left top-gap-3 col-12">
				<a class="much-more text-sm btn-style-2">更 多</a>
			</div>
		</div>
	{% endfor %}

	</div>
</div>

{% endblock %}