{% extends 'mobile_base.html' %}
{% from 'macros/mobile_partial.html' import header %}
{% block content %}
{{ header('项目报备列表') }}
<div class="main-content">
	<div class="text bot-gap-2">
		<p class="text-title bot-gap-1">项目报备列表</p>
		<div class="expanded-table table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>报备编号</th>
						<th>申请公司名称</th>
						<th>创建日期</th>
						<th>项目名称</th>
						<th>状态</th>
                        <th></th>
					</tr>
				</thead>
				<tbody>
                    {% for project_report in project_reports %}
                        <tr>
                            <td>{{ project_report.report_no }}</td>
                            <td>{{ project_report.report_content.get('app_company') }}</td>
                            <td>{{ project_report.created_at.strftime('%Y-%m-%d') }}</td>
                            <td>{{ project_report.report_content.get('project_name') }}</td>
                            <td>
                                {{ project_report.status }}
                            </td>
                            <td>
                                <a href="{{ url_for('project_report_show', id=project_report.id) }}" class="text-success">查看详情</a>
                            </td>
                        </tr>
                    {% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock %}
