{% extends 'mobile_base.html' %}
{% from 'macros/mobile_partial.html' import header %}
{% block content %}
{{ header('项目报备') }}
<div class="main-content">
    <br/>
    <div class="bot-gap-2">
		<a href="{{ url_for('project_report_index') }}" class="btn btn-style-1 text-sm">项目报备申请列表</a>
	</div>
    <form action="{{ url_for('new_project_report') }}" method="post">
	<div class="text bot-gap-2">
		<p class="text-title bot-gap-1">填写项目报备信息</p>
		
		<div class="wrapper-style">
			<div class="wrapper-header"><span class="wrapper-header-title">项目详情</span><span class="wrapper-header-icon glyphicon glyphicon-bookmark pull-right"></span></div>
            <div class="wrapper-inner">
                <p class="text-content text-sm"><input class="form-control" name="buyer" placeholder="要约方(买方)"></p>
                <div class="light-divider"></div>
                <p class="text-content text-sm"><input class="form-control" name="buyer_company" placeholder="收货单位"></p>
                <div class="light-divider"></div>
                <p class="text-content text-sm"><input class="form-control" name="buyer_address" placeholder="收货地址"></p>
                <div class="light-divider"></div>
                <p class="text-content text-sm"><input class="form-control" name="project_name" placeholder="项目名称"></p>
                <div class="light-divider"></div>
                <p class="text-content text-sm">
                    <select class="form-control" name="product_series" placeholder="产品系列">
                        <option value="">项目产品系列</option>
                        <option value="商用">商用</option>
                        <option value="运动">运动</option>
                        <option value="家用">家用</option>
                    </select>
                </p>
                <div class="light-divider"></div>
            </div>
		</div>
		<div class="wrapper-style top-gap-3">
			<div class="wrapper-header"><span class="wrapper-header-title">经销商详情</span><span class="wrapper-header-icon glyphicon glyphicon-bookmark pull-right"></span></div>
            <div class="wrapper-inner">
                <p class="text-content text-sm"><input class="form-control" name="dealer_name" value="{{ current_user.nickname }}" readonly="readonly"></p>
                <div class="light-divider"></div>
                <p class="text-content text-sm"><input class="form-control" name="contact_phone" value="{{ current_user.user_infos[0].telephone }}"></p>
				<div class="light-divider"></div>
                <p class="text-content text-sm"><input class="form-control" name="contact_name" value="{{ current_user.user_infos[0].name }}"></p>
				<div class="light-divider"></div>
                <p class="text-content text-sm"><input class="form-control" name="project_memo" placeholder="备注："></p>
				<div class="light-divider"></div>
			</div>
		</div>
	</div>


	<div class="fixed-bot">
        <button type="submit" class="col-12 orange">提交项目报备申请</button>
	</div>
    </form>
</div>

{% endblock %}
