{% extends 'mobile_base.html' %}
{% from 'macros/mobile_partial.html' import header %}
{% block content %}
{{ header('项目报备申请详情') }}

<div class="main-content">

	<div class="wrapper">
		<div class="text bot-gap-2">
			<p class="text-title bot-gap-1">项目报备申请详情</p>
			<div class="contract-block top-gap-3">
				<div class="contract-header">
					<p class="text-md text-center">报备编号</p>
					<p class="text-sm text-center" style="color:#9d9d9d">{{ project_report.report_no }}</p>
				</div>
				<div class="contract-item">
					<div class="contract-table">
						<p class="text-sm float">要约方(买方)：<span class="contract-value">{{ project_report.report_content.get('buyer') }}</span></p>
						<p class="text-sm float">收货单位：<span class="contract-value">{{ project_report.report_content.get('buyer_company') }}</span></p>
					</div>
					<div class="contract-table">
						<p class="text-sm float">收货地址：<span class="contract-value">{{ project_report.report_content.get('buyer_address') }}</span></p>
						<p class="text-sm float">项目名称：<span class="contract-value">{{ project_report.report_content.get('project_name') }}</span></p>
					</div>
					<div class="contract-table">
						<p class="text-sm float">产品系列：<span class="contract-value">{{ project_report.report_content.get('product_series') }}</span></p>
						<p class="text-sm float">联系人：<span class="contract-value">{{ project_report.report_content.get('contact_name') }}</span></p>
					</div>
                    <div class="contract-table">
						<p class="text-sm float">联系电话：<span class="contract-value">{{ project_report.report_content.get('contact_phone') }}</span></p>
						<p class="text-sm float">备注：<span class="contract-value">{{ project_report.report_content.get('project_memo') }}</span></p>
					</div>
                    <div class="contract-table">
						<p class="text-sm float">报备状态：<span class="contract-value">{{ project_report.status }}</span></p>
					</div>
				</div>

			</div>
		</div>	
	</div>

	<div class="divider4 top-gap-1 bot-gap-1"></div>

</div>

{% endblock %}