{% extends 'mobile_base.html' %}
{% from 'macros/mobile_partial.html' import header %}
{% block content %}
{{ header('项目报备申请详情') }}

<div class="main-content">

	<div class="wrapper">
		<div class="text bot-gap-2">
			<p class="text-title bot-gap-1">项目报备申请详情</p>
			<div class="contract-block top-gap-3">
				<div class="contract-header">
					<p class="text-md text-center">报备编号</p>
					<p class="text-sm text-center" style="color:#9d9d9d">{{ project_report.report_no }}</p>
				</div>
				<div class="contract-item">
				  <div class="contract-table bot-gap-1">					
						<p class="text-sm float block">报备状态：
							<span class="contract-value without-line inline-block">
									{% if project_report.status == '新创建待审核' %}
											<span class="text-primary">{{ project_report.status }}</span>
									{% elif project_report.status == '申请通过，项目已被保护(有效期三个月)' or project_report.status == '项目报备审核通过' %}
											<span class="text-success">{{ project_report.status }}</span>
									{% else %}
											<span class="text-danger">{{ project_report.status }}</span>
									{% endif %}
							</span>
						</p>
					</div>
					<div class="contract-item">
					<div class="contract-table">
						<p class="text-sm float">申请公司：<span class="contract-value">{{ project_report.report_content.get('app_company') }}</span></p>
						<p class="text-sm float">项目跟进人：<span class="contract-value">{{ project_report.report_content.get('project_follower') }}</span></p>
					</div>
					<div class="contract-table">
						<p class="text-sm float">联系电话：<span class="contract-value">{{ project_report.report_content.get('contract_phone') }}</span></p>
						<p class="text-sm float">联系传真：<span class="contract-value">{{ project_report.report_content.get('contract_fax') }}</span></p>
					</div>
					<div class="contract-table">
						<p class="text-sm float">项目名称：<span class="contract-value">{{ project_report.report_content.get('project_name') }}</span></p>
						<p class="text-sm float">项目报备日期：<span class="contract-value">{{ project_report.report_content.get('report_date') }}</span></p>
					</div>
					<div class="contract-table">
						<p class="text-sm">项目地址：<span class="contract-value">{{ project_report.report_content.get('project_address') }}</span></p>
					</div>
				</div>
				<div class="contract-item">
					<div class="contract-table">
						<p class="text-sm float">项目面积：<span class="contract-value">{{ project_report.report_content.get('project_area') }}</span></p>
						<p class="text-sm float">产品使用场所：<span class="contract-value">{{ project_report.report_content.get('product_place') }}</span></p>
					</div>
					<div class="contract-table">
						<p class="text-sm float">推荐产品系列：<span class="contract-value">{{ project_report.report_content.get('recommended_product_line') }}</span></p>
						<p class="text-sm float">推荐产品颜色：<span class="contract-value">{{ project_report.report_content.get('recommended_product_color') }}</span></p>
					</div>
					<div class="contract-table">
						<p class="text-sm float">项目完工时间：<span class="contract-value">{{ project_report.report_content.get('project_completion_time') }}</span></p>
						<p class="text-sm float">预计订购时间：<span class="contract-value">{{ project_report.report_content.get('expected_order_time') }}</span></p>
					</div>
					<div class="contract-table">
						<p class="text-sm">竞争品牌情况：<span class="contract-value">{{ project_report.report_content.get('competitive_brand_situation') }}</span></p>
					</div>
				</div>
				<div class="contract-item">
					<div class="contract-table">
						<p class="text-sm">项目业主：<span class="contract-value">{{ project_report.report_content.get('project_owner') }}</span></p>
						<p class="text-sm">项目装饰总包：<span class="contract-value">{{ project_report.report_content.get('project_decoration_total') }}</span></p>
					</div>
					<div class="contract-table">
						<p class="text-sm">项目设计公司：<span class="contract-value">{{ project_report.report_content.get('project_design_company') }}</span></p>
						<p class="text-sm">是否需要授权书：<span class="contract-value">{{ project_report.report_content.get('is_authorization_needed') }}</span></p>
					</div>
					<div class="contract-table">
						<p class="text-sm">授权预计开具日期：<span class="contract-value">{{ project_report.report_content.get('expected_authorization_date') }}</span></p>
						<p class="text-sm">需授权公司名称：<span class="contract-value">{{ project_report.report_content.get('authorize_company_name') }}</span></p>
					</div>
				</div>

				</div>

			</div>
		</div>	
	</div>

	<div class="divider4 top-gap-1 bot-gap-1"></div>

</div>

{% endblock %}