{% extends 'mobile_base.html' %}
{% from 'macros/mobile_partial.html' import header %}
{% block content %}
{{ header('项目报备') }}
<div class="main-content">
    <br/>
    <div class="bot-gap-2">
		<a href="{{ url_for('project_report_index') }}" class="btn btn-style-1 text-sm">项目报备申请列表</a>
	</div>
    <form action="{{ url_for('new_project_report') }}" method="post">
	<div class="text bot-gap-2">
		<p class="text-title bot-gap-1">填写项目报备信息</p>
		<p class="text-content text-sm">申请公司名称：<input class="form-control" name="app_company"></p>
		<div class="light-divider"></div>
		<p class="text-content text-sm">项目跟进人：<input class="form-control" name="project_follower"></p>
		<div class="light-divider"></div>
		<p class="text-content text-sm">联系电话：<input class="form-control" name="contract_phone"></p>
		<div class="light-divider"></div>
        <p class="text-content text-sm">联系传真：<input class="form-control" name="contract_fax"></p>
		<div class="light-divider"></div>
        <p class="text-content text-sm">项目名称：<input class="form-control" name="project_name"></p>
		<div class="light-divider"></div>
        <p class="text-content text-sm">项目报备日期：<input class="form-control datetimePicker" name="report_date"></p>
		<div class="light-divider"></div>
        <p class="text-content text-sm">项目地址：<input class="form-control" name="project_address"></p>
		<div class="light-divider"></div>
        <p class="text-content text-sm">项目面积：<input class="form-control" name="project_area"></p>
		<div class="light-divider"></div>
        <p class="text-content text-sm">产品使用场所：<input class="form-control" name="product_place"></p>
		<div class="light-divider"></div>
        <p class="text-content text-sm">推荐产品系列：<input class="form-control" name="recommended_product_line"></p>
		<div class="light-divider"></div>
        <p class="text-content text-sm">推荐产品颜色：<input class="form-control" name="recommended_product_color"></p>
		<div class="light-divider"></div>
        <p class="text-content text-sm">项目完工时间：<input class="form-control datetimePicker" name="project_completion_time"></p>
		<div class="light-divider"></div>
        <p class="text-content text-sm">预计订购产品时间：<input class="form-control datetimePicker" name="expected_order_time"></p>
		<div class="light-divider"></div>
        <p class="text-content text-sm">竞争品牌情况：<input class="form-control" name="competitive_brand_situation"></p>
		<div class="light-divider"></div>
        <p class="text-content text-sm">项目业主：<input class="form-control" name="project_owner"></p>
		<div class="light-divider"></div>
        <p class="text-content text-sm">项目装饰总包：<input class="form-control" name="project_decoration_total"></p>
		<div class="light-divider"></div>
        <p class="text-content text-sm">项目设计公司：<input class="form-control" name="project_design_company"></p>
		<div class="light-divider"></div>
        <p class="text-content text-sm">是否需要授权书：<input class="form-control" name="is_authorization_needed"></p>
		<div class="light-divider"></div>
        <p class="text-content text-sm">授权预计开具日期：<input class="form-control datetimePicker" name="expected_authorization_date"></p>
		<div class="light-divider"></div>
        <p class="text-content text-sm">需授权公司名称：<input class="form-control" name="authorize_company_name"></p>
		<div class="light-divider"></div>
	</div>


	<div class="fixed-bot">
        <button type="submit" class="col-12 orange">提交项目报备申请</button>
	</div>
    </form>
</div>

{% endblock %}
