{% extends 'mobile_base.html' %}
{% from 'macros/mobile_partial.html' import header %}
{% block content %}
{{ header('共享库存查询') }}
<div class="main-content">
    <form style="margin-top:2.5rem;" action="{{ url_for('stocks_share_for_order', area_id=area_id) }}" method="get">
        <div class="wrapper-style top-gap-3">
            <div class="wrapper-header"><span class="wrapper-header-title">根据SKU代码搜索</span><span class="wrapper-header-icon glyphicon glyphicon-bookmark pull-right"></span></div>
            <div class="wrapper-inner">
                <p class="text-content text-sm"><input class="form-control" name="sku_code"></p>
                <div class="light-divider"></div>
                <p class="text-content text-sm"><button type="submit" class="btn btn-warning btn-block">搜索</button></p>
            </div>
        </div>
    </form>
    <br/>
		<div class="clearfix top-gap-2">
			<div class="selection">
				<p class="text-sm">选择产品：</p>
				<select id="product-select" class="form-control">
					<option>ALL</option>
				</select>
			</div>
		</div>
	<form style="margin-top:2.5rem;" action="{{ url_for('mobile_cart') }}" method="post">
        <input type="hidden" name="area_id" value="{{ area_id }}">
		<div class="storage-block clearfix">
		{% for batch in batch_infos %}
			<div class="col-6-gap storage-sku js-wrapper js-{{ batch.get('product_name') }}">
				<p class="text-center light-font-md p-title">{{ batch.get('city') }}</p>
				<div class="p-content">
					<p class="light-font-sm">
						产品名称 ：{{ batch.get('product_name') }}
					</p>
					<p class="light-font-sm">
						规格 ：{{ batch.get('sku_specification') }}
					</p>
                    <p class="light-font-sm">
						SKU代码 ：{{ batch.get('sku_code') }}
					</p>
					<p class="light-font-sm">
						生产日期 ：{{ batch.get('production_date') }}
					</p>
                    <p class="light-font-sm">
						批次号 ：{{ batch.get('batch_no') }}
					</p>
                    <p class="light-font-sm">
						库存代码 ：{{ batch.get('sku_code') }}
					</p>
                    <p class="light-font-sm">
						库存量 ：{{ batch.get('stocks') }}
					</p>
				</div>
				<div class="p-input">
					<input name="product_name_{{ batch.get('batch_id') }}" value="{{ batch.get('product_name') }}" type="hidden">
					<input name="sku_code_{{ batch.get('batch_id') }}" value="{{ batch.get('sku_code') }}" type="hidden">
                    <input name="sku_id_{{ batch.get('batch_id') }}" value="{{ batch.get('sku_id') }}" type="hidden">
					<input name="sku_specification_{{ batch.get('batch_id') }}" value="{{ batch.get('sku_specification') }}" type="hidden">
					<input name="sku_thumbnail_{{ batch.get('batch_id') }}" value="{{ batch.get('thumbnail') }}" type="hidden" >
                    <input name="batch_no_{{ batch.get('batch_id') }}" value="{{ batch.get('batch_no') }}" type="hidden" >
                    <input name="production_date_{{ batch.get('batch_id') }}" value="{{ batch.get('production_date') }}" type="hidden" >
                    <input name="batch_id_{{ batch.get('batch_id') }}" value="{{ batch.get('batch_id') }}" type="hidden" >
                    <input name="user_{{ batch.get('batch_id') }}" value="{{ batch.get('user') }}" type="hidden" >
					<div class="input-group material-group">
							<span class="input-group-btn del-btn ">
									<button type="button" class="btn btn-default btn-padding">
											<span class="glyphicon glyphicon-minus"></span>
									</button>
							</span>
							<input type="text" name="number_{{ batch.get('batch_id') }}" class="text-center form-control padding-0 input-number" value="0">
							<span class="input-group-btn add-btn ">
									<button type="button" class="btn btn-default btn-padding">
											<span class="glyphicon glyphicon-plus"></span>
									</button>
							</span>
					</div>
				</div>
			</div>
		{% endfor %}
		</div>

		<div class="fixed-bot">
			<button type="submit" class="col-6 orange">加入购物车</button>
			<a href="{{ url_for('mobile_cart') }}" class="col-6 gray">进入购物车</a>
		</div>

	</form>

</div>
<script>
	var products=[];

	{% for batch in batch_infos %}
		if(products.indexOf("{{ batch.get('product_name') }}")<0){
			products.push("{{ batch.get('product_name') }}");
		}		
	{% endfor %}

	for(var i in products){
		var option=$("<option>"+products[i]+"</option>")
		$("#product-select").append(option);
	}
	
	$("#product-select").change(function(e){
		var value=$(this).val();
		if(value==="ALL"){
			$(".js-wrapper").removeClass("hidden")
		}else{
			$(".js-wrapper").removeClass("hidden").not(".js-"+value).addClass("hidden");
		}
	});

	
	
</script>
{% endblock %}