{% extends 'mobile_base.html' %}
{% from 'macros/mobile_partial.html' import header %}
{% block content %}
{{ header('共享库存查询') }}
<div class="main-content">
		<div class="wrapper-style top-gap-3">
				<div class="wrapper-header"><span class="wrapper-header-title">根据产品搜索</span><span class="wrapper-header-icon glyphicon glyphicon-search pull-right"></span></div>
				<div class="wrapper-inner">
						<div class="clearfix">
							<div class="selection col-6">
									<p class="text-sm">类目：</p>
									<select id="category-select" class="form-control">
											<option>all</option>
									</select>
							</div>
							<div class="selection col-6">
									<p class="text-sm">产品：</p>
									<select id="product-select" class="form-control">
									</select>
							</div>
						</div>
				</div>
		</div>
    <form style="margin-top:2.5rem;" action="{{ url_for('stocks_share_for_order', area_id=area_id) }}" method="get">
        <div class="wrapper-style top-gap-3">
            <div class="wrapper-header"><span class="wrapper-header-title">根据SKU代码搜索</span><span class="wrapper-header-icon glyphicon glyphicon-bookmark pull-right"></span></div>
            <div class="wrapper-inner">
                <p class="text-content text-sm"><input class="form-control" name="sku_code"></p>
                <div class="light-divider"></div>
                <p class="text-content text-sm"><button type="submit" class="btn btn-warning btn-block">搜索</button></p>
            </div>
        </div>
    </form>
    <br/>

	<form style="margin-top:2.5rem;" action="{{ url_for('mobile_cart') }}" method="post">
        <input type="hidden" name="area_id" value="{{ area_id }}">
		<div class="storage-block clearfix">
		{% for batch in batch_infos %}
			<div class="col-6-gap storage-sku js-wrapper js-{{ batch.get('product_name') }} js-{{ batch.get('category_name') }}">
				<p class="text-center light-font-md p-title">{{ batch.get('city') }}</p>
				<div class="p-content">
					<p class="light-font-sm">
						产品名称 ：{{ batch.get('product_name') }}
					</p>
					<p class="light-font-sm">
						规格 ：{{ batch.get('sku_specification') }}
					</p>
                    <p class="light-font-sm">
						SKU代码 ：{{ batch.get('sku_code') }}
					</p>
					<p class="light-font-sm">
						生产日期 ：{{ batch.get('production_date') }}
					</p>
                    <p class="light-font-sm">
						价格 ：{{ '' if batch.get('price')==None else "%s元" % batch.get('price') }}
					</p>
                    <p class="light-font-sm">
						库存量 ：{{ batch.get('stocks') }}㎡
					</p>
				</div>
				<div class="p-input">
					<input name="product_name_{{ batch.get('batch_id') }}" value="{{ batch.get('product_name') }}" type="hidden">
					<input name="sku_code_{{ batch.get('batch_id') }}" value="{{ batch.get('sku_code') }}" type="hidden">
                    <input name="sku_id_{{ batch.get('batch_id') }}" value="{{ batch.get('sku_id') }}" type="hidden">
					<input name="sku_specification_{{ batch.get('batch_id') }}" value="{{ batch.get('sku_specification') }}" type="hidden">
					<input name="sku_thumbnail_{{ batch.get('batch_id') }}" value="{{ batch.get('thumbnail') }}" type="hidden" >
                    <input name="batch_no_{{ batch.get('batch_id') }}" value="{{ batch.get('batch_no') }}" type="hidden" >
                    <input name="production_date_{{ batch.get('batch_id') }}" value="{{ batch.get('production_date') }}" type="hidden" >
                    <input name="batch_id_{{ batch.get('batch_id') }}" value="{{ batch.get('batch_id') }}" type="hidden" >
                    <input name="user_{{ batch.get('batch_id') }}" value="{{ batch.get('user') }}" type="hidden" >
					<div class="input-group material-group">
							<span class="input-group-btn del-btn ">
									<button type="button" class="btn btn-default btn-padding">
											<span class="glyphicon glyphicon-minus"></span>
									</button>
							</span>
							<input type="text" name="number_{{ batch.get('batch_id') }}" class="text-center form-control padding-0 input-number" value="0">
							<span class="input-group-btn add-btn ">
									<button type="button" class="btn btn-default btn-padding">
											<span class="glyphicon glyphicon-plus"></span>
									</button>
							</span>
					</div>
				</div>
			</div>
		{% endfor %}
		</div>

		<div class="fixed-bot">
			<button type="submit" class="col-6 orange">加入购物车</button>
			<a href="{{ url_for('mobile_cart') }}" class="col-6 gray">进入购物车</a>
		</div>

	</form>

</div>
<script>
	$(function(){
		var categories=[];

		{% for category in categories %}
			{% with products_json = load_products(category.get('category_id')) %}
				{% for product_json in products_json %}
				 if(categories["{{ category.get('category_name') }}"]===undefined){
					categories["{{ category.get('category_name') }}"]=[];
					categories["{{ category.get('category_name') }}"].push("all");
					categories["{{ category.get('category_name') }}"].push("{{ product_json.get('name') }}");
				 }else{
					categories["{{ category.get('category_name') }}"].push("{{ product_json.get('name') }}");
				 }
				{% endfor %}
			{% endwith %}
		{% endfor %}

		for(var i in categories){
			var option=$("<option>"+i+"</option>")
			$("#category-select").append(option);
		}

		$("#category-select").change(function(e){
			$("#product-select").html("");
			var value=$(this).val();
			for(var i in categories[value]){
				var option=$("<option>"+categories[value][i]+"</option>");
				$("#product-select").append(option);
			}
			if(value==="all"){
				$(".js-wrapper").removeClass("hidden")
			}else{
				$(".js-wrapper").removeClass("hidden").not(".js-"+value.replace(/ /g,"").replace(/\./g,"")).addClass("hidden");
			}
		});

		$("#product-select").change(function(e){
			var category=$("#category-select").val();
			var value=$(this).val();
			if(value==="all"){
				$(".js-"+category).removeClass("hidden")
			}else{
				$(".js-wrapper").removeClass("hidden").not(".js-"+value.replace(/ /g,"").replace(/\./g,"")).addClass("hidden");
			}
		});
	})
</script>
{% endblock %}