{% extends 'mobile_base.html' %}
{% from 'macros/mobile_partial.html' import header %}
{% block content %}
{{ header('库存共享') }}

<div class="main-content">
	<div class="text">
		<p class="text-title">库存列表</p>
	</div>
	
	<div class="wrapper">
        {% for area in areas %}
            <div class="col-6-gap bot-gap-1 storage-link"><a href="{{ url_for('stocks_share', area_id=area.id) }}" class="text-md btn btn-default btn-block">{{ area.name }}库存</a></div>
	    {% endfor %}
    </div>
		
</div>

{% endblock %}