{% extends 'mobile_base.html' %}
{% from 'macros/mobile_partial.html' import header %}
{% block content %}
{{ header('库存查询') }}
<div class="main-content">
	<div class="text">
		<p class="text-title title-style-1">{{ skus.get('name') }}</p>
	</div>

	<form style="margin-top:2.5rem;" action="{{ url_for('mobile_cart') }}" method="post">
        <input type="hidden" name="product_id" value="{{ product_id }}">
		<div class="storage-block clearfix">
		{% for sku in skus.get('skus') %}
            {% if not sku.get('isvalid') == "NO"%}
			<div class="col-6-gap storage-sku">
				<a style="display:block"><img src="{{ sku.get('thumbnail') }}" class="full-img"></a>
				<p class="text-center light-font-md p-title">sku号 ：{{ sku.get('code') }}</p>
				<div class="p-content">
					<p class="light-font-sm">
						库存 ：{{ sku.get('normal_stocks')|int }}㎡
					</p>
					<p class="light-font-sm">
						规格 ：{{ sku.get('options') }}
					</p>
					<p class="light-font-sm">
						备注 ：{{ sku.get('memo') or '--' }}
					</p>
				</div>
				<div class="p-input">
					<input name="product_name_{{ sku.get('sku_id') }}" value="{{ skus.get('name') }}" type="hidden">
					<input name="sku_code_{{ sku.get('sku_id') }}" value="{{ sku.get('code') }}" type="hidden">
                    <input name="sku_id_{{ sku.get('sku_id') }}" value="{{ sku.get('sku_id') }}" type="hidden">
					<input name="sku_specification_{{ sku.get('sku_id') }}" value="{{ sku.get('options') }}" type="hidden">
					<input name="sku_thumbnail_{{ sku.get('sku_id') }}" value="{{ sku.get('thumbnail') }}" type="hidden" >
					<div class="input-group material-group">
							<span class="input-group-btn del-btn ">
									<button type="button" class="btn btn-default btn-padding">
											<span class="glyphicon glyphicon-minus"></span>
									</button>
							</span>
							<input type="text" name="number_{{ sku.get('sku_id') }}" class="text-center form-control padding-0 input-number" value="0">
							<span class="input-group-btn add-btn ">
									<button type="button" class="btn btn-default btn-padding">
											<span class="glyphicon glyphicon-plus"></span>
									</button>
							</span>
					</div>
				</div>
			</div>
            {% endif %}
		{% endfor %}
		</div>
		<div class="keep-bot">
			<button type="submit" class="col-6 orange">加入购物车</button>	
			<a href="{{ url_for('mobile_cart') }}" class="col-6 gray">进入购物车</a>
		</div>

	</form>

</div>

{% endblock %}