{% extends 'mobile_base.html' %}
{% from 'macros/mobile_partial.html' import header %}
{% block content %}
{{ header('物流追踪') }}

<div class="main-content">

	<div class="contract-block top-gap-3">
		<div class="contract-header">
			<p class="text-md text-center">物流状态</p>
		</div>

		<div class="contract-item">
			<div class="contract-table">
				<p class="text-sm">合同号: {{ tracking_info.contract_no }}</p>
			</div>
			<div class="contract-table">
				<p class="text-sm">合同日期： {{ tracking_info.contract_date.strftime('%F')  }}</p>
			</div>
		</div>

		<div class="contract-item">
			<div class="contract-table">
				<p class="text-sm">发货日期： {{ tracking_info.delivery_date.strftime('%F') if tracking_info.delivery_date else '-' }}</p>
			</div>
			<div class="contract-table">
				<p class="text-sm">收货人： {{ tracking_info.delivery_infos.get('recipient') or '-' }}</p>
			</div>
			<div class="contract-table">
				<p class="text-sm">收货电话： {{ tracking_info.delivery_infos.get('recipient_phone') or '-' }}</p>
			</div>
			<div class="contract-table">
				<p class="text-sm">收货地址： {{ tracking_info.delivery_infos.get('recipient_address') or '-' }}</p>
			</div>
			<div class="contract-table">
				<p class="text-sm">物流单号： {{ tracking_info.delivery_infos.get('delivery_no') or '-' }}</p>
			</div>
		</div>

		<div class="contract-footer">
			<div class="contract-table">
				<p class="text-sm">货物重量： {{ tracking_info.delivery_infos.get('goods_weight') or '-' }} kg</p>
				<p class="text-sm">货物件数： {{ tracking_info.delivery_infos.get('goods_count') or '-' }}</p>
			</div>
			<div class="contract-table">
				<p class="text-sm">运输时间： {{ tracking_info.delivery_infos.get('duration') or '-' }}</p>
				<p class="text-sm">运费： ¥ {{ tracking_info.delivery_infos.get('freight') or '-' }}</p>
			</div>
			<div class="contract-table">
				<p class="text-sm">货运公司电话： {{ tracking_info.delivery_infos.get('delivery_tel') or '-' }}</p>
			</div>
			<div class="contract-table">
				<p class="text-sm">提货号码： {{ tracking_info.delivery_infos.get('pickup_no') or '-' }}</p>
			</div>
		</div>
	</div>
</div>

{% endblock %}
