{% extends 'mobile_base.html' %}
{% from 'macros/mobile_partial.html' import header %}
{% from 'macros/mobile_pagination.html' import render_pagination %}
{% block content %}
{{ header('经销商管理') }}

<div class="main-content">
	<div class="wrappper top-gap-3">
		<form action="{{ url_for('mobile_users_dealers_search') }}" method="get">
			{{ form.email(class="form-control",placeholder="请输入email") }}
			{{ form.name(class="form-control top-gap-3",placeholder="请输入姓名") }}
			{{ form.sales_range(class="form-control top-gap-3",placeholder="选择销售范围") }}
			<input type="submit" class="btn btn-block btn-warning top-gap-3">
		</form>
	</div>

	<div class="wrappper top-gap-3">
		{% if users_dealers: %}
		<table class="table table-striped">
			<thead>
				<tr>
				  <th>email</th>
				  <th>name</th>
				  <th>sales_areas</th>
				  <th>operator</th>
				</tr>
			</thead>
			{% for us in users_dealers %}
				<tr>
					<td> {{ us.email }} </td>
					<td> {{ us.nickname }} </td>
					<td>
						{% for sa in us.sales_areas%}
							{{ sa.name }} ,
						{% endfor %}
					</td>
					<td>
						<a href="{{ url_for('mobile_users_dealers_edit',user_id=us.id) }}">
						update</a>
					</td>
				</tr>
			{% endfor %}
		</table>
		{% endif %}

		{% if pagination %}
			{{ 
				render_pagination(
					pagination,
					url_for('mobile_users_dealers_search', page = pagination.prev_num,name=form.name.data,email=form.email.data,sales_range=form.sales_range.data) ,
					url_for('mobile_users_dealers_search', page = pagination.next_num,name=form.name.data,email=form.email.data,sales_range=form.sales_range.date)
				) 
			}}
		{% endif %}
	</div>
</div>

{% endblock %}