{% extends 'mobile_base.html' %}
{% from 'macros/mobile_partial.html' import header %}
{% block content %}
{{ header('用户信息') }}
<div class="main-content">
	<div class="wrappper top-gap-3">
		<form action="{{ url_for('mobile_user_logout') }}" method="get">
			{{ form.email(class="form-control",readonly="readonly") }}
			{{ form.name(class="form-control top-gap-3",readonly="readonly") }}
			{{ form.address(class="form-control top-gap-3",readonly="readonly") }}
			{{ form.phone(class="form-control top-gap-3",readonly="readonly") }}
			{{ form.sale_range(class="form-control top-gap-3",readonly="readonly") }}
		            <button type="submit" class="btn btn-block btn-warning top-gap-3">退出登入</button>
		</form>
	</div>
</div>

{% endblock %}