{% extends 'pc_base.html' %}
{% from 'macros/pc_partial.html' import sidebar %}
{% block main_content %}

{{ sidebar(active_tab = 'content') }}
<div class="contents">
	<div class="contents-header">
		<div class="contents-header-img"><img class="full-img" src="/static/images/product.png" /></div>
		<p class="contents-header-p">新增标题</p>
		<p class="contents-header-p text-sm">new titles</p>
	</div>
	<div class="separator"><span></span></div>
	<div class="widget">
		<div class="widget_header">
			<h4 class="widget_header_title"><span class="glyphicon glyphicon-off"></span>&nbsp;&nbsp;&nbsp;新增标题</h4>
		</div>

		<form action="{{ url_for('content.title_edit', id = title.id) }}" enctype="multipart/form-data" method="post">
			<div class="widget_contents padding-0">
				<div class="form-item">
					<span class="form-label">{{ form.name.label }}</span>
					{{ form.name(class = 'form-input form-control') }}
				</div>
				<div class="form-item">
					<span class="form-label">{{ form.description.label }}</span>
					{{ form.description(class = 'form-input form-control') }}
				</div>
				<div class="form-item">
					<span class="form-label">{{ form.image_file.label}}</span>
					<div class="file">
						<a href="javascript:;">
							<span class="glyphicon glyphicon-arrow-up"></span>
							{{ form.image_file }}
						</a>
					</div>
					<div class="pic-upload top-gap-1">
						<img class="full-img" src="{{ title.image_path }}">
					</div>
				</div>

				<div class="form-item">
					<span class="form-label">选择标签</span>
					<div class="label-block">
					{% for option in options %}
					<div class="label-item">
						<input id="option_{{ option.id }}" name="option_ids[]" value="{{ option.id }}" type="checkbox" class="chk_1" {% if option in title.options %} checked="true"{% endif %}> 
						<label for="option_{{ option.id }}">{{ option.name }}</label> 
					</div>
					{% endfor %}
					</div>
				</div>
			</div>

			<div class="text-right top-gap-1">
				<button type="submit" class="btn btn-default my-btn">更新</button>
				<a href="{{ url_for('content.title_index') }}" class="btn btn-default my-btn">返回</a>									
			</div>
		</form>
		
	</div>
</div>
			
{% endblock %}