{% macro sidebar(active_tab = 'category') %}
	<aside class="sidebar">
		<ul class="tab_nav">
			<li class="pic-dashboard {% if active_tab == 'content' %}active_tab{% endif %}">
				<a href="{{ url_for('content.index') }}" title="Content">
					<span class="tab_label">内容标题</span>
					<span class="tab_info">Content</span>
				</a>
			</li>
			<li class="pic-form {% if active_tab == 'category' %}active_tab{% endif %}">
				<a href="{{ url_for('content.category_index') }}" title="Category">
					<span class="tab_label">目录管理</span>
					<span class="tab_info">Category</span>
				</a>
			</li>
			<li class="pic-dashboard {% if active_tab == 'product' %}active_tab{% endif %}">
				<a href="{{ url_for('product.category_index') }}" title="Product">
					<span class="tab_label">产品管理</span>
					<span class="tab_info">Product</span>
				</a>
			</li>
            <li class="pic-dashboard {% if active_tab == 'order_manage' %}active_tab{% endif %}">
				<a href="{{ url_for('order_manage.order_index') }}" title="Product">
					<span class="tab_label">订单管理</span>
					<span class="tab_info">Order</span>
				</a>
			</li>
            <li class="pic-dashboard {% if active_tab == 'contract_manage' %}active_tab{% endif %}">
				<a href="{{ url_for('order_manage.contract_index') }}" title="Product">
					<span class="tab_label">合同管理</span>
					<span class="tab_info">Contract</span>
				</a>
			</li>
			<!--
			<li class="pic-form {% if active_tab == 'product' %}active_tab{% endif %}">
				<a href="products_manage.html" title="Product">
					<span class="tab_label">产品管理</span>
					<span class="tab_info">无用</span>
				</a>
			</li>
			-->
		</ul>
	</aside>
{% endmacro %}