{% macro sidebar(active = 'category') %}
	<aside class="my-nav">
		<div id="sidebar">
			<ul class="sidebar-menu">
				<li class="{% if active == 'home' %}active{% endif %}"><a><i class="glyphicon glyphicon-dashboard"></i><span>首页</span></a></li>
				<li class="sub-menu {% if active == 'dealer' %}active{% endif %}">
					<a><i class="glyphicon glyphicon-comment"></i><span>经销商视图</span><span class="dcjq-icon"></span></a>
					<ul class="sub">
						<li><a>经销商列表管理</a></li>
                        <li><a href="{{ url_for('inventory.share_index') }}">库存共享</a></li>
					</ul>
				</li>
				<li class="sub-menu {% if active == 'sale' %}active{% endif %}">
					<a><i class="glyphicon glyphicon-shopping-cart"></i><span>销售管理</span><span class="dcjq-icon"></span></a>
					<ul class="sub">
						<li><a href="{{ url_for('order_manage.order_index') }}">订单列表</a></li>
						<li><a href="{{ url_for('order_manage.contract_index') }}">合同列表</a></li>
						<li><a href="{{ url_for('order_manage.tracking_infos') }}">物流状态列表</a></li>
						<li>
							<a>工作流与审批<span class="dcjq-icon"></span></a>
							<ul class="t-sub">
								<li><a href="{{ url_for('content.material_application_index') }}">物料申请</a></li>
                                <li><a href="{{ url_for('project_report.index') }}">项目报备申请</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="sub-menu {% if active == 'product' %}active{% endif %}">
					<a><i class="glyphicon glyphicon-tasks"></i><span>产品管理</span><span class="dcjq-icon"></span></a>
					<ul class="sub">
						<li><a href="{{ url_for('product.category_index') }}">产品</a></li>
						<li><a href="{{ url_for('inventory.index') }}">库存</a></li>
					</ul>
				</li>
				<li class="sub-menu {% if active == 'design' %}active{% endif %}">
					<a><i class="glyphicon glyphicon-paperclip"></i><span>产品设计</span><span class="dcjq-icon"></span></a>
					<ul class="sub">
						<li><a href="{{ url_for('design_application.index') }}">待设计列表 &nbsp;&nbsp;<div class="badge badge-info"></div></a></li>
					</ul>
				</li>
				<li class="sub-menu {% if active == 'file' %}active{% endif %}">
					<a><i class="glyphicon glyphicon-folder-open"></i><span>归档中心</span><span class="dcjq-icon"></span></a>
					<ul class="sub">
						<li><a href="{{ url_for('content.category_index') }}">内容</a></li>
					</ul>
				</li>
				<li class="sub-menu {% if active == 'service' %}active{% endif %}">
					<a><i class="glyphicon glyphicon-phone-alt"></i><span>售后服务</span><span class="dcjq-icon"></span></a>
					<ul class="sub">
						<li><a>生产合同列表</a></li>
					</ul>
				</li>
				<li class="{% if active == 'statistics' %}active{% endif %}">
					<a><i class="glyphicon glyphicon-signal"></i><span>数据统计</span></a>
				</li>
				<li class="sub-menu {% if active == 'organization' %}active{% endif %}">
					<a><i class="glyphicon glyphicon-user"></i><span>系统组织架构</span><span class="dcjq-icon"></span></a>
					<ul class="sub">
						<li><a>组织架构及权限组</a></li>
						<li><a>区域管理和销售团队</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</aside>
	<!--
	<aside class="sidebar">
		<ul class="tab_nav">
			<li class="pic-dashboard {% if active == 'content' %}active{% endif %}">
				<a href="" title="Content">
					<span class="tab_label">内容标题</span>
					<span class="tab_info">Content</span>
				</a>
			</li>
			<li class="pic-form {% if active == 'category' %}active{% endif %}">
				<a href="{{ url_for('content.category_index') }}" title="Category">
					<span class="tab_label">目录管理</span>
					<span class="tab_info">Category</span>
				</a>
			</li>
			<li class="pic-dashboard {% if active == 'product' %}active{% endif %}">
				<a href="{{ url_for('product.category_index') }}" title="Product">
					<span class="tab_label">产品管理</span>
					<span class="tab_info">Product</span>
				</a>
			</li>
            <li class="pic-dashboard {% if active == 'order_manage' %}active{% endif %}">
				<a href="{{ url_for('order_manage.order_index') }}" title="Product">
					<span class="tab_label">订单管理</span>
					<span class="tab_info">Order</span>
				</a>
			</li>
            <li class="pic-dashboard {% if active == 'contract_manage' %}active{% endif %}">
				<a href="{{ url_for('order_manage.contract_index') }}" title="Product">
					<span class="tab_label">合同管理</span>
					<span class="tab_info">Contract</span>
				</a>
			</li>
		</ul>
	</aside>
	-->
{% endmacro %}