{% extends 'base.html' %}
{% block content %}

	<h4>{{ title.name }}</h4>
	<p>Description: {{ title.description }}</p>
	<p>Content Thumbnail: {{ title.content_thumbnail }}</p>
	<form action="{{ url_for('content.title_delete', id = title.id) }}" method="post">
		<button type="submit" data-confirm="Are you sure?">Delete title</button>
		<a href="{{ url_for('content.title_index') }}">Cancel</a>
	</form>
	{% for content in title.contents %}
		<p> {{ content.created_at.strftime('%F %T') }} {{ content.name }}</p>
	{% endfor %}

{% endblock %}