body{
	background:#fff;
	overflow-x:hidden;
	background: url(/static/images/bright_squares.png);
}
html.index-html {
    background-image: url(/static/images/timg.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% auto;
		height:100%;
}
.index-body{
    background-image:url();
		background-color:#eee;
	background-size: auto 100%;
	background-repeat: repeat；
	
}
th,td{
	font-size:0.75em;
	vertical-align:middle;
	text-align:center;
	color:#555;
}
td input{
    max-width: 30px;
    border-radius: 5px;
	text-align:center;
}
/*responsive font*/
@media screen and (min-width:400px){
	body{
		font-size:18px;
	}
}
/*general*/
.top-gap-0{
	margin-top:0px !important;
}
.bot-gap-0{
	margin-bottom:0px !important;
}
.left-gap-0{
	margin-left:0px !important;
}
.right-gap-0{
	margin-right:0px !important;
}
.top-gap-1{
	margin-top:0.65em !important;
}
.bot-gap-1{
	margin-bottom:0.65em !important;
}
.left-gap-1{
	margin-left:0.65em !important;
}
.right-gap-1{
	margin-right:0.65em !important;
}
.top-gap-2{
	margin-top:0.98em !important;
}
.bot-gap-2{
	margin-bottom:0.98em !important;
}
.left-gap-2{
	margin-left:0.98em !important;
}
.right-gap-2{
	margin-right:0.98em !important;
}
.top-gap-3{
	margin-top:1.3em !important;
}
.bot-gap-3{
	margin-bottom:1.3em !important;
}
.left-gap-3{
	margin-left:1.3em !important;
}
.right-gap-3{
	margin-right:1.3em !important;
}
.inline-display{
	display:inline !important;
}
.wrapper{
	width:100%;
}
.wrapper:after{
	display: table;
  content: " ";
	clear:both;
}
.ck-wrapper{
	padding-left:20px;
	padding-right:20px;
}
.ck-wrapper>p {
    line-height: 1.8em;
    letter-spacing: 0.75px;
    font-size: 0.8em;
    color: #666;
}
.text-indent-1{
	text-indent:20px;
}
.box-style-1{
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
}
.cover{
    position:relative;
}
.cover:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0,0.25);
}
.full{
	width:100% !important;
}
.col-12{
	padding:10px;
	width:100%;
	float:left;
}
.col-4{
	padding:10px;
	width:33.33%;
	float:left;
}
.col-4-gap{
    padding: 10px;
    width: 18%;
    float: left;
    margin-left: 7.66%;
    margin-right: 7.66%;
}
.col-3{
	padding:10px;
	width:25%;
	float:left;
}
.col-3-gap{
	width:23%;
	float:left;
	margin-left:1%;
	margin-right:1%;
}
.col-6{
	width:50%;
	float:left;
}
.col-6-gap{
	width:46%;
	float:left;
	margin-left:2%;
	margin-right:2%;
}
.text-lg{
	font-size:1em;
	letter-spacing:1.2px;
	line-height:1.8em;
}
.text-md{
	font-size:0.85em;
	letter-spacing:1px;
	line-height:1.7em;
}
.text-sm{
	font-size:0.75em;
	letter-spacing:0.8px;
	line-height:1.6em;
}
.text-dark{
	color:#444;
}
.text-gray {
    color: #666;
}
.text{
	margin-top:20px;
}
.text-title{
	margin-bottom: 15px;
    padding-left: 20px;
	position:relative;
	font-size: 1em;
	position:relative;
}
.text-title:before{
	content:" ";
	position:absolute;
	top:2px;
	left:0px;
	height:20px;
	width:10px;
	background:#F8B500;
}
.text-title.title-style-1{
	margin-bottom: 20px;
	padding-left:0px;
}
.text-title.title-style-1:before{
	content: " ";
    position: absolute;
    top: 26px;
    left:0px;
    height: 3px;
    width: 78px;
    background-size: contain;
	background-image:url(../images/divider3.jpg);
}
.text-content{
	color:#666;
	line-height:1.8em;
	letter-spacing:1px;
	font-size: 0.9em;
}
.text-content:last-child{
	margin-bottom:0px;
}
.text-img:not(:first-child){
	margin-top:15px;
}
.text-content.text-sm{
	line-height:1.8em;
	letter-spacing:0.75px;
	font-size: 0.8em;
}
.full-img{
	width:100%;
}
.divider{
    height: 2px;
    background: #aaa;
    margin-top: 30px;
    margin-bottom: 38px;
    background:-moz-linear-gradient(left,#7C7365,#F8B500);/*Mozilla*/
	background:-webkit-gradient(linear,0 50%,100% 50%,from(#7C7365),to(#F8B500));/*Old gradient for webkit*/
	background:-webkit-linear-gradient(left,#7C7365,#F8B500);/*new gradient for Webkit*/
	background:-o-linear-gradient(left,#7C7365,#F8B500); /*Opera11*/
}
.divider2{
    background-image: url(../images/divider.png);
    background-size: 53%;
    height: 19px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: 0.5;
    margin-top: 30px;
    margin-bottom: 38px;
}
.divider3{
    height: 1px;
    background: #F8B500;
    margin-top: 20px;
    margin-bottom: 18px;
    width: 30%;
}
.divider4{
    height: 1px;
    border-bottom:1px dotted #ddd;
    width: 100%;
}
.divider5{
    height: 1px;
    border-bottom:1px solid #888;
    width: 100%;
		margin:0.6rem 0rem;
}
.light-divider {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ccc;
    margin-top: 5px;
    margin-bottom: 5px;
}
.light-font-sm{
	FONT-SIZE: 0.75em;
	color: #888;
	line-height: 1.8em;
}
.light-font-md{
	FONT-SIZE: 0.85em;
    color: #888;
	line-height: 1.8em;
}
/*wrapper*/
.wrapper-style{
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.15);
}
.wrapper-style.rect{
    border-radius: 0px;
}
.wrapper-header {
    padding: 0.5em;
    font-size: 0.85em;
    color: #888;
    border-bottom: 1px solid #bbb;
}
.wrapper-inner {
    padding: 0.7em;
}
.wrapper-inner-img {
		width: 15%;
    height: 100%;
    float: left;
}
.wrapper-inner-content{
    float: left;
    width: 85%;
}
.wrapper-inner-content p{
    float: left;
    line-height: 2em;
    color: #999;
    padding-left: 0.4em;
    font-size: 0.6em;
}
.wrapper-inner-content>.wrapper-row:after{
	display:table;
	content:"";
	clear:both;
}
.wrapper-inner-content>.wrapper-row>p>span{
    padding-left: 0.4em;
    width: 100%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.wrapper-inner-content p.set-1{
    width:100%
}
.wrapper-inner-content p.set-2{
    width:50%
}
.wrapper-header-title {
    margin-left: 0.5em;
    padding-left: 0.3em;
}
.wrapper-header-icon {
    margin-right: 0.5em;
    padding-right: 0.3em;
		top: 0.26em;
}
.wrapper-footer {
    padding: 0.5em;
    font-size: 0.85em;
    color: #888;
    border-top: 1px solid #bbb;
}
/*nav*/
.nav-tab {
    margin-left: -5.5%;
    margin-right: -5.55%;
}
.nav-tab a {
    color: #7C7365;
    font-size: 0.75em;
    float: left;
    width: 33.33%;
    text-align: center;
    padding: 0 2.5%;
    line-height: 60px;
    box-shadow: 0px 0px 1px 0px #999;
    background:#fff;
}
.nav-tab .nav-icon{
    position: relative;
    top: 2px;
    left: -6px;
		font-size:1.2em;
}
.header.fixed-margin {
    margin-bottom:60px;
}
.header.fixed-margin-2 {
    margin-bottom:80px;
}
.nav-tab.fixed-menu {
    width: 100%;
    position: fixed;
    z-index: 10000;
    top: -1px;
		margin-left:-5%;
    animation: MenuFadeIn 0.5s;
}
.navbar.fixed-menu {
    width: 100%;
    position: fixed;
    z-index: 10000;
    top: -1px;
		margin-left:-5%;
    animation: MenuFadeIn 0.5s;
}
@keyframes MenuFadeIn{

  0%{transform: translate(0px, -10px);}

  100%{transform: translate(0px, 0px);}

}
.navbar {
    margin-left: -5.5%;
    margin-right: -5.55%;
		height:60px !important;
		z-index:1000;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #fff;
}
/*module*/
.module-1{
	margin-top:20px;
	margin-bottom:20px;
}
.sub-module-1{
	margin-bottom:30px;
}
.sub-module-1 .module-title {
    text-align: center;
    letter-spacing: 2px;
    color: #4a4a4a;
}
.sub-module-1 .module-row {
    text-align: center;
    margin-bottom:15px;
}
/*animation*/
.flipInY {
  backface-visibility: visible !important;
  animation-name: flipInY;
  animation-duration: 0.75s;
}
.flipInY:nth-of-type(2) {
  animation-delay: .1s;
}
.flipInY:nth-of-type(3) {
  animation-delay: 0.2s;
}
@keyframes flipInY {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}
/*carousel*/
#myCarousel{
	margin-left:-5.5%;
	margin-right:-5.55%;
}
#indexCarousel{
	margin-left:-5.5%;
	margin-right:-5.55%;
    top: -60px;
    margin-bottom: -60px;
}
/*modal*/
.full-modal .modal-dialog{
	width:100%;
	margin:0px;
}
.full-modal .modal-body{
	padding:0px;
}
/*table*/
.expanded-table{
    width: auto;
    margin-left: -3%;
    margin-right: -3%;
}
.table.text-left td,.table.text-left th{
	text-align:left;
}
/*button*/
.btn-style-1 {
    border: 1px solid #F8B500;
    color: #F8B500;
		BACKGROUND: #fff;
    padding: 0.3em 0.5em;
}
.btn-style-2 {
    background-color: #FFCC33;
    font-size: 0.65em;
    text-decoration: none;
    color: #fff;
    position: relative;
    padding: 0.4em 1.5em;
    border-left: solid 1px #FFCC33;
    margin-left: 35px;
    background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: inset 0px 1px 0px #FFCC33, 0px 5px 0px 0px #CC6633, 0px 10px 5px #999;
}
.btn-style-2::before {
    font-family: 'Glyphicons Halflings';
    content: "\e197";
    background-color: #FF9900;
    width: 35px;
    text-align: center;
    height: 100%;
    position: absolute;
    display: block;
    padding-top: 3px;
    top: 0px;
    left: -36px;
    font-size: 0.65em;
    font-weight: bold;
    color: #FFCC33;
    text-shadow: 1px 1px 0px #FF9900;
    border-right: solid 1px #FF9900;
    background-image: linear-gradient(bottom, rgb(10,94,125) 0%, rgb(14,139,184) 100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: inset 0px 1px 0px #FF9900, 0px 5px 0px 0px #CC3300, 0px 10px 5px #999;
}
/*index*/
.header{
	box-shadow:0px 0px 3px 0px rgba(0,0,0,0.6);
	height:60px;
	background:#fff;
}
.index-body .header{
    background:rgba(0,0,0,0);
    box-shadow: none;
		position:relative;
		z-index:1;
}
.header-logo{
    width: 100px;
    float: left;
    margin-top: 11px;
    margin-left: 10px;
}
.index-body .header-logo{
    width: 70px;
    float: right;
    margin-right: 10px;
}
.header-title{
    float: right;
    font-size: 1em;
    font-weight: 500;
    margin-right: 30px;
    margin-top: 18px;
    border-bottom: 2px solid #F8B500;
    padding-bottom: 5px;
	color:#7C7365;
}
.main-content{
    width: 90%;
    margin: 0px auto;
	margin-bottom:60px;
}
/*
.menu-row {
    margin-top: 30px;
}
.menu-row:not(:first-child) {
    margin-top: 50px;
}
*/
.menu {
    margin-left: -5.5%;
    margin-right: -5.55%;
}
.menu-ele{
	position:relative;
  background: #fff;
}
.menu-ele a img{
	width:100%;
}
.menu-ele a {
    display: block;
    text-align: center;
    width: 40%;
    margin: 0.4em auto;
}
.menu-ele p{
    font-size: 0.75em;
    letter-spacing: 1px;
    text-shadow: 0px 0px 1px rgba(0,0,0,0.4);
    color: #7C7365;
    margin-top: 0.7em;
    text-align: center;
}
/*product*/
.profile-banner{
	margin-left:-5.5%;
	margin-right:-5.5%;
}
.sub-module-1 .divider2{
    margin-top: 10px;
    margin-bottom: 10px;
}
.product p {
    font-size: 0.8em;
    margin-top: 10px;
		color:#4a4a4a;
}
.product-divider {
    height: 1px;
    background: #F8B500;
    margin-top: 9px;
    margin-bottom: 10px;
    margin-left: 15%;
    margin-right: 15%;
}
.texture{
	margin-top:20px;
}
.texture-dialog {
    width: 50%;
    margin: 0px auto;
    margin-top: 50%;
}
.texture-dialog .modal-body {
    padding:5px;
}
.modal-open{
	overflow:auto;
}
.case{
	margin-top:15px;
	position:relative;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.5);
	border-radius: 0px 0px 5px 5px;
}
.case p{
	background:#fff;
	border-radius:0px 0px 5px 5px;
	padding:3px 0px;
	background-image:url("../images/a_bg.jpg");
	background-size:200% 100%;
}
.case:first-child{
	margin-top:0px;
}
.case:nth-child(2){
	margin-top:0px;
}
/*库存*/
/*storage*/
.fixed-bot {
    position: fixed;
    width: 100%;
    left: 0px;
    bottom: 0px;
		z-index:10;
}
.fixed-bot a {
    display: block;
    text-align: center;
    font-size: 1em;
    padding: 15px 0px;
    border-top: 1px solid #ddd;
}
.fixed-bot a:last-child {
    border-right: none;
}
.fixed-bot a.orange{
    background: #F8B500;
    color: #fff;
}
.fixed-bot a.gray{
    background: #7C7365;
    color: #fff;
}
.fixed-bot button {
    display: block;
    text-align: center;
    font-size: 1em;
    padding: 15px 0px;
		border: none;
    border-top: 1px solid #ddd;
}
.fixed-bot button:last-child {
    border-right: none;
}
.fixed-bot button.orange{
    background: #F8B500;
    color: #fff;
}
.fixed-bot button.gray{
    background: #7C7365;
    color: #fff;
}
.storage-sku{
	margin-top:15px;
	position:relative;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.5);
}
.storage-sku>a{
	background:#fff;
}
.storage-sku .p-title{
    background-color:#eee;
    padding: 2px 0px;
    border-top: 1px solid #aaa;
}
.storage-sku .p-content{
	background:#f0f0f0;
	padding: 0.25em 0.35em;
	border-top:1px solid #ddd;
}
.storage-sku:first-child{
	margin-top:0px;
}
.storage-sku:nth-child(2){
	margin-top:0px;
}
.storage-sku .material-group {
    width: 100%;
    margin: 0px auto;
}
.storage-sku .material-group  button{
    border-radius:0px;
}
/*share*/
.center-wrappper {
    position: absolute;
    top: 30%;
    width: 90%;
}
/*物料需要*/
.btn.btn-padding{
	padding:6px 5px;
}
.line-height-34{
	line-height:34px;
}
.material-group{
	width:80%;
	margin:0px auto;
}
.padding-0{
	padding:0px;
}
/*tracking*/
.tracking-block{
	margin-left:1.8em;
	position:relative;
	padding-bottom: 1.5em;
}
.tracking-block:before{
	content:"";
	position:absolute;
	left:-1.5em;
	top:0.45em;
	height:0.5em;
	width:0.5em;
	background:#ddd;
	border-radius:1em;
}
.tracking-block.passed:before{
	background:#F8B500;
}
.tracking-block.active:before{
	background:#F8B500;
	box-shadow:0px 0px 3px 1px #f8b500;
}
.tracking-block:after {
    content: "";
    position: absolute;
    left: -1.28em;
    top: 0.95em;
    height: 4em;
    width: 1px;
    background: #ddd;
    border-radius: 1em;
}
.tracking-block.passed:after{
	background:#F8B500;
}
.tracking-block:last-child:after {
    display:none;
}
.tracking-detail{
    padding-bottom:1.5em;
	border-bottom: 1px dotted #eee;
	color:#ddd;
}
.tracking-block:last-child .tracking-detail{
	border-bottom: none;
}
.tracking-block.passed .tracking-detail{
	color:#F8B500;
}
.tracking-block.active .tracking-detail{
	color:#F8B500;
}
/*售后*/
.phone-number {
	padding: 0.5em;
    text-align: center;
    border-radius: 5px;
    letter-spacing: 1px;
    border: 1px solid #7C7365;
}
.phone-number.sub-number {
	border-radius: 0px 0px 5px 5px;
}
.phone-title{
    padding-left:1em;
    border-radius: 5px 5px 0px 0px;
    letter-spacing: 1px;
    border: 1px solid #7C7365;
    border-bottom: 0px;
	background:#7C7365;
	color:#fff;
}
/*合同*/
.contract-block.top-gap-3 {
    background: #fff;
}
.contract-header {
    padding: 0.5em;
    border-radius: 0.4em 0.4em 0 0;
    border: 1px solid #ccc;
    border-bottom: 1px dashed #ccc;
}
.contract-item {
    padding: 0.6em;
    border: 1px solid #ccc;
    border-bottom: 1px dashed #ccc;
    border-top: none;
}
.contract-table {
    display: table;
    width: 100%;
}
.contract-table p {
    display: table-cell;
		width:50%;
		color:#7d7d7d;
		line-height:1.9em;
}
.contract-table p.float {
    display: block;
		float:left;
}
.contract-footer {
    padding: 0.5em;
    border-radius: 0 0 0.4em 0.4em;
    border: 1px solid #ccc;
    border-top: none;
}
.contract-float {
    width: 100%;
}
.contract-float p {
    float:left;
		width:50%;
		color:#7d7d7d;
		line-height:1.9em;
}
.contract-value{
	  display: block;
    margin-bottom: 0.5em;
    margin-right: 1em;
    color: #999;
    padding-left:1em;
		position:relative;
}
.contract-value:after {
    content: "-";
    position: absolute;
    left: 0.3em;
    top: -0.1em;
}
.contract-value.without-line:after {
    content: "";
}
/*file*/
.file a{
		font-size: 0.75em;
    border: 0px;
    position: relative;
    display: block;
    border-radius: 10px;
    padding: 4px 12px;
    overflow: hidden;
    text-decoration: none;
    line-height: 24px;
    text-align: center;
    margin: 0px auto;
    width: 120px;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.15);
		background: #eee;
}

.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
		height: 100%;
}
.file label{
  display:block;
  padding-top:0.5em;
	color:#888;
	word-wrap: break-word;
}
.file a:hover {
    background: #ddd;
    text-decoration: none;
}
/*登录界面的错误提示*/
.popover {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1060;
		max-width:none;
    width: 100%;
    padding: 1px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: left;
    white-space: normal;
    background-clip: padding-box;
    border: 1px solid #da4453;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
		color: #fff;
    background-color: #da4453;
		display:block;
}
.popover>.arrow {
    border-width: 11px;
}
.popover>.arrow, .popover>.arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
.popover.bottom .arrow, .popover.bottom .arrow:after {
    border-bottom-color: #da4453;
}
.popover.bottom>.arrow {
    top: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-width: 0;
    border-bottom-color: #999;
    border-bottom-color: rgba(0,0,0,.25);
}
.popover-title {
    padding-bottom: 0;
    font-weight: 700;
    color: #fff;
    background-color: transparent;
    border-bottom: none;
		padding: 5px 14px;
    margin: 0;
    font-size: 0.8em;
}
.popover-content {
    padding: 9px 14px;
}

.my-footer{
    position: absolute;
    font-size: 0.6em;
    text-align: right;
    width: 100%;
    padding: 0.5em;
    bottom: 0px;
    background: rgba(0,0,0,0.5);
    color: #fff;
}

/*2017/3/25*/
.block{
	display:block;
	width:100% !important;
}
.inline-block{
	display:inline-block !important;
}
.selection>p{
    padding: 0.3em;
    border: 1px solid #aaa;
    border-radius: 5px 5px 0px 0px;
    background: #F8B500;
    color: #fff;
}
.selection>select{
    border-radius: 0px 0px 5px 5px;
}	
.selection:first-child{
	padding-right:0.5em;
}
.selection:last-child{
	padding-left:0.5em;
}	
.much-more {
    background: url(/static/images/arrd.png);
    height: 1.6em;
    border: none;
}
.border-none {
	border:none !important;
}
.slide-panel{
	display:none;
}
