/*general*/
.top-gap-0{
	margin-top:0px !important;
}
.bot-gap-0{
	margin-bottom:0px !important;
}
.left-gap-0{
	margin-left:0px !important;
}
.right-gap-0{
	margin-right:0px !important;
}
.top-gap-1{
	margin-top:10px !important;
}
.bot-gap-1{
	margin-bottom:10px !important;
}
.left-gap-1{
	margin-left:10px !important;
}
.right-gap-1{
	margin-right:10px !important;
}
.top-gap-2{
	margin-top:15px !important;
}
.bot-gap-2{
	margin-bottom:15px !important;
}
.left-gap-2{
	margin-left:15px !important;
}
.right-gap-2{
	margin-right:15px !important;
}
.top-gap-3{
	margin-top:20px !important;
}
.bot-gap-3{
	margin-bottom:20px !important;
}
.left-gap-3{
	margin-left:20px !important;
}
.right-gap-3{
	margin-right:20px !important;
}
.padding-0{
	padding:0px !important;
}
.full-img{
	width:100%;
}
.separator {
  background: url(../images/separator_line.png) repeat-x scroll 0 10px transparent;
	border: 10px solid rgba(0,0,0,0);
}
.separator > span {
	display: block;
    width: 70px;
    height: 20px;
    margin: 0 auto;
    padding: 5px 10px;
    background: url(../images/separator_circle.png) no-repeat scroll center center #F9F9F9;
}
/*layout*/
body{
	background:#efefef;
	min-width: 1280px;
	height:100%;
}
.body-content{
	width:100%;
	position:relative;
}
.my-header{
  width: 100%;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1002;
	min-height: 60px;
	padding: 0 15px;
	background: #eee;
	box-shadow: 0 0 5px rgba(57,70,78,.2);
}
.logo{
	float: left;
	width: 110px;
	margin-top: 10px;
	position: relative;
}
.logo span{
	position: absolute;
	top: 14px;
	right: -54px;
	color: #aaa;
	letter-spacing: 2px;
	font-weight: 700;
}
.header-notify {
    float: left;
    margin-left: 140px;
}
.header-notify li {
    display: inline-block;
}
.notify-icon {
    padding: 5px;
    position: relative;
    font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #fff;
    background: #555;
    margin-top: 12px;
    margin-left: 21px;
		cursor:pointer;
		transition:all 0.3s;
}
.notify-icon:hover {
    color:#fff;
		background:#ffcc66;
		border: 1px solid #ffcc66;
}
.notify-badge {
    position: absolute;
    color: #fff;
    font-size: 12px;
    border-radius: 20px;
    background: #aaa;
    padding: 0px 4px 4px 5px;
    top: -8px;
    right: -7px;
}
.notify-badge.green{
	background:#a9d86e;
}
.notify-badge.red{
	background:#ff6c60;
}
.notify-badge.yellow{
	background:#FCB322;
}
.login , .logout {
	padding: 8px;
	float: right;
	font-size: 18px;
	border: 1px solid #ddd;
	border-radius: 5px;
	color: #fff;
	background: #555;
	margin-top: 10px;
	margin-right: 21px;
	cursor: pointer;
	transition: all 0.3s;
}
.login:hover , .logout:hover {
    color:#fff;
		background:#ffcc66;
		border: 1px solid #ffcc66;
}
.my-nav{
	width: 240px;
	height: 100%;
	position: fixed;
	background: #2a3542;
	top:0px;
	left:0px;
}
#sidebar ul li {
	position: relative;
}

#sidebar .sub-menu>.sub li {
	padding-left: 32px;
}

#sidebar .sub-menu>.sub li:last-child {
	padding-bottom: 10px;
}

.dcjq-icon {
	height: 17px;
	width: 17px;
	display: inline-block;
	background: url(/static/images/nav-expand.png) no-repeat top;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	position: absolute;
	right: 10px;
	top: 15px;
}

.active .dcjq-icon {
	background: url(/static/images/nav-expand.png) no-repeat bottom;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.nav-collapse.collapse {
	display: inline;
}

ul.sidebar-menu,ul.sidebar-menu li ul.sub {
	margin: -2px 0 0;
	padding: 0;
}

ul.sidebar-menu {
	margin-top: 75px;
}

#sidebar>ul>li>ul.sub {
	display: none;
}

#sidebar>ul>li.active>ul.sub,#sidebar>ul>li>ul.sub>li>a {
	display: block;
}

ul.sidebar-menu li ul.sub li {
	background: #35404D;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
}

ul.sidebar-menu li ul.sub li:last-child {
	border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
}

ul.sidebar-menu li ul.sub li a {
	font-size: 12px;
	padding: 6px 0;
	line-height: 35px;
	height: 35px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
	color: #aeb2b7;
		cursor:pointer;
}

ul.sidebar-menu li ul.sub li a:hover,ul.sidebar-menu li ul.sub li.active a {
	color: #72d0eb;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
	display: block;
}

ul.sidebar-menu li {
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right: 10px;
}

ul.sidebar-menu li.sub-menu {
	line-height: 15px;
}

ul.sidebar-menu li a span {
	display: inline-block;
}

ul.sidebar-menu li a {
	color: #aeb2b7;
	text-decoration: none;
	display: block;
	padding: 15px 0 15px 10px;
	font-size: 12px;
	outline: none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
		cursor:pointer;
}
ul.sidebar-menu>li.active>a{
	background: #35404d;
	color: #fff;
	display: block;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
ul.sidebar-menu li a:hover,ul.sidebar-menu li a:focus {
	background: #35404d;
	color: #fff;
	display: block;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

ul.sidebar-menu li a i {
	font-size: 15px;
	padding-right: 6px;
    top: 3px;
    margin-right: 5px;
}

ul.sidebar-menu li.active a i {
    color: #72d0eb;
}
ul.sidebar-menu li a:hover i,ul.sidebar-menu li a:focus i {
	color: #72d0eb;
}


.mail-info,.mail-info:hover {
	margin: -3px 6px 0 0;
	font-size: 11px;
}


.my-main{
	position: relative;
	margin-left: 240px;
	margin-top: 60px;
}
.my-footer{
	width:100%;
	position:relative;
}
.my-footer-content{
}
.main-content{
	position:relative;
	margin-bottom: 50px;
}
.contents{
    width: 100%;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 0 3px 3px 0;
    border: 1px solid #dadada;
	min-height: 600px;
	padding:25px;
}
.contents-header-img {
    position: relative;
    float: left;
    width: 22px;
    margin-top: 1px;
}
.contents-header-p {
    color: #9D9D9D;
    font-size: 17px;
    text-shadow: 0 1px 0 #FFFFFF;
    padding-left: 33px;
}
.contents-header-p.text-sm {
    font-size: 12px;
	padding-top:3px;
}
.contents-header .new-one {
    width: 50px;
    height: 50px;
    position: absolute;
    box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.15);
    border-radius: 45px;
    background: linear-gradient(to bottom, #fafafa 0%,#eaeaea 100%);
    padding-left: 16px;
    padding-top: 15px;
    font-size: 19px;
    color: #aaa;
    right: 35px;
    top: 23px;
		cursor:pointer;
		transition:all 0.2s;
}
.contents-header .new-one:hover {
    color:#F8B500;
		box-shadow: 0px 1px 3px 2px rgba(0,0,0,0.25);
}
.widget_header{
    background: linear-gradient(to bottom, #ffffff 0%,#f5f5f5 100%);
    height: 38px;
    border: 1px solid #C9C9C9;
    border-bottom-width: 0;
    border-radius: 3px 3px 0 0;
    -webkit-box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 #ffffff;
    padding: 0 15px;
		/*2017-2-16新增加的*/
		position: relative;
}
.widget_header_title{
    margin: 0;
    color: #9a9a9a;
    font-size: 14px;
	line-height: 38px;
    text-shadow: 0 1px 0 #FFFFFF;
    font-weight: bold;
}
.widget_contents{
    background-color: #FDFDFD;
    border: 1px solid #C9C9C9;
    border-radius: 0 0 3px 3px;
    box-shadow: inset 0 1px 0 #ffffff;
    padding: 15px;
}
.tables {
    width: 100%;
}
.tables th, .tables td {
    border: 1px solid #E0E0E0;
    padding: 4px 15px;
}
.tables th {
    color: #9D9D9D;
    font-size: 13px;
    text-shadow: 0 1px 0 #FFFFFF;
    font-weight: bold;
    line-height: 25px;
    background: linear-gradient(to bottom, #fefefe 0%,#f2f2f2 100%);
    -webkit-box-shadow: 0 1px 0 #FFFFFF inset;
    box-shadow: 0 1px 0 #FFFFFF inset;
    border-bottom-color: #dadada;
}
.tables td {
    color: #696969;
    font-size: 14px;
    text-shadow: 0 1px 0 #FFFFFF;
    font-weight: normal;
    line-height: 32px;
		text-align:center;
}
.table-link{
    color: #696969;
    cursor:pointer;
}
.tables thead th {
    border-top: 0;
	text-align:center;
}
.tables thead tr {
    box-shadow: 0 1px 3px #E6E6E6;
}
.tables th:first-child, .tables td:first-child {
    border-left-width: 0;
}
.table-edit,.table-del{
    padding: 0px 12px;
	cursor:pointer;
}
.form-item {
    display: table;
    padding: 20px 15px;
    width: 100%;
    border-bottom: 1px solid #dadada;
		position: relative;
}
.form-item:last-child{
    border-bottom: none;
}
.inline-2 .form-label {
	width:90px;
	vertical-align: middle;
}
.form-label {
    display: table-cell;
    color: #8f8f8f;
    font-size: 13px;
    text-shadow: 0 1px 0 #FFFFFF;
    width: 130px;
    padding-left: 26px;
	vertical-align: top;
}
.inline-2 .form-input {
	width:90%;
}
.form-input{
    display: table-cell;
	resize: none;
}
textarea.form-input{
	height:120px
}
.pic-upload {
    width: 400px;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    border: 1px solid #ccc;
		padding: 10px;
		min-height: 100px;
}
.small-pic .pic-upload {
    width: 250px;
		position:relative;
		float:left;
		margin-right:10px
}
.small-pic .form-label {
    width: 100px;
}
.small-pic .inbox-file{
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 100%;
		opacity: 0;
}
.my-btn {
    background: linear-gradient(to bottom, #fcfcfc 0%,#f2f2f2 100%);
    border: 1px solid #CBCBCB;
    border-radius: 3px;
    color: #8f8f8f;
    font-size: 12px;
    text-shadow: 0 1px 0 #FFFFFF;
    box-shadow: 0 2px 3px #EAEAEA;
    cursor: pointer;
    font-size: 12px;
    padding: 6px 20px;
    letter-spacing: 2px;
}
.file label {
    float:left;
    border-bottom: 2px solid #AAAAAA;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}
.file a {
    display: inline-block;
    overflow: hidden;
		width: 66px;
    height: 66px;
    box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.15);
    border-radius: 45px;
    background: linear-gradient(to bottom, #fafafa 0%,#eaeaea 100%);
    padding-left: 16px;
    padding-top: 15px;
    font-size: 34px;
    color: #aaa;
		    position: absolute;
    bottom: 22px;
    right: 151px;
}
.file a:hover {
    color:#F8B500;
		box-shadow: 0px 1px 3px 2px rgba(0,0,0,0.25);
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}

.label-block{
	width:100%;
}
.label-item{
	float:left;
}
.chk_1 { 
    display: none; 
} 
 
.chk_1 + label { 
    background-color: #FFF; 
    border: 1px solid #C1CACA; 
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05); 
    padding: 9px; 
    border-radius: 5px; 
    display: inline-block; 
    position: relative; 
    font-weight: 500;
    margin-right: 30px;
    font-size: 14px;
		color: #8f8f8f;
} 
.chk_1 + label:active { 
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1); 
} 
 
.chk_1:checked + label { 
    background-color: #F8B500; 
    border: 1px solid #F8B500; 
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1); 
    color: #fff; 
} 
 /**
.chk_1:checked + label:after { 
    content: '\2714'; //勾选符号 
    position: absolute; 
    top: 0px; 
    left: 0px; 
    color: #758794; 
    width: 100%; 
    text-align: center; 
    font-size: 1.4em; 
    padding: 1px 0 0 0; 
    vertical-align: text-top; 
} 
**/
.content-item {
    padding: 15px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.content-item:last-child {

}
.content-item-header {
    font-size: 16px;
}
.content-item-header>span{
    color:#3f3f3f;
}
.content-item-main {
    color: #444;
    font-size: 14px;
		line-height: 30px;
    margin-top: 20px;
}
.ck-wrapper{
	width:100%;
}




/*2017-2-16 新增加的*/
.new-item{
	  width: 25px;
    height: 25px;
    position: absolute;
    box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.15);
    border-radius: 45px;
    background: linear-gradient(to bottom, #fafafa 0%,#eaeaea 100%);
    padding-left: 6.5px;
    padding-top: 5px;
    font-size: 13px;
    color: #aaa;
    right: 16px;
    top: 6px;
    cursor: pointer;
    transition: all 0.2s;
}
.new-item:hover {
    color:#F8B500;
		box-shadow: 0px 1px 3px 2px rgba(0,0,0,0.25);
}
.del-item{
	  width: 25px;
    height: 25px;
    position: absolute;
    box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.15);
    border-radius: 45px;
    background: linear-gradient(to bottom, #fafafa 0%,#eaeaea 100%);
    padding-left: 5.5px;
    padding-top: 5px;
    font-size: 13px;
    color: #aaa;
    right: 13px;
    top: 4px;
    cursor: pointer;
    transition: all 0.2s;
}
.del-item:hover {
    color:#F8B500;
		box-shadow: 0px 1px 3px 2px rgba(0,0,0,0.25);
}
.form-ele{
	display: table-cell;
	position:relative;
}
.del-wrapper{
	  width: 54px;
    height: 25px;
}

/*2017-2-18 新增加的*/
.col-3 {
    width: 33%;
    float: left;
}
.form-style{
	margin-bottom:30px;
}
.form-item-2 {
    padding: 0px 10px;
    display: table;
    margin-bottom: 10px;
    margin-top: 10px;
}
.form-item-2 span {
    display: table-cell;
    font-size: 13px;
    width: 90px;
    border: 1px solid #ddd;
    background: linear-gradient(to bottom, #ffffff 0%,#f5f5f5 100%);
    color: #9d9d9d;
    padding-left: 10px;
    border-radius: 5px 0px 0px 5px;
    border-right: 0px;
}
.form-item-2 input, .form-item-2 select {
    display: table-cell;
    border-radius: 0px 5px 5px 0px;
}