{% extends 'pc_base.html' %}
{% from 'macros/pc_partial.html' import sidebar %}
{% block main_content %}

{{ sidebar(active_tab = 'product') }}

<div class="contents">
	<div class="contents-header">
		<div class="contents-header-img"><img class="full-img" src="/static/images/product.png" /></div>
		<p class="contents-header-p">SKU列表</p>
		<p class="contents-header-p text-sm">skus list</p>
		<a class="new-one" href="{{ url_for('product.sku_new', product_id = product_id) }}"><span class="glyphicon glyphicon-plus"></span></a>
	</div>
	<div class="separator"><span></span></div>
	<div class="widget">
		<div class="widget_header">
			<h4 class="widget_header_title"><span class="glyphicon glyphicon-th-large"></span>&nbsp;&nbsp;&nbsp;{{ skus.get('name') }}</h4>
		</div>
		<div class="widget_contents padding-0">
			<table class="tables">
				<thead>
					<tr>
						<th>sku_id</th>
						<th>stocks</th>
						<th>price</th>
						<th>weight</th>
						<th>barcode</th>
						<th>code</th>
						<th>hscode</th>
						<th>options</th>
					</tr>
				</thead>
				<tbody>
				{% for sku in skus.get('skus') %}
					<tr>
						<td>{{ sku.get('sku_id') }}</td>
						<td>{{ sku.get('stocks') }}</td>
						<td>{{ sku.get('price') }}</td>
						<td>{{ sku.get('weight') }}</td>
						<td>{{ sku.get('barcode') }}</td>
						<td>{{ sku.get('code') }}</td>
						<td>{{ sku.get('hscode') }}</td>
						<td>{{ sku.get('options') }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock %}