{% extends 'pc_base.html' %}
{% from 'macros/pc_partial.html' import sidebar with context %}
{% block main_content %}

{{ sidebar(active = 'product') }}

<div class="contents">
	<div class="contents-header">
		<div class="contents-header-img"><img class="full-img" src="/static/images/product.png" /></div>
		<p class="contents-header-p">SKU列表</p>
		<p class="contents-header-p text-sm">skus list</p>
		<a class="new-one" href="{{ url_for('product.sku_new', product_id = product_id) }}"><span class="glyphicon glyphicon-plus"></span></a>
	</div>
	<div class="separator"><span></span></div>
	<div class="widget">
		<div class="widget_header">
			<h4 class="widget_header_title"><span class="glyphicon glyphicon-th-large"></span>
				&nbsp;&nbsp;&nbsp;<a>{{ skus.get('name') }}</a>
			</h4>
			<a class="new-item" onclick="$('#feature_wrapper').slideToggle();"><span class="glyphicon glyphicon-th"></span></a>
		</div>
		<div id="feature_wrapper" class="widget_contents padding-0" style="display: none; border-bottom: 0; border-radius: 0;">
			{% for feature in features %}
				<div class="form-item">
					<span class="form-label">{{ feature.get('feature_name') }}</span>
					<div class="label-block">
					{% for option in feature.get('options')|sort(attribute='option_name') %}
						<div class="label-item">
							<input name="option_ids[]" value="{{ option.get('option_id') }}" type="checkbox" id="option_{{ option.get('option_id') }}" class="chk_1"
							{% if option.get('option_id') in option_ids %}checked=""{% endif %} disabled/>
							<label for="option_{{ option.get('option_id') }}">{{ option.get('option_name') }}</label>
						</div>
					{% endfor %}
					</div>
				</div>
			{% endfor %}
		</div>

		<div class="widget_contents padding-0">
			<table class="tables">
				<thead>
					<tr>
						<th>SKU code</th>
						<th>名称</th>
						<th>Barcode</th>
						<th>HScode</th>
						<th>重量</th>
						<th>状态</th>
						<th>属性</th>
						<th>备注</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
				{% for sku in skus.get('skus') %}
					<tr>
						<td>{{ sku.get('code') }}</td>
						<td>{{ sku.get('name') or '-' }}</td>
						<td>{{ sku.get('barcode') or '-' }}</td>
						<td>{{ sku.get('hscode') or '-' }}</td>
						<td>{{ sku.get('weight') or '-' }} g/m2</td>
						{% if sku.get('isvalid') == 'NO' %}
							<td class="state invalid">{{ '下架' }}</td>
						{% else %}
							<td class="state valid">{{ '上架' }}</td>
						{% endif %}
						<td>
						{% for option in sku.get('options') %}
							{% for key in option %}{{ key }}:{{ option[key] }}{% endfor %}&nbsp;&nbsp;
						{% endfor %}
						</td>
						<td>{{ sku.get('memo') or '' }}</td>
						<td>
							<a class="table-edit text-info" href="{{ url_for('product.sku_edit', id = sku.get('sku_id'), product_id = product_id) }}"><span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;编辑</a>
							<form action="{{ url_for('product.sku_delete', id = sku.get('sku_id'), product_id = product_id) }}" method="post" style="display: inline;">
								<button type="submit" data-confirm="Are you sure?" class="btn-link table-del" style="color: #843534; text-decoration: none; "><span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;删除</button>
							</form>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>

		<div class="text-right top-gap-1">
			<a class="btn btn-default my-btn right-gap-1" href="javascript:history.go(-1);">返回</a>
		</div>
	</div>
</div>

{% endblock %}