{% extends 'mobile_base.html' %}
{% from 'macros/mobile_header.html' import mobile_header %} 
{% block content %}
{{ mobile_header('案例展示') }}

		<div class="main-content">
			<div class="module-1">
				<div class="sub-module-1" id="sport">
					<p class="module-title">{{ option.name }}</p>
					<div class="divider2"></div>
					<div class="case-block">
					{% for title in option.titles %}
						<div class="col-6-gap case">
							<a href="{{ url_for('mobile_case_title_show', id = title.id) }}" style="display:block"><img src="{{ title.image_path }}" class="full-img"></a>
							<p class="text-center light-font-md">{{ title.name }}</p>
						</div>
					{% endfor %}
					</div>
				</div>
			</div>
		</div>

{% endblock %}
