{% extends 'base.html' %}
{% block extra_styles %}
	<link rel="stylesheet" href="{{ url_for('static', filename = 'stylesheets/pc_style.css') }}">
{% endblock %}
{% block extra_scripts %}
	<script src="{{ url_for('static', filename = 'javascripts/pc_general.js') }}"></script>
{% endblock %}

{% block content %}
<div class="body-content">
	<header class="my-header">
		<div class="my-header-content clearfix">
			<div class="user">
				<img src="/static/images/user_avatar.png" alt="user_avatar" class="user_avatar">
				<span>Luka Wei</span>
			</div>
		</div>
	</header>
	<div class="my-main">
		<div class="my-main-content">
			<div class="main-nav clearfix">
				<div class="logo"><img src="/static/images/logo.png" alt="logo" class="logo" style="width:153px"></div>
				<div class="menu">
					<a class="menu-block active">
						<span>产品操作</span>
					</a>
					<a class="menu-block">
						<span>首页</span>
					</a>
				</div>
			</div>
			<div class="main-content clearfix">
				{% block main_content %}{% endblock %}
			</div>
		</div>
	</div>
	<footer class="my-footer">
	</footer>
</div>
{% endblock %}