{% extends 'pc_base.html' %}
{% from 'macros/pc_partial.html' import sidebar %}
{% block main_content %}

{{ sidebar(active = 'sale') }}
<div class="contents">
    <div class="contents-header">
        <div class="contents-header-img"><img class="full-img" src="/static/images/product.png" /></div>
        <p class="contents-header-p">生成合同</p>
        <p class="contents-header-p text-sm">contracts</p>
    </div>
    <div class="separator"><span></span></div>
    <div id="new-contract" class="widget">
    <form class="form form-horizontal" method="post" url="{{ url_for('order_manage.contract_new', id=order.id) }}"
          role="form" enctype="multipart/form-data">
        <div class="widget_contents padding-0 item-wrapper">
            <div class="form-item item-template">
                <div class="form-item-2 col-3">
                    <span>*交货期</span>
                    <input class="form-input form-control datetimePicker" name="delivery_time" value="{{ params.get('delivery_time', '') }}">
                </div>
                <div class="form-item-2 col-3">
                    <span>*要约NO.</span>
                    <input class="form-input form-control" name="offer_no" value="{{ params.get('offer_no', '') }}">
                </div>

                <div class="form-item-2 col-3">
                    <span>物流费用</span>
                    <input class="form-input form-control" name="logistics_costs" value="{{ params.get('logistics_costs', '') }}">
                </div>
                <div class="form-item-2 col-3">
                    <span>活铺费用</span>
                    <input class="form-input form-control" name="live_floor_costs" value="{{ params.get('live_floor_costs', '') }}">
                </div>
                <div class="form-item-2 col-3">
                    <span>自流平费用</span>
                    <input class="form-input form-control" name="self_leveling_costs" value="{{ params.get('self_leveling_costs', '') }}">
                </div>
                <div class="form-item-2 col-3">
                    <span>划线费用</span>
                    <input class="form-input form-control" name="crossed_line_costs" value="{{ params.get('crossed_line_costs', '') }}">
                </div>
                <div class="form-item-2 col-3">
                    <span>点粘费用</span>
                    <input class="form-input form-control" name="sticky_costs" value="{{ params.get('sticky_costs', '') }}">
                </div>
                <div class="form-item-2 col-3">
                    <span>全胶粘费用</span>
                    <input class="form-input form-control" name="full_adhesive_costs" value="{{ params.get('full_adhesive_costs', '') }}">
                </div>
                <div class="form-item-2 col-3">
                    <span>其他费用</span>
                    <input class="form-input form-control" name="other_costs" value="{{ params.get('other_costs', '') }}">
                </div>
                <div class="form-item-2 col-3">
                    <span>税点</span>
                    <input class="form-input form-control" name="tax_costs" value="{{ params.get('tax_costs', '') }}">
                </div>

								<br/>
								<div class="clearfix"></div>
								<div class="separator-2"></div>
                <div class="widget_contents padding-0 top-gap-2">
                    <table class="tables">
                        <thead>
                            <tr>
                                <th>产品名</th>
                                <th>规格</th>
                                <th>指定批次号</th>
                                <th>数量(㎡)</th>
                                <th>*单价</th>
                                <th>*总价</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for content in order.order_contents %}
                            <tr>
                                <td><a class="table-link">{{ content.product_name }}</a></td>
                                <td>{{ content.sku_specification }}</td>
                                <td>
                                        {% if not (content.batch_info == {} or content.batch_info == None) %}
                                                {{ content.batch_info.get('batch_no') }}
                                                (经销商：{{ content.batch_info.get('dealer') }})
                                        {% endif %}
                                </td>
                                <td>{{ content.number }}</td>
                                <td><input class="form-control price" name="{{ content.id }}price"></td>
                                <td><input class="form-control" name="{{ content.id }}amount" readonly></td>                               
                            </tr>
														<tr>
															<td colspan='6' class="bg-grass padding-0">
																<div class="col-5">备注</div>
																<div class="col-5-re"><input class="form-control border-0 radius-0 border-left-1" name="{{ content.id }}memo" placeholder="请在这儿填写备注"></div>
															</td>
														</tr>
														<tr><td colspan="6" style="background: url(/static/images/home-bg.gif)"><div class="separator"></div></td></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
								<div class="separator-2"></div>
								<div class="form-item-2 col-3">
                    <span>*耗损百分比</span>
                    <input class="form-input form-control" name="material_loss_percent" value="{{ params.get('material_loss_percent', '') }}">
                </div>
                <div class="form-item-2 col-3">
                    <span>*总金额</span>
                    <input class="form-input form-control" name="amount" value="{{ params.get('amount', '') }}" readonly>
                </div>
								<div class="clearfix"></div>
                <div class="text-right top-gap-1">
                    <button type="submit" class="btn btn-default my-btn">提交</button>
                </div>
            </div>
        </div>
    </form>
    </div>
</div>

<script>
	$(function(){
		function countAll(){
			var logistics=$("input[name=logistics_costs]").val()==="" ? 0 : $("input[name=logistics_costs]").val();
			var logistics=$("input[name=live_floor]").val()==="" ? 0 : $("input[name=live_floor]").val();
		}
		
		$(".price").keyup(function(){
			var price=$(this).val();
			var amount=parseFloat($(this).parent().prev().html());
			var amount=price*amount;
			$(this).parent().next().children().val(amount);
		})
	})
</script>

{% endblock %}

