{% extends 'pc_base.html' %}
{% from 'macros/pc_partial.html' import sidebar with context %}
{% block main_content %}

{{ sidebar(active = 'sale') }}
<div class="contents">
	<div class="contents-header">
		<div class="contents-header-img"><img class="full-img" src="/static/images/product.png" /></div>
		<p class="contents-header-p">订货要约</p>
		<p class="contents-header-p text-sm">contract show</p>
	</div>
	<div class="separator"><span></span></div>
	<div class="widget">
		<div class="widget_header">
			<h4 class="widget_header_title"><span class="glyphicon glyphicon-th-large"></span>&nbsp;&nbsp;&nbsp;合同</h4>
		</div>
		<div class="widget_contents padding-0">
			<div class="contract-template">
				<h4 class="contract-title">江苏塞尚建筑材料有限公司</h4>
				<p class="contract-subtitle">《订货要约》</p>
				<img class="contract-logo" src="/static/images/logo.png" />
				<div class="table-repsonsive top-gap-3">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>订货日期:</th>
								<th>{{ contract.order.created_at.strftime('%Y-%m-%d') }}</th>
								<th colspan="3"></th>
								<th>要约No:{{ contract.contract_content.get('offer_no') }}</th>
								<th class="text-left-i">交货期：{{ contract.contract_content.get('delivery_time') }}</th>
							</tr>
							<tr>
								<th>品名</th>
								<th>型号</th>
								<th>规格</th>
								<th>数量</th>
								<th>单价</th>
								<th>金额</th>
								<th>备注</th>
							</tr>
						</thead>
						<tbody>
							{% for content in contract.order.order_contents %}
									<tr>
											<td>{{ content.product_name }}</td>
											<td>{{ content.sku_code }}</td>
											<td>{{ content.sku_specification }}</td>
											<td>{{ content.number }}</td>
											<td>{{ content.price }}</td>
											<td>{{ content.amount }}</td>
											<td>{{ content.memo }}</td>
									</tr>
							{% endfor %}
							<tr>
									<td colspan="3">原料损耗百分比 :{{ contract.contract_content.get('material_loss_percent') }}%</td>
									<td colspan="3">原料损耗费用 :{{ contract.contract_content.get('material_loss') }}</td>
									<td colspan="3"></td>
							</tr>
							<tr>
								<td  class="tr-separator" colspan="7"></td>
							</tr>
							<tr>
									<td>物流费用 :{{ contract.contract_content.get('logistics_costs') }}</td>
									<td>
										{% if not (contract.contract_content.get('live_floor_costs') == None or contract.contract_content.get('live_floor_costs') == '') %}
											活铺费用 :{{ contract.contract_content.get('live_floor_costs') }}
										{% endif %}
									</td>
									<td>
										{% if not (contract.contract_content.get('self_leveling_costs') == None or contract.contract_content.get('self_leveling_costs') == '') %}
											自流平费用 :{{ contract.contract_content.get('self_leveling_costs') }}
										{% endif %}
									</td>
									<td>
										{% if not (contract.contract_content.get('crossed_line_costs') == None or contract.contract_content.get('crossed_line_costs') == '') %}
											划线费用 :{{ contract.contract_content.get('crossed_line_costs') }}
										{% endif %}
									</td>
									<td>
										{% if not (contract.contract_content.get('sticky_costs') == None or contract.contract_content.get('sticky_costs') == '') %}
											点粘费用 :{{ contract.contract_content.get('sticky_costs') }}
										{% endif %}
									</td>
									<td>
										{% if not (contract.contract_content.get('full_adhesive_costs') == None or contract.contract_content.get('full_adhesive_costs') == '') %}
											全胶粘费用 :{{ contract.contract_content.get('full_adhesive_costs') }}
										{% endif %}
									</td>
									<td></td>
							</tr>
							<tr>
									<td colspan="3">
										{% if not (contract.contract_content.get('tax_costs') == None or contract.contract_content.get('tax_costs') == '') %}
											税点 :{{ contract.contract_content.get('tax_costs') }}
										{% endif %}
									</td>
									<td colspan="3">
										{% if not (contract.contract_content.get('other_costs') == None or contract.contract_content.get('other_costs') == '') %}
											其他费用 :{{ contract.contract_content.get('other_costs') }}
										{% endif %}
									</td>
									<td></td>
							</tr>
							<tr>
								<td class="text-left-i" colspan="5">合计(大写)：{{ num2moneyformat(contract.contract_content.get('amount')) }}</td>
								<td>{{ contract.contract_content.get('amount') }}</td>
								<td></td>
							</tr>
							<tr>
								<td class="text-left-i" colspan="5"> 提醒：接收货物时请检查是否包装完整、产品破损及油污色料污染等情况，以便及时取证，与物流公司商议赔偿处理。</td>
								<td class="text-left-i" colspan="2">请填写好单位名称，收货信息，盖章回传。传真号：0510-86599304</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="contract-footer clearfix">
					<div class="contract-footer-block">
						<p class="contract-footer-p">要约方（买方）：{{ contract.order.buyer_info.get('buyer') }}</p>
						<p class="contract-footer-p">单位（章）：</p>
						<p class="contract-footer-p">收货单位：{{ contract.order.buyer_info.get('buyer_company') }}</p>
						<p class="contract-footer-p">收货地址：{{ contract.order.buyer_info.get('buyer_address') }}</p>
						<p class="contract-footer-p">计算方式：</p>
					</div>
					<div class="contract-footer-block pull-right">
						<p class="contract-footer-p">销售方(卖方)：江苏赛尚建筑材料有限公司</p>
						<p class="contract-footer-p">单位（章）：</p>
						<p class="contract-footer-p">销售代表：{{ contract.contract_content.get('sale_contract') }}</p>
						<p class="contract-footer-p">销售助理：0510-85899304</p>
						<p class="contract-footer-p">传    真：0510-85899304</p>
						<p class="contract-footer-p">收款日期：</p>
					</div>
				</div>
			</div>	
		</div>
	</div>
	<div class="text-right top-gap-1">
		<a href="javascript:history.go(-1);" class="btn btn-default my-btn">返回</a>
	</div>
</div>

{% endblock %}