{% extends 'pc_base.html' %}

{% block custom_scripts %}
    <script src="{{ url_for('static', filename = 'javascripts/echarts.common.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'javascripts/dark.js') }}"></script>
{% endblock %}
{% from 'macros/pc_partial.html' import sidebar with context %}
{% block main_content %}

{{ sidebar(active = 'dealer') }}
	<div class="contents">
		<div id="chart2" style="width:100%; height:{{ len(provinces)*100 }}px"></div>
	</div>
	
	<script>
		
		(function(){
				var chart = echarts.init(document.getElementById('chart2'), 'dark');
				option = {
					backgroundColor: "#344b58",
					title: {
							text: '区域销售额',
							subtext: 'BY SEESUN',
							left:"4%",
							top:"10px"
					},
					tooltip: {
							trigger: 'axis',
							axisPointer: {
									type: 'shadow'
							}
					},
					legend: {
							x: '4%',
							top: '11%',
							textStyle: {
									color: '#90979c',
							},
							data: ['历史销售额','最新月销售额'],
					},
					grid: {
							left: '4%',
							borderWidth: 0,
							top: 110,
							containLabel: true
					},
					yAxis: {
							type: 'category',
							//这是y轴的数据
							data: {{ provinces|safe }},
							axisLine:{
								lineStyle:{
									color:"#90979c",
									shadowColor: 'rgba(0, 0, 0, 0.5)',
									shadowBlur: 0,
									width:1,					
								}
							},
							minInterval: 20,
							axisTick: {
								show: false
							},
							splitLine: {
								show: false
							}
					},
					xAxis: {
							type: 'value',
							boundaryGap: [0, 0.01],
							axisLine:{
								lineStyle:{
									color:"#90979c",
									shadowColor: 'rgba(0, 0, 0, 0.5)',
									shadowBlur: 0,
									width:1
								}
							},
							axisTick: {
								show: false
							},
							splitLine: {
								show: false
							}
					},
					series: [
							{
									name: '历史销售额',
									type: 'bar',
									//这是对应Y轴的数据，柱状图
									data: {{ total_amount|safe }},
									barGap: "0%",
									barMaxWidth: "35px",
									label:{
										normal:{
											position:'right',
											show:true,
											formatter:function(params){
												return params.data;
											}
										}
									}
							},
							{
									name: '最新月销售额',
									type: 'bar',
									//这是对应Y轴的数据，折线图
									data: {{ current_amount|safe }},
									barGap: "0%",
									barMaxWidth: "35px",
									label:{
										normal:{
											position:'right',
											show:true,
											formatter:function(params){
												return params.data;
											}
										}
									}
							}
					]
				};

				chart.setOption(option);
		})()
	</script>

{% endblock %}