{% extends 'pc_base.html' %}
{% from 'macros/pc_partial.html' import sidebar %}
{% block main_content %}

{{ sidebar(active = 'sale') }}
<div class="contents">
    <div class="contents-header">
        <div class="contents-header-img"><img class="full-img" src="/static/images/product.png" /></div>
        <p class="contents-header-p">订单详情</p>
        <p class="contents-header-p text-sm">details of orders</p>
        <a class="new-one" href="{{ url_for('order_manage.order_show', id=order.id) }}"><span class="glyphicon glyphicon-envelope"></span></a>
    </div>
    <div class="separator"><span></span></div>


    <div class="widget">
        <div class="widget_header">
            <h4 class="widget_header_title"><span class="glyphicon glyphicon-th-large"></span>&nbsp;&nbsp;&nbsp;订单详情</h4>
        </div>
        <div class="widget_contents padding-0 bot-gap-3">
            <div class="form-item inline-2">
                <span class="form-label">订单号</span>
                <input class="form-input form-control" value="{{ order.order_no }}" disabled/>
                <span class="form-label">订单日期</span>
                <input class="form-input form-control" value="{{ order.created_at.strftime('%Y-%m-%d') }}" disabled/>
                <span class="form-label">订单状态</span>
                <input class="form-input form-control" value="{{ order.order_status }}" disabled/>
            </div>
            <div class="form-item inline-2">
                <span class="form-label">订单备注</span>
                <input class="form-input form-control" value="{{ order.order_memo }}" disabled/>
            </div>
            <div class="form-item inline-2">
                <span class="form-label">经销商</span>
                <input class="form-input form-control" value="{{ order.dealer.name }}" disabled/>
            </div>
            <div class="form-item inline-2">
                <span class="form-label">经销商所属区域</span>
                <input class="form-input form-control" value="{{ order.dealer.district.name }}" disabled/>
            </div>
        </div>
        <div class="widget_contents padding-0">
            <table class="tables">
                <thead>
                    <tr>
                        <th>产品名</th>
                        <th>规格</th>
                        <th>平方数</th>
                    </tr>
                </thead>
                <tbody>
                    {% for content in order.order_contents %}
                    <tr>
                        <td><a class="table-link">{{ content.product_name }}</a></td>
                        <td>{{ content.sku_specification }}</td>
                        <td>{{ content.square_num }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if order.order_status=="新订单" %}
            <div class="text-right top-gap-3">
                <a class="btn btn-default my-btn right-gap-2" href="{{ url_for('order_manage.contract_new', id=order.id) }}">同意生成合同</a>
                <a class="btn btn-default my-btn" href="{{ url_for('order_manage.order_cancel', id=order.id) }}">取消订单</a>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}
