{% extends 'pc_base.html' %}
{% from 'macros/pc_partial.html' import sidebar with context %}
{% block main_content %}

{{ sidebar(active = 'sale') }}
<div class="contents">
    <div class="contents-header">
        <div class="contents-header-img"><img class="full-img" src="/static/images/product.png" /></div>
        <p class="contents-header-p">订单详情</p>
        <p class="contents-header-p text-sm">details of orders</p>
        <a class="new-one" href="{{ url_for('order_manage.order_show', id=order.id) }}"><span class="glyphicon glyphicon-envelope"></span></a>
    </div>
    <div class="separator"><span></span></div>


    <div class="widget">
        <div class="widget_header">
            <h4 class="widget_header_title"><span class="glyphicon glyphicon-th-large"></span>&nbsp;&nbsp;&nbsp;订单详情</h4>
        </div>
        <div class="widget_contents padding-0 bot-gap-3">
						<div class="title-style">
							<span>DETAILS</span>
							<i class="pull-right	glyphicon glyphicon-list-alt"></i>
						</div>
						<div class="form-item">
								<div class="sub-form-item">
									<span>订单号:</span>
									<span>{{ order.order_no }}</span>
								</div>
								<div class="sub-form-item">
									<span>订单日期:</span>
									<span>{{ order.created_at.strftime('%Y-%m-%d') }}</span>
								</div>
								<div class="sub-form-item">
									<span>订单状态:</span>
									<span>{{ order.order_status }}</span>
								</div>
            </div>
						<div class="form-item">
								<div class="sub-form-item">
									<span>要约方(买方):</span>
									<span>{{ order.buyer_info['buyer'] }}</span>
								</div>
								<div class="sub-form-item">
									<span>收货单位:</span>
									<span>{{ order.buyer_info['buyer_company'] }}</span>
								</div>
								<div class="sub-form-item">
									<span>收货地址:</span>
									<span>{{ order.buyer_info['buyer_address'] }}</span>
								</div>
            </div>
						<div class="form-item">
								<div class="sub-form-item">
									<span>项目名称:</span>
									<span>{{ order.buyer_info['project_name'] }}</span>
								</div>
								<div class="sub-form-item">
									<span>经销商联系人:</span>
									<span>{{ order.buyer_info['contact_name'] }}</span>
								</div>
								<div class="sub-form-item">
									<span>经销商联系电话:</span>
									<span>{{ order.buyer_info['contact_phone'] }}</span>
								</div>
            </div>
						<div class="form-item">
								<div class="sub-form-item">
									<span>收件人:</span>
									<span>{{ order.buyer_info['buyer_recipient'] }}</span>
								</div>
								<div class="sub-form-item">
									<span>收件人电话号码:</span>
									<span>{{ order.buyer_info['buyer_phone'] }}</span>
								</div>
								<div class="sub-form-item">
									<span>取货方式:</span>
									<span>{{ order.buyer_info['pickup_way'] }}</span>
								</div>
            </div>
						<div class="title-style">
							<span>DETAILS</span>
							<i class="pull-right	glyphicon glyphicon-list-alt"></i>
						</div>
						<div class="form-item">

								<div class="sub-form-item">
									<span>经销商:</span>
									<span>{{ order.user.nickname }}</span>
								</div>
								<div class="sub-form-item">
									<span>经销商所属区域:</span>
									<span>{{ order.user.sales_areas.first().name }}</span>
								</div>
                                <div class="sub-form-item">
									<span>销售联系人:</span>
									<span>{{ order.sale_contract }}</span>
								</div>
            </div>
						
						<div class="form-item">
								<div class="sub-form-item col-1">
									<span style="width:8%">订单备注:</span>
									<span  style="width:92%">{{ order.order_memo }}</span>
								</div>
            </div>

						
        </div>
        <div class="widget_contents padding-0">
            <table class="tables">
                <thead>
                    <tr>
                        <th>产品名</th>
                        <th>规格</th>
                        <th>平方数</th>
                        <th>指定批次号</th>
                    </tr>
                </thead>
                <tbody>
                    {% for content in order.order_contents %}
                    <tr>
                        <td><a class="table-link">{{ content.product_name }}</a></td>
                        <td>{{ content.sku_specification }}</td>
                        <td>{{ content.square_num }}</td>
                        <td>{% if not (content.batch_info == {} or content.batch_info == None) %}
                                {{ content.batch_info.get('batch_no') }}
                                （经销商：{{ content.batch_info.get('dealer') }}）
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if order.order_status=="新订单" %}
            {% if order.sale_director_id == current_user.id or order.sale_contract_id == current_user.id%}
            <div class="text-right top-gap-3">
                <a class="btn btn-default my-btn right-gap-2" href="{{ url_for('order_manage.contract_new', id=order.id) }}">同意生成合同</a>
                <a class="btn btn-default my-btn" href="{{ url_for('order_manage.order_cancel', id=order.id) }}">取消订单</a>
            </div>
            {% endif %}
        {% endif %}
    </div>
</div>

{% endblock %}
