{% extends 'pc_base.html' %}

{% block custom_scripts %}
    <script src="{{ url_for('static', filename = 'javascripts/echarts.common.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'javascripts/dark.js') }}"></script>
{% endblock %}
{% from 'macros/pc_partial.html' import sidebar with context %}
{% block main_content %}

{{ sidebar(active = 'statistics') }}
	<div class="contents">
		<div id="chart" style="width:100%; height:{{ len(teams)*100 }}px"></div>
	</div>
	
	<script>		
		(function(){
				var chart = echarts.init(document.getElementById('chart'), 'dark');
				option = {
					backgroundColor: "#344b58",
					title: {
							text: '团队销售额',
							subtext: 'BY SEESUN',
							left:"4%",
							top:"20px"
					},
					tooltip: {
							trigger: 'item',
							axisPointer: {
									type: 'shadow'
							}
					},
					/*
					legend: {
							x: '4%',
							top: '11%',
							textStyle: {
									color: '#90979c',
							},
							data: ['2017年'],
							selected: {
									'2017年': true
							}
					},
					*/
					grid: {
							left: '4%',
							borderWidth: 0,
							top: 110,
							containLabel: true
					},
					xAxis: {
							type: 'value',
							boundaryGap: [0, 0.01],
							axisLine:{
								lineStyle:{
									color:"#90979c",
									shadowColor: 'rgba(0, 0, 0, 0.5)',
									shadowBlur: 0,
									width:1
								}
							},
							axisTick: {
								show: false
							},
							splitLine: {
								show: false
							}
					},
					yAxis: {
							type: 'category',
							//这是y轴的数据
							data: {{ teams|safe }},
							axisLine:{
								lineStyle:{
									color:"#90979c",
									shadowColor: 'rgba(0, 0, 0, 0.5)',
									shadowBlur: 0,
									width:1,					
								}
							},
							minInterval: 20,
							axisTick: {
								show: false
							},
							splitLine: {
								show: false
							}
					},
					series: [
							{
									name: 'team',
									type: 'bar',
									//这是对应Y轴的数据，柱状图
									data: {{ total_amount|safe }},
									barMaxWidth: 20,
									label:{
										normal:{
											show:true
										}
									}
							},
							{
									name: 'team',
									type: 'line',
									//这是对应Y轴的数据，折线图
									data: {{ total_amount|safe }},
									symbolSize: 20,
									label:{
										normal:{
											show:false
										}
									}
							}
					]
				};

				chart.setOption(option);
		})();
		
	
	</script>
{% endblock %}