{% extends 'pc_base.html' %}
{% from 'macros/pc_partial.html' import sidebar %}
{% block main_content %}

{{ sidebar(active = 'service') }}
<div class="contents">
    <div class="contents-header">
        <div class="contents-header-img"><img class="full-img" src="/static/images/product.png" /></div>
        <p class="contents-header-p">仓库输入</p>
        <p class="contents-header-p text-sm">warehouse confirmation</p>
    </div>
    <div class="separator"><span></span></div>
    <div class="widget">
        <div class="widget_contents padding-0 item-wrapper">
            <div class="form-item item-template">
                <div class="form-item-2 col-3">
                    <span>合同号</span>
                    <input type="text" class="form-input form-control disabled" name="contract_no" value="{{ tracking_info.contract_no }}" disabled>
                </div>
                <div class="form-item-2 col-3">
                    <span>合同日期</span>
                    <input type="text" class="form-input form-control" name="contract_date" value="{{ tracking_info.contract_date.strftime('%F') }}" disabled>
                </div>
                <div class="form-item-2 col-3">
                    <span>对接人姓名</span>
                    <input type="text" class="form-input form-control" name="receiver_name" value="{{ tracking_info.receiver_name }}" disabled>
                </div>
                <div class="form-item-2 col-3">
                    <span>对接人电话</span>
                    <input type="text" class="form-input form-control" name="receiver_tel" value="{{ tracking_info.receiver_tel }}" disabled>
                </div>
            </div>
        </div>
    </div>

    <div class="widget_contents padding-0 top-gap-1">
        <table class="tables">
            <thead>
                <tr>
                    <th>产品名</th>
                    <th>规格</th>
                    <th>平方数</th>
                    <th>数量</th>
                    <th>单价</th>
                    <th>总价</th>
                    <th>需生产数量</th>
                    <th>备注</th>
                </tr>
            </thead>
            <tbody>
                {% for content in contract.order.order_contents %}
                    {% if not (content.inventory_choose == None or content.inventory_choose == []) %}
                        <tr>
                            <td rowspan="{{ content.inventory_choose|length + 2 }}"><a class="table-link">{{ content.product_name }}</a></td>
                            <td rowspan="{{ content.inventory_choose|length + 2 }}">{{ content.sku_specification }}</td>
                            <td rowspan="{{ content.inventory_choose|length + 2 }}">{{ content.square_num }}</td>
                            <td rowspan="{{ content.inventory_choose|length + 2 }}">{{ content.number }}</td>
                            <td>{{ content.price }}</td>
                            <td>{{ content.amount }}</td>
                            <td>{{ content.production_num }}</td>
                            <td>{{ content.memo }}</td>
                        </tr>

                        <tr>
                            <th>所选择库存经销商</th>
                            <th>所选择库存批次号</th>
                            <th>所选择库存生产日期</th>
                            <th>所选择库存数量</th>
                        </tr>

                        {% for inv in content.inventory_choose %}
                            <tr>
                                <td>{{ inv.get('username') }}</td>
                                <td>{{ inv.get('batch_no') }}</td>
                                <td>{{ inv.get('production_date') }}</td>
                                <td>{{ inv.get('num') }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td><a class="table-link">{{ content.product_name }}</a></td>
                            <td>{{ content.sku_specification }}</td>
                            <td>{{ content.square_num }}</td>
                            <td>{{ content.number }}</td>
                            <td>{{ content.price }}</td>
                            <td>{{ content.amount }}</td>
                            <td>{{ content.production_num }}</td>
                            <td>{{ content.memo }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    <form url="{{ url_for('order_manage.tracking_info_edit', id = tracking_info.id) }}" enctype="multipart/form-data" method="post" class="form form-horizontal" >
        <div class="widget top-gap-1">
            <div class="widget_header">
                <h4 class="widget_header_title"><span class="glyphicon glyphicon-th-large"></span>&nbsp;&nbsp;&nbsp;生产信息</h4>
            </div>

            <div class="widget_contents padding-0 item-wrapper">
                <div class="form-item item-template">
                <div style="width: 66%;">
                    <div class="form-item-2 col-3" style="width: 50% !important;">
                        <span>{{ form.production_date.label }}</span>
                        {{ form.production_date(class = 'form-input form-control datetimePicker') }}
                    </div>
                    <div class="form-item-2 col-3" style="width: 50% !important;">
                        <span>{{ form.production_manager.label }}</span>
                        {{ form.production_manager(class = 'form-input form-control') }}
                    </div>
                    <div class="form-item-2 col-3" style="width: 50% !important;">
                        <span>{{ form.production_starts_at.label }}</span>
                        {{ form.production_starts_at(class = 'form-input form-control  datetimePicker') }}
                    </div>
                    <div class="form-item-2 col-3" style="width: 50% !important;">
                        <span>{{ form.production_ends_at.label }}</span>
                        {{ form.production_ends_at(class = 'form-input form-control  datetimePicker') }}
                    </div> 
                </div>

                <div style="width: 33%; display: inline;">
                    <div id="qrcode_field_wrapper" class="form-item-2">
                    {% if tracking_info.qrcode_image %}
                        <a href="{{ url_for('order_manage.tracking_info_qrcode', id = tracking_info.id) }}">
                            <img src="{{ tracking_info.qrcode_image_path }}" style="width: 100%;">
                        </a>
                    {% else %}
                        <a id="create_qrcode_btn" name="{{tracking_info.id}}" class="btn btn-info">生成二维码</a>
                    {% endif %}
                    </div>
                </div>

                </div>
            </div>
        </div>

        <div class="widget top-gap-1">
            <div class="widget_header">
                <h4 class="widget_header_title"><span class="glyphicon glyphicon-th-large"></span>&nbsp;&nbsp;&nbsp;物流信息</h4>
            </div>

            <div class="widget_contents padding-0 item-wrapper">
                <div class="form-item item-template">
                    <div class="form-item-2 col-3">
                        <span>{{ form.delivery_date.label }}</span>
                        {{ form.delivery_date(class = 'form-input form-control  datetimePicker') }}
                    </div>
                    {% for info in delivery_infos_dict %}
                    <div class="form-item-2 col-3">
                        <span style="font-size: 12px;"><label for="{{ info[0] }}">{{ info[1] }}</label></span>
                        <input name="{{ info[0] }}" id="{{ info[0] }}" value="{{ tracking_info.delivery_infos.get(info[0]) or '' }}"
                               class="form-input form-control" type="text">
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="text-right top-gap-1">
                <a href="{{ url_for('order_manage.tracking_infos') }}" class="btn btn-default my-btn">返回</a>
                <button type="submit" class="btn btn-default my-btn">提交</button>
            </div>
        </div>
    </form>

    
</div>

{% endblock %}

