{% extends 'base.html' %}
{% block content %}

	<form action="{{ url_for('content.option_edit', id = option.id) }}" method="post">
		<div>{{ form.name.label }}<div>{{ form.name }}</div></div>
		<div>{{ option.classification.name }} > {{ option.classification.category.name }}</div>
		{{ form.classification_id }}
		<div>
			<button type="submit">Update option</button>
			<a href="{{ url_for('content.classification_show', id = option.classification_id) }}">Cancel</a>
		</div>
	</form>

{% endblock %}