{% extends 'pc_base.html' %}
{% from 'macros/pc_partial.html' import sidebar %}
{% block main_content %}

{{ sidebar(active = 'file') }}
<div class="contents">
	<div class="contents-header">
		<div class="contents-header-img"><img class="full-img" src="/static/images/product.png" /></div>
		<p class="contents-header-p">三级目录</p>
		<p class="contents-header-p text-sm">Option</p>
		<a class="new-one" href="{{ url_for('content.new', category_id = option.classification.category_id, option_id = option.id) }}"><span class="glyphicon glyphicon-plus"></span></a>
	</div>
	<div class="separator"><span></span></div>
	<div class="widget">
		<div class="widget_header">
			<h4 class="widget_header_title"><span class="glyphicon glyphicon-th-large"></span>&nbsp;&nbsp;&nbsp;
				<a href="{{ url_for('content.category_index') }}" class="text-muted">目录列表</a> >
				<a href="{{ url_for('content.category_show', id = option.classification.category_id) }}" class="text-muted">{{ option.classification.category.name }}</a> >
				<a href="{{ url_for('content.classification_show', id = option.classification_id) }}" class="text-muted">{{ option.classification.name }}</a> >
				<a>{{ option.name }}</a>
			</h4>
		</div>
		<div class="widget_contents padding-0">
			<table class="tables">
				<thead>
					<tr>
						<th>名称</th>
						<th>创建日期</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
				{% for content in option.contents %}
					<tr>
						<td><a href="{{ url_for('content.show', id = content.id) }}" class="table-link">{{ content.name }}</a></td>
						<td>{{ content.created_at.strftime('%F %T') }}</td>
						<td>
							<a class="table-edit text-info" href="{{ url_for('content.edit', id = content.id) }}"><span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;编辑</a>
							<a class="table-del text-danger"><span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;删除</a>
						</td>
					</tr>								
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
			
{% endblock %}


