{% extends 'pc_base.html' %}
{% block custome_styles %}
	<link rel="stylesheet" href="{{ url_for('static', filename = 'stylesheets/login.css') }}">
{% endblock %}
{% block main_content %}
<div>
	<form id="bm_login_page" method="post" action="{{ url_for('backstage_management.account_login') }}" role="form">
		<div class="login_title text-center">LOGIN IN</div>
		<div class="login_border">
			<div class="login_panel">
				{{ form.csrf_token }}
				<h2>USERNAME</h2>
				<div style="width:100%; position:relative">
					{{ form.email(class="form-input form-control",placeholder="请输入email") }}
				</div>
				<h2>PASSWORD</h2>
				<div style="width:100%; position:relative">
					{{ form.password(class="form-input form-control",placeholder="请输入密码") }}
				</div>
				<p class="forgot"><a id="iforget" href="javascript:void(0);">忘记密码?</a></p>
				<div class="rem_me">
					<input type="checkbox" name="remember_me" id="save_me">
					<label for="checkbox">{{form.remember_me.label}}</label>
				</div>
				<input type="submit" name="button" id="button" value="登入" style="opacity: 0.7;">
			</div>
		</div>
	</form>
</div>

{% endblock %}