{% extends 'pc_base.html' %}
{% from 'macros/pc_partial.html' import sidebar with context %}
<!--{% from 'macros/pc_form_field_error.html' import render_form_field_error %}-->
{% block main_content %}

{{ sidebar(active = 'home') }}

<div class="contents">
    <div class="contents-header">
        <div class="contents-header-img"><img class="full-img" src="/static/images/product.png"/></div>
        <p class="contents-header-p">帐号信息</p>
        <p class="contents-header-p text-sm">user management</p>
    </div>
    <div class="separator"><span></span></div>
    <div class="widget_contents padding-0" style="background: #f5f8fa;">
		
			<div class="info">
				<div class="info-header clearfix">
					<div class="info-header-item col-3">
						<i class="glyphicon glyphicon-user"></i>
						&nbsp;
						<span>{{form.name.data}}</span>
					</div>
					<div class="info-header-item col-3" style="margin-top:26px; padding-bottom:0px;">
						<span>{{form.dept_ranges.label}} : {{form.dept_ranges.data}}</span>
					</div>
					<div class="info-header-item col-3" style="margin-top:26px; padding-bottom:0px;">
						<span>{{form.sale_range.label}} : {{form.sale_range.data}}</span>
					</div>
				</div>
				<div class="info-body clearfix">
					<div class="info-body-item col-2">
						<span>{{ form.user_type.label }} : {{ form.user_type.data }}</span>
					</div>
					<div class="info-body-item col-2">
						<span>{{form.email.label}} : {{form.email.data}}</span>
					</div>
					<div class="info-body-item col-2">
						<span>{{form.title.label}} : {{form.title.data}}</span>
					</div>
					<div class="info-body-item col-2">
						<span>{{form.nickname.label(id='label_nickname')}} : {{form.nickname.data}}</span>
					</div>
					<div class="info-body-item col-2">
						<span>{{form.phone.label(id='label_phone')}} : {{form.phone.data}}</span>
					</div>
					<div class="info-body-item col-2">
						<span>{{form.address.label}} : {{form.address.data}}</span>
					</div>
				</div>
			</div>
    </div>
</div>

{% endblock %}