{% extends 'pc_base.html' %}
{% from 'macros/pc_partial.html' import sidebar with context %}
{% from 'macros/pc_pagination.html' import paginate %}
{% block main_content %}

{{ sidebar(active = 'statistics') }}
<div class="contents">
	<div class="contents-header">
		<div class="contents-header-img"><img class="full-img" src="/static/images/product.png" /></div>
		<p class="contents-header-p">访问详情</p>
		<p class="contents-header-p text-sm">Details of access</p>
		<a class="new-one" href="{{ url_for('web_access_log.statistics') }}" title="分类统计"><span class="glyphicon glyphicon-stats"></span></a>
	</div>
	<div class="separator"><span></span></div>
    <form action="{{ url_for('web_access_log.index') }}" method="get" role="form" class="form form-horizontal" >
        <div class="form-style form-default">
            <div class="form-item-2 col-3">
                <span>操作系统</span>
                <select class="form-control" name="platform">
                    <option value=""></option>
                    {% for name in platform_list %}
                    <option value="{{ name }}">{{ name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-item-2 col-3">
                <span>访问时间从</span>
                <input class="form-control datetimePicker" name="created_at_gt" value="{{ request.args.get('created_at_gt') or '' }}">
            </div>
            <div class="form-item-2 col-3">
                <span>到</span>
                <input class="form-control datetimePicker" name="created_at_lt" value="{{ request.args.get('created_at_lt') or '' }}">
            </div>
            <div class="form-item-2 col-3">
                <span>浏览器</span>
                <select class="form-control" name="browser">
                    <option value=""></option>
                    {% for name in browser_list %}
                    <option value="{{ name }}">{{ name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="clearfix"></div>
            <div class="text-right top-gap-2 right-gap-3">
                <button class="btn btn-default my-btn">筛选条件</button>
            </div>
        </div>
    </form>
	<div class="widget">
		<div class="widget_header">
			<h4 class="widget_header_title"><span class="glyphicon glyphicon-th-large"></span>&nbsp;&nbsp;&nbsp;点击率统计</h4>
		</div>
		<div class="widget_contents padding-0">
			<table class="tables">
				<thead>
					<tr>
						<th>Request path</th>
						<th>Remote addr</th>
						<th>User ID</th>
						<th>Platform</th>
                        <th>Browser</th>
                        <th>Version</th>
                        <th>Language</th>
					</tr>
				</thead>
				<tbody>
				{% for log in object_list.items %}
					<tr>
						<td>{{ log.request_path }}</td>
						<td>{{ log.remote_addr }}</td>
						<td>{{ log.user_id }}</td>
						<td>{{ log.platform }}</td>
						<td>{{ log.browser }}</td>
						<td>{{ log.version }}</td>
						<td>{{ log.language }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
		<div style="text-align: center;">
			{{ paginate(object_list) }}
		</div>
	</div>
</div>

{% endblock %}

